<h1>The Effect of Vehicle Use on Accident Severity: Analysis of Chicago Traffic Data Using Supervised Machine Learning</h1>

**Sean Moffat**<br>
Data Scientist and Economist

September 10, 2020

*I'm interested in data science because I believe this field has a lot of overlap with economics. I've always been interested in how government agencies, businesses and individual people make decisions; this interest led to my degrees in economics. As an economist, I was trained to work with varied data sets, different software packages (such as SHAZAM, LIMDEP, EViews and SAS) and communicate my findings in a compelling manner (through written narrative or PowerPoint).* 

*I believe the fields of economics and data science have many things in common. Both fields are focused: finding data-driven solutions to problems, using tools to work with data and being able to communicate analysis finds (including recommendations) effectively.*

### The objective of this Python project is to support my capstone project for IBM's Data Science Professional Certificate offered by Coursera.
* I'll be using  Jupyter Notebook to complete this Applied Data Science Capstone project
* Here is a [link](https://www.ibm.com/blogs/ibm-training/data-science-ibm-coursera/) to IBM's press release for this course

<div class="alert alert-block alert-info" style="margin-top: 1px">
<h2>Table of contents</h2>

1. Introduction
1. Data
1. Methodology
1. Results
1. Discussion
1. Conclusions

</div>

<h2>1. Introduction</h2>
  
First responders (EMT's, fire fighters and police) across the United States have challenging careers where there is additional risk not needed when traveling to and from an incident calls. In 2017, collisions involving fire department emergency vehicles accounted for 1,005 injuries to firefighters in the U.S. according to [Evarts, Ben. (2018, November 1). U.S. Firefighter Injuries in 2017. NFPA Journal.](https://www.nfpa.org/News-and-Research/Publications-and-Media/NFPA-Journal/2018/November-December-2018/Features/US-Firefighter-Injuries-2017). Some police traffic accidents are a direct result of first responders disregarding their department's policies or disregarding a direct order to terminate a pursuit. In Chicago, police pursuits have increased in frequency and resulted in more damage. 

As a result of fatal policy pursuit crash on June 3, 2020 [(Charles, Sam. (2020, June 4). Lightfoot to change police pursuit policy after fatal crash. Chicago Sun-Times.)](https://chicago.suntimes.com/city-hall/2020/6/4/21280780/chicago-police-department-pursuit-policy-fatal-crash), Chicago's mayor as made swift changes to the police pursuit policy; this [policy was changed in August 2020](http://directives.chicagopolice.org/directives/data/a7a57be2-1291920c-54712-9192-aecb02ef17e0c47d.pdf?hl=true)

First responders involved in traffic accidents en route to incident calls have immeasurable costs to those requesting help along with those answering the call for help. It is in everyone's interest to know and understand the facts of this situation. With a shared understanding of the facts, the general public, elected officials and first responders can develop data-driven policies to mitigate accidents during first responders' incident calls.

This analysis will predict the severity of an accidents involving ambulance, fire and police (first responders) and personal use vehicles. Including personal use vehicles will serve as control to help compare accident incident rates between emergency and non-emergency vehicles.

<h2>2. Data</h2>

I used one data source for this analysis, [The City of Chicago's open data portal](https://data.cityofchicago.org/). Specifically, this analysis used data sets from Traffic Crashes subject area under the Transportation genre. The traffic crashes data sets report information on each traffic crash on city streets within the City of Chicago limits and under the jurisdiction of Chicago Police Department (CPD). 

Each of the Traffic Crashes data set file contain data from March 3, 2013 - September 7, 2020, although complete citywide data coverage didn't begin until September 1, 2017. These data sets were joined using the CRASH_RECORD_ID attribute. 

Lastly, a crash represents a collision between a car and one or more other cars, pedestrian, bicyclist, or fixed object. Below is a brief description of each data set, followed by Tables 1 and 2 which report traffic accidents figures by vehicle use and time. All data sets were accessed on September 8, 2020 at 11:45 a.m.

*__A. Crashes__* 

I collected *Crashes* data from The City of Chicago's open data portal for [Traffic Crashes - Crashes](https://data.cityofchicago.org/Transportation/Traffic-Crashes-Crashes/85ca-t3if) data. This file contains crash data, and each record in the file represents a unique traffic crash. 

In this analysis, I focus on a *subset* of vehicle types (defined as 'vehicle_use' attribute) for traffic accidents that occurred in Chicago from September 1, 2017 - August 31, 2020 (this covers 36 months). In addition, we limit the analysis to accidents involving at least one first responder (ambulance, fire and police) vehicle. For comparison purposes, we include personal vehicles as well. 

Information on crashes forms the building blocks for this analysis. The target variable (i.e., the label) for our supervised machine learning (SML) models comes from this data set. 


*__B. Vehicles__* 

I collected *Vehicles* data from The City of Chicago's open data portal for [Traffic Crashes - Vehicles](https://data.cityofchicago.org/Transportation/Traffic-Crashes-Vehicles/68nd-jvt3) data. This file contains information about vehicles involved in a traffic crash. Each record in the file represents a vehicle. A vehicle can have multiple occupants, as such, it is possible for records in the vehicle table to have a many to one relationship to the crashes table. 

The 'VEHICLE_USE' attribute will be used to identify ambulance, fire, police (representing first responders) and personal vehicles.


Table 1: Number of Traffic Accidents by Vehicle Use

| Vehicle Use | Number of Traffic<br>Accidents |
| :---        | :---:                          | 
| Ambulance   | 381                            | 
| Fire        | 341                            | 
| Police      | 2,081                          | 
| Personal    | 280,010                        | 
| Full subset | 282,813                        | 


Table 2: Number of Injuries from Traffic Accidents by Vehicle Use

| Vehicle Use | Number of Traffic<br>Accidents with Injuries | Mean     | Standard Deviation | Minimum | Maximum | 
| :---        | :---:                                        | :---:    | :---:              | :---:   | :---:   |
| Ambulance   | 25                                           | 0.065963 | 0.361328           | 0       | 5       |
| Fire        | 14                                           | 0.041298 | 0.274249           | 0       | 3       |
| Police      | 375                                          | 0.180897 | 0.592408           | 0       | 6       |
| Personal    | 56,813                                       | 0.203172 | 0.59001            | 0       | 19      |
| Full subset | 57,227                                       | aaa      | bbb                | 0       | ddd     |

In [1]:
# Step 1: Basic program set up, including importing a couple of useful libraries
# Printing the directory you are in
#import os
#print ("Current Directory : ", os.path.abspath('.'))
#print

# Printing what Python Version is installed
import sys
import platform
print ("Python Details : ", sys.version)
print ("Your Python Version is : ", platform.python_version())
print


# Importing useful Python libraries 
try:
    import pandas as pd 
    print ("pandas is installed; we're using version: ", pd.__version__)
except ImportError:
    sys.exit("Error : pandas can not be imported or not installed.")
print

try:
    import numpy as np 
    print ("NumPy is installed; we're using version: ", np.__version__)
except ImportError:
    sys.exit("Error : NumPy can not be imported or not installed.")
print

Python Details :  3.7.3 (default, Mar 27 2019, 16:54:48)
[Clang 4.0.1 (tags/RELEASE_401/final)]
Your Python Version is :  3.7.3
pandas is installed; we're using version:  0.25.1
NumPy is installed; we're using version:  1.16.4

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

<h2>2. Data</h2>
<p>
This section . . . multiple steps . . . 
</p>

<h2>2.1 Traffic Crashes - Crashes data set</h3>

<h3>2.1.1 Read Data</h3>
<p>
We use <code>pandas.read_csv()</code> function to read the csv file. In the bracket, we put the file path along with a quotation mark, so that pandas will read the file into a data frame from that address. The file path can be either an URL or your local file address.<br>
Because the data does not include headers, we can add an argument <code>headers = None</code>  inside the  <code>read_csv()</code> method, so that pandas will not automatically set the first row as a header.<br>
You can also assign the dataset to any variable you create.
</p>

In [3]:
# Storing the address in 'url' variable
# url = "https://data.cityofchicago.org/resource/85ca-t3if.csv"

# Importing the file from the address contained in 'url' into 'df'
#df = pd.read_csv(url, delimiter=',', nrows = None)
# Comment: Using the url method was only importing 1000 records; nrows=None option didn't resolve the issue. To work around this, I downloaded the csv file to my machine


df = pd.read_csv("/Users/smoffat/Documents/input/Traffic_Crashes_-_Crashes.csv", delimiter=',', nrows = None)
# Data source: https://data.cityofchicago.org/Transportation/Traffic-Crashes-Crashes/85ca-t3if
# Data accessed on September 8, 2020 11:45 a.m.
# Per data source ". . . citywide data are not available until September 2017"


# Showing the first 5 rows of 'df'
df.head()

,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,073682ef84ff827659552d4254ad1b98bfec24935cc9cc...,JB460108,NaN,10/02/2018 06:30:00 PM,10,NO CONTROLS,NO CONTROLS,CLEAR,DARKNESS,PARKED MOTOR VEHICLE,...,0.0,0.0,1.0,0.0,18,3,10,NaN,NaN,NaN
1,1560fb8a1e32b528fef8bfd677d2b3fc5ab37278b157fa...,JC325941,NaN,06/27/2019 04:00:00 PM,45,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,...,0.0,0.0,2.0,0.0,16,5,6,NaN,NaN,NaN
2,009e9e67203442370272e1a13d6ee51a4155dac65e583d...,JA329216,NaN,06/30/2017 04:00:00 PM,35,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,...,0.0,0.0,3.0,0.0,16,6,6,41.741804,-87.740954,POINT (-87.740953581987 41.741803598989)
3,00e47f189660cd8ba1e85fc63061bf1d8465184393f134...,JC194776,NaN,03/21/2019 10:50:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",TURNING,...,0.0,0.0,2.0,0.0,22,5,3,41.741804,-87.740954,POINT (-87.740953581987 41.741803598989)
4,0126747fc9ffc0edc9a38abb83d80034f897db0f739eef...,JB200478,NaN,03/26/2018 02:23:00 PM,35,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,...,0.0,0.0,2.0,0.0,14,2,3,41.953647,-87.732082,POINT (-87.732081736006 41.953646899951)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437394 entries, 0 to 437393
Data columns (total 54 columns):
CRASH_RECORD_ID                   437394 non-null object
RD_NO                             433424 non-null object
CRASH_DATE_EST_I                  32508 non-null object
CRASH_DATE                        437394 non-null object
POSTED_SPEED_LIMIT                437394 non-null int64
TRAFFIC_CONTROL_DEVICE            437394 non-null object
DEVICE_CONDITION                  437394 non-null object
WEATHER_CONDITION                 437394 non-null object
LIGHTING_CONDITION                437394 non-null object
FIRST_CRASH_TYPE                  437394 non-null object
TRAFFICWAY_TYPE                   437394 non-null object
LANE_CNT                          198957 non-null float64
ALIGNMENT                         437394 non-null object
ROADWAY_SURFACE_COND              437394 non-null object
ROAD_DEFECT                       437394 non-null object
REPORT_TYPE                       427085 non-null object
CRASH_TYPE                        437394 non-null object
INTERSECTION_RELATED_I            98124 non-null object
NOT_RIGHT_OF_WAY_I                20497 non-null object
HIT_AND_RUN_I                     125360 non-null object
DAMAGE                            437394 non-null object
DATE_POLICE_NOTIFIED              437394 non-null object
PRIM_CONTRIBUTORY_CAUSE           437394 non-null object
SEC_CONTRIBUTORY_CAUSE            437394 non-null object
STREET_NO                         437394 non-null int64
STREET_DIRECTION                  437391 non-null object
STREET_NAME                       437393 non-null object
BEAT_OF_OCCURRENCE                437389 non-null float64
PHOTOS_TAKEN_I                    5532 non-null object
STATEMENTS_TAKEN_I                8852 non-null object
DOORING_I                         1450 non-null object
WORK_ZONE_I                       2926 non-null object
WORK_ZONE_TYPE                    2317 non-null object
WORKERS_PRESENT_I                 690 non-null object
NUM_UNITS                         437394 non-null int64
MOST_SEVERE_INJURY                436528 non-null object
INJURIES_TOTAL                    436538 non-null float64
INJURIES_FATAL                    436538 non-null float64
INJURIES_INCAPACITATING           436538 non-null float64
INJURIES_NON_INCAPACITATING       436538 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     436538 non-null float64
INJURIES_NO_INDICATION            436538 non-null float64
INJURIES_UNKNOWN                  436538 non-null float64
CRASH_HOUR                        437394 non-null int64
CRASH_DAY_OF_WEEK                 437394 non-null int64
CRASH_MONTH                       437394 non-null int64
LATITUDE                          435020 non-null float64
LONGITUDE                         435020 non-null float64
LOCATION                          435020 non-null object
CRASH_DATE_V02                    437394 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          437394 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY              437394 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    437394 non-null object
YEAR_OF_CRASH                     437394 non-null object
dtypes: datetime64[ns](2), float64(11), int64(6), object(35)
memory usage: 180.2+ MB

<h3>2.1.2 Initial data pre-processing</h3>
<p>
We use <code>pandas.read_csv()</code> function to read the csv file. In the bracket, we put the file path along with a quotation mark, so that pandas will read the file into a data frame from that address. The file path can be either an URL or your local file address.<br>
Because the data does not include headers, we can add an argument <code>headers = None</code>  inside the  <code>read_csv()</code> method, so that pandas will not automatically set the first row as a header.<br>
You can also assign the dataset to any variable you create.
</p>

In [7]:
# Data wrangling . . . , re: convert to 'date' attributes from source file date time object
df['CRASH_DATE_V02'] = pd.to_datetime(df['CRASH_DATE'])
df['DATE_POLICE_NOTIFIED_V02'] = pd.to_datetime(df['DATE_POLICE_NOTIFIED'])

# Using date time attribures created above, create new date only attributes 
df['CRASH_DATE-DATE_ONLY'] = df['CRASH_DATE_V02'].dt.date
df['DATE_POLICE_NOTIFIED-DATE_ONLY'] = df['DATE_POLICE_NOTIFIED_V02'].dt.date


# step 1: create a 'year' column
df['YEAR_OF_CRASH'] = df['CRASH_DATE_V02'].map(lambda x: x.strftime('%Y'))

df.head()

,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,...,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION,CRASH_DATE_V02,DATE_POLICE_NOTIFIED_V02,CRASH_DATE-DATE_ONLY,DATE_POLICE_NOTIFIED-DATE_ONLY,YEAR_OF_CRASH
0,073682ef84ff827659552d4254ad1b98bfec24935cc9cc...,JB460108,NaN,10/02/2018 06:30:00 PM,10,NO CONTROLS,NO CONTROLS,CLEAR,DARKNESS,PARKED MOTOR VEHICLE,...,3,10,NaN,NaN,NaN,2018-10-02 18:30:00,2018-10-02 19:35:00,2018-10-02,2018-10-02,2018
1,1560fb8a1e32b528fef8bfd677d2b3fc5ab37278b157fa...,JC325941,NaN,06/27/2019 04:00:00 PM,45,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,...,5,6,NaN,NaN,NaN,2019-06-27 16:00:00,2019-06-27 16:00:00,2019-06-27,2019-06-27,2019
2,009e9e67203442370272e1a13d6ee51a4155dac65e583d...,JA329216,NaN,06/30/2017 04:00:00 PM,35,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,...,6,6,41.741804,-87.740954,POINT (-87.740953581987 41.741803598989),2017-06-30 16:00:00,2017-06-30 16:01:00,2017-06-30,2017-06-30,2017
3,00e47f189660cd8ba1e85fc63061bf1d8465184393f134...,JC194776,NaN,03/21/2019 10:50:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",TURNING,...,5,3,41.741804,-87.740954,POINT (-87.740953581987 41.741803598989),2019-03-21 22:50:00,2019-03-21 22:52:00,2019-03-21,2019-03-21,2019
4,0126747fc9ffc0edc9a38abb83d80034f897db0f739eef...,JB200478,NaN,03/26/2018 02:23:00 PM,35,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,...,2,3,41.953647,-87.732082,POINT (-87.732081736006 41.953646899951),2018-03-26 14:23:00,2018-03-26 15:20:00,2018-03-26,2018-03-26,2018

In [8]:
# step 2: group by the created columns
grouped_df = df.groupby('YEAR_OF_CRASH').size()

grouped_df

YEAR_OF_CRASH
2013         1
2014         6
2015      9828
2016     44296
2017     83785
2018    118945
2019    117745
2020     62788
dtype: int64

In [9]:
from datetime import date

date_from = pd.Timestamp(date(2017,9,1))
date_to = pd.Timestamp(date(2020,9,1))

# df is defined in the previous example

df_01 = df[
    (df['CRASH_DATE_V02'] >= date_from ) & 
    (df['CRASH_DATE_V02'] < date_to)
]

# step 2: group by the created columns
grouped_df_01 = df_01.groupby('YEAR_OF_CRASH').size()

print(grouped_df_01)

print("----- OUTPUT BREAK -----")
print(df_01.info())

YEAR_OF_CRASH
2017     38682
2018    118945
2019    117745
2020     61084
dtype: int64
----- OUTPUT BREAK -----
<class 'pandas.core.frame.DataFrame'>
Int64Index: 336456 entries, 0 to 437393
Data columns (total 54 columns):
CRASH_RECORD_ID                   336456 non-null object
RD_NO                             334190 non-null object
CRASH_DATE_EST_I                  23533 non-null object
CRASH_DATE                        336456 non-null object
POSTED_SPEED_LIMIT                336456 non-null int64
TRAFFIC_CONTROL_DEVICE            336456 non-null object
DEVICE_CONDITION                  336456 non-null object
WEATHER_CONDITION                 336456 non-null object
LIGHTING_CONDITION                336456 non-null object
FIRST_CRASH_TYPE                  336456 non-null object
TRAFFICWAY_TYPE                   336456 non-null object
LANE_CNT                          116756 non-null float64
ALIGNMENT                         336456 non-null object
ROADWAY_SURFACE_COND              336456 non-null object
ROAD_DEFECT                       336456 non-null object
REPORT_TYPE                       327291 non-null object
CRASH_TYPE                        336456 non-null object
INTERSECTION_RELATED_I            79300 non-null object
NOT_RIGHT_OF_WAY_I                16198 non-null object
HIT_AND_RUN_I                     97538 non-null object
DAMAGE                            336456 non-null object
DATE_POLICE_NOTIFIED              336456 non-null object
PRIM_CONTRIBUTORY_CAUSE           336456 non-null object
SEC_CONTRIBUTORY_CAUSE            336456 non-null object
STREET_NO                         336456 non-null int64
STREET_DIRECTION                  336456 non-null object
STREET_NAME                       336456 non-null object
BEAT_OF_OCCURRENCE                336456 non-null float64
PHOTOS_TAKEN_I                    3931 non-null object
STATEMENTS_TAKEN_I                7188 non-null object
DOORING_I                         1150 non-null object
WORK_ZONE_I                       2132 non-null object
WORK_ZONE_TYPE                    1683 non-null object
WORKERS_PRESENT_I                 553 non-null object
NUM_UNITS                         336456 non-null int64
MOST_SEVERE_INJURY                335732 non-null object
INJURIES_TOTAL                    335738 non-null float64
INJURIES_FATAL                    335738 non-null float64
INJURIES_INCAPACITATING           335738 non-null float64
INJURIES_NON_INCAPACITATING       335738 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     335738 non-null float64
INJURIES_NO_INDICATION            335738 non-null float64
INJURIES_UNKNOWN                  335738 non-null float64
CRASH_HOUR                        336456 non-null int64
CRASH_DAY_OF_WEEK                 336456 non-null int64
CRASH_MONTH                       336456 non-null int64
LATITUDE                          334514 non-null float64
LONGITUDE                         334514 non-null float64
LOCATION                          334514 non-null object
CRASH_DATE_V02                    336456 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          336456 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY              336456 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    336456 non-null object
YEAR_OF_CRASH                     336456 non-null object
dtypes: datetime64[ns](2), float64(11), int64(6), object(35)
memory usage: 141.2+ MB
None

In [10]:
# sort crash_date_v02 - descending order
df_01_sorted = df_01.sort_values(by=['CRASH_DATE_V02', 'CRASH_RECORD_ID'], inplace=False, ascending=True)

#DataFrame.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')[source]

# Now that the data has been sorted, reset the index. We will need to drop the old index in the next step 
df_01_sorted.reset_index(inplace=True)


df_01_sorted.head()

,index,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,...,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION,CRASH_DATE_V02,DATE_POLICE_NOTIFIED_V02,CRASH_DATE-DATE_ONLY,DATE_POLICE_NOTIFIED-DATE_ONLY,YEAR_OF_CRASH
0,361284,d0890764b1f1bf6c7962ee48b4c0ffb7bb6d4c26491a6c...,JA416367,Y,09/01/2017 12:01:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",...,6,9,42.022638,-87.672691,POINT (-87.672690733517 42.022638211846),2017-09-01 00:01:00,2017-09-02 18:34:00,2017-09-01,2017-09-02,2017
1,119827,3ad0e3afc351588c7dbc6ab2046c3bf50102b9a5699f3d...,JA414071,NaN,09/01/2017 12:09:00 AM,30,UNKNOWN,UNKNOWN,CLEAR,"DARKNESS, LIGHTED ROAD",...,6,9,41.908094,-87.651737,POINT (-87.651737058543 41.908093682441),2017-09-01 00:09:00,2017-09-01 00:22:00,2017-09-01,2017-09-01,2017
2,276384,9bf2bc02db9f7e836195a5c941fc0cccde0eb587546a8c...,JA414095,NaN,09/01/2017 12:15:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",...,6,9,41.937644,-87.835916,POINT (-87.83591581189 41.937644324106),2017-09-01 00:15:00,2017-09-01 00:18:00,2017-09-01,2017-09-01,2017
3,399991,e8c53c9377ddc0d375f1760ce74087105834d7a7927399...,JA414073,NaN,09/01/2017 12:16:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",...,6,9,41.967943,-87.728165,POINT (-87.728165467282 41.967942646755),2017-09-01 00:16:00,2017-09-01 00:26:00,2017-09-01,2017-09-01,2017
4,41848,0a9c7528ec842abf0da9f232197fa20ff4bc4e3550bdb8...,JA414098,NaN,09/01/2017 12:30:00 AM,35,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",...,6,9,41.891208,-87.655734,POINT (-87.655734342734 41.891208139797),2017-09-01 00:30:00,2017-09-01 00:33:00,2017-09-01,2017-09-01,2017

<h3>2.1.3 Create draft working analysis set</h3>
<p>
We use <code>pandas.read_csv()</code> function to read the csv file. In the bracket, we put the file path along with a quotation mark, so that pandas will read the file into a data frame from that address. The file path can be either an URL or your local file address.<br>
Because the data does not include headers, we can add an argument <code>headers = None</code>  inside the  <code>read_csv()</code> method, so that pandas will not automatically set the first row as a header.<br>
You can also assign the dataset to any variable you create.
</p>

In [11]:
# The crashes dataframe has been subset to the date range of interest and we've performed a few transformations; 
# it is time to create a new data frame for crashes and move on to initial pre-precessing of our other data sets

df_crashes_sorted = df_01_sorted[['CRASH_RECORD_ID',
                                  'CRASH_DATE-DATE_ONLY',
                                  'CRASH_DATE',
                                  'DATE_POLICE_NOTIFIED-DATE_ONLY',
                                  'CRASH_DATE_V02',
                                  'DATE_POLICE_NOTIFIED_V02',
                                  'YEAR_OF_CRASH',
                                  'CRASH_HOUR',
                                  'CRASH_DAY_OF_WEEK',
                                  'CRASH_MONTH',
                                  'RD_NO',
                                  'POSTED_SPEED_LIMIT',
                                  'TRAFFIC_CONTROL_DEVICE',
                                  'DEVICE_CONDITION',
                                  'WEATHER_CONDITION',
                                  'LIGHTING_CONDITION',
                                  'FIRST_CRASH_TYPE',
                                  'TRAFFICWAY_TYPE',
                                  'LANE_CNT',
                                  'ALIGNMENT',
                                  'ROADWAY_SURFACE_COND',
                                  'ROAD_DEFECT',
                                  'REPORT_TYPE',
                                  'CRASH_TYPE',
                                  'INTERSECTION_RELATED_I',
                                  'NOT_RIGHT_OF_WAY_I',
                                  'HIT_AND_RUN_I',
                                  'DAMAGE',
                                  'PRIM_CONTRIBUTORY_CAUSE',
                                  'SEC_CONTRIBUTORY_CAUSE',
                                  'BEAT_OF_OCCURRENCE',
                                  'DOORING_I',
                                  'WORK_ZONE_I',
                                  'WORK_ZONE_TYPE',
                                  'WORKERS_PRESENT_I',
                                  'NUM_UNITS',
                                  'MOST_SEVERE_INJURY',
                                  'INJURIES_TOTAL',
                                  'INJURIES_FATAL',
                                  'INJURIES_INCAPACITATING',
                                  'INJURIES_NON_INCAPACITATING',
                                  'INJURIES_REPORTED_NOT_EVIDENT',
                                  'INJURIES_NO_INDICATION',
                                  'INJURIES_UNKNOWN',
                                  'LATITUDE',
                                  'LONGITUDE',
                                  'LOCATION'
                                 ]].copy()

df_crashes_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336456 entries, 0 to 336455
Data columns (total 47 columns):
CRASH_RECORD_ID                   336456 non-null object
CRASH_DATE-DATE_ONLY              336456 non-null object
CRASH_DATE                        336456 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    336456 non-null object
CRASH_DATE_V02                    336456 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          336456 non-null datetime64[ns]
YEAR_OF_CRASH                     336456 non-null object
CRASH_HOUR                        336456 non-null int64
CRASH_DAY_OF_WEEK                 336456 non-null int64
CRASH_MONTH                       336456 non-null int64
RD_NO                             334190 non-null object
POSTED_SPEED_LIMIT                336456 non-null int64
TRAFFIC_CONTROL_DEVICE            336456 non-null object
DEVICE_CONDITION                  336456 non-null object
WEATHER_CONDITION                 336456 non-null object
LIGHTING_CONDITION                336456 non-null object
FIRST_CRASH_TYPE                  336456 non-null object
TRAFFICWAY_TYPE                   336456 non-null object
LANE_CNT                          116756 non-null float64
ALIGNMENT                         336456 non-null object
ROADWAY_SURFACE_COND              336456 non-null object
ROAD_DEFECT                       336456 non-null object
REPORT_TYPE                       327291 non-null object
CRASH_TYPE                        336456 non-null object
INTERSECTION_RELATED_I            79300 non-null object
NOT_RIGHT_OF_WAY_I                16198 non-null object
HIT_AND_RUN_I                     97538 non-null object
DAMAGE                            336456 non-null object
PRIM_CONTRIBUTORY_CAUSE           336456 non-null object
SEC_CONTRIBUTORY_CAUSE            336456 non-null object
BEAT_OF_OCCURRENCE                336456 non-null float64
DOORING_I                         1150 non-null object
WORK_ZONE_I                       2132 non-null object
WORK_ZONE_TYPE                    1683 non-null object
WORKERS_PRESENT_I                 553 non-null object
NUM_UNITS                         336456 non-null int64
MOST_SEVERE_INJURY                335732 non-null object
INJURIES_TOTAL                    335738 non-null float64
INJURIES_FATAL                    335738 non-null float64
INJURIES_INCAPACITATING           335738 non-null float64
INJURIES_NON_INCAPACITATING       335738 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     335738 non-null float64
INJURIES_NO_INDICATION            335738 non-null float64
INJURIES_UNKNOWN                  335738 non-null float64
LATITUDE                          334514 non-null float64
LONGITUDE                         334514 non-null float64
LOCATION                          334514 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(29)
memory usage: 120.6+ MB

In [12]:
# Time to free up some memory . . . 
# In python automatic garbage collection deallocates the variable (pandas DataFrame are also just another object in terms of python). There are different garbage collection strategies that can be tweaked (requires significant learning).
# You can manually trigger the garbage collection using

import gc
#gc.collect()

del [[df, 
      grouped_df, 
      df_01, 
      grouped_df_01, 
      df_01_sorted
     ]]

<h2>2.2 Traffic Crashes - Vehicles data set</h2>

<h3>2.2.1 Read Data</h3>
<p>
. . . 
</p>

In [13]:
df = pd.read_csv("/Users/smoffat/Documents/input/Traffic_Crashes_-_Vehicles.csv", delimiter=',', nrows = None)
# Data source: https://data.cityofchicago.org/Transportation/Traffic-Crashes-Vehicles/68nd-jvt3
# Data accessed on September 8, 2020 11:45 a.m.
# Per data source ". . . citywide data are not available until September 2017"


# Showing the first 5 rows of 'df'
df.head()

/Users/smoffat/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (19,21,40,41,42,44,48,49,50,55,58,59,61) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,10,2e31858c0e411f0bdcb337fb7c415aa93763cf2f23e02f...,HY368708,08/04/2015 12:40:00 PM,1,DRIVER,NaN,10.0,NaN,FORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100,e73b35bd7651b0c6693162bee0666db159b28901437009...,HY374018,07/31/2015 05:50:00 PM,1,DRIVER,NaN,96.0,NaN,NISSAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000,f2b1adeb85a15112e4fb7db74bff440d6ca53ff7a21e10...,HY407431,09/02/2015 11:45:00 AM,1,DRIVER,NaN,954.0,NaN,FORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000,15a3e24fce3ce7cd2b02d44013d1a93ff2fbdca80632ec...,HY484148,10/31/2015 09:30:00 PM,2,DRIVER,NaN,9561.0,NaN,HYUNDAI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100000,1d3c178880366c77deaf06b8c3198429112a1c8e8807ed...,HZ518934,11/16/2016 01:00:00 PM,2,PARKED,NaN,96745.0,NaN,"TOYOTA MOTOR COMPANY, LTD.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891043 entries, 0 to 891042
Data columns (total 72 columns):
CRASH_UNIT_ID               891043 non-null int64
CRASH_RECORD_ID             891043 non-null object
RD_NO                       882930 non-null object
CRASH_DATE                  891043 non-null object
UNIT_NO                     891043 non-null int64
UNIT_TYPE                   889706 non-null object
NUM_PASSENGERS              134409 non-null float64
VEHICLE_ID                  870330 non-null float64
CMRC_VEH_I                  16511 non-null object
MAKE                        870325 non-null object
MODEL                       870192 non-null object
LIC_PLATE_STATE             798462 non-null object
VEHICLE_YEAR                730736 non-null float64
VEHICLE_DEFECT              870330 non-null object
VEHICLE_TYPE                870330 non-null object
VEHICLE_USE                 870330 non-null object
TRAVEL_DIRECTION            870330 non-null object
MANEUVER                    870330 non-null object
TOWED_I                     96010 non-null object
FIRE_I                      588 non-null object
OCCUPANT_CNT                870330 non-null float64
EXCEED_SPEED_LIMIT_I        2384 non-null object
TOWED_BY                    69745 non-null object
TOWED_TO                    44009 non-null object
AREA_00_I                   35751 non-null object
AREA_01_I                   229745 non-null object
AREA_02_I                   156725 non-null object
AREA_03_I                   84809 non-null object
AREA_04_I                   90932 non-null object
AREA_05_I                   136613 non-null object
AREA_06_I                   131684 non-null object
AREA_07_I                   111123 non-null object
AREA_08_I                   156875 non-null object
AREA_09_I                   30181 non-null object
AREA_10_I                   44094 non-null object
AREA_11_I                   87764 non-null object
AREA_12_I                   85906 non-null object
AREA_99_I                   92106 non-null object
FIRST_CONTACT_POINT         865438 non-null object
CMV_ID                      9533 non-null float64
USDOT_NO                    5585 non-null object
CCMC_NO                     1235 non-null object
ILCC_NO                     912 non-null object
COMMERCIAL_SRC              6907 non-null object
GVWR                        5538 non-null object
CARRIER_NAME                9147 non-null object
CARRIER_STATE               8664 non-null object
CARRIER_CITY                8513 non-null object
HAZMAT_PLACARDS_I           189 non-null object
HAZMAT_NAME                 36 non-null object
UN_NO                       355 non-null object
HAZMAT_PRESENT_I            7012 non-null object
HAZMAT_REPORT_I             6794 non-null object
HAZMAT_REPORT_NO            0 non-null float64
MCS_REPORT_I                6846 non-null object
MCS_REPORT_NO               5 non-null object
HAZMAT_VIO_CAUSE_CRASH_I    6902 non-null object
MCS_VIO_CAUSE_CRASH_I       6797 non-null object
IDOT_PERMIT_NO              569 non-null object
WIDE_LOAD_I                 81 non-null object
TRAILER1_WIDTH              2033 non-null object
TRAILER2_WIDTH              232 non-null object
TRAILER1_LENGTH             1664 non-null float64
TRAILER2_LENGTH             47 non-null float64
TOTAL_VEHICLE_LENGTH        2013 non-null float64
AXLE_CNT                    2827 non-null float64
VEHICLE_CONFIG              7960 non-null object
CARGO_BODY_TYPE             7632 non-null object
LOAD_TYPE                   7299 non-null object
HAZMAT_OUT_OF_SERVICE_I     6596 non-null object
MCS_OUT_OF_SERVICE_I        6779 non-null object
HAZMAT_CLASS                651 non-null object
dtypes: float64(10), int64(2), object(60)
memory usage: 489.5+ MB

<h3>2.2.2 Initial data pre-processing</h3>
<p>
. . . 
</p>

In [15]:
# Data wrangling . . . , re: convert to 'date' attributes from source file date time object
df['CRASH_DATE_V02'] = pd.to_datetime(df['CRASH_DATE'])

# Using date time attribures created above, create new date only attributes 
df['CRASH_DATE-DATE_ONLY'] = df['CRASH_DATE_V02'].dt.date


# step 1: create a 'year' column
df['YEAR_OF_CRASH'] = df['CRASH_DATE_V02'].map(lambda x: x.strftime('%Y'))

df.head()

,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,...,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS,CRASH_DATE_V02,CRASH_DATE-DATE_ONLY,YEAR_OF_CRASH
0,10,2e31858c0e411f0bdcb337fb7c415aa93763cf2f23e02f...,HY368708,08/04/2015 12:40:00 PM,1,DRIVER,NaN,10.0,NaN,FORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-04 12:40:00,2015-08-04,2015
1,100,e73b35bd7651b0c6693162bee0666db159b28901437009...,HY374018,07/31/2015 05:50:00 PM,1,DRIVER,NaN,96.0,NaN,NISSAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-07-31 17:50:00,2015-07-31,2015
2,1000,f2b1adeb85a15112e4fb7db74bff440d6ca53ff7a21e10...,HY407431,09/02/2015 11:45:00 AM,1,DRIVER,NaN,954.0,NaN,FORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02 11:45:00,2015-09-02,2015
3,10000,15a3e24fce3ce7cd2b02d44013d1a93ff2fbdca80632ec...,HY484148,10/31/2015 09:30:00 PM,2,DRIVER,NaN,9561.0,NaN,HYUNDAI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-31 21:30:00,2015-10-31,2015
4,100000,1d3c178880366c77deaf06b8c3198429112a1c8e8807ed...,HZ518934,11/16/2016 01:00:00 PM,2,PARKED,NaN,96745.0,NaN,"TOYOTA MOTOR COMPANY, LTD.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-11-16 13:00:00,2016-11-16,2016

In [16]:
# step 2: group by the created columns
grouped_df = df.groupby('YEAR_OF_CRASH').size()

print(grouped_df)

YEAR_OF_CRASH
2013         2
2014        12
2015     19681
2016     89144
2017    170190
2018    241858
2019    240120
2020    130036
dtype: int64

In [17]:
from datetime import date

date_from = pd.Timestamp(date(2017,9,1))
date_to = pd.Timestamp(date(2020,9,1))

# df is defined in the previous example

df_01 = df[
    (df['CRASH_DATE_V02'] >= date_from ) & 
    (df['CRASH_DATE_V02'] < date_to)
]

# step 2: group by the created columns
grouped_df_01 = df_01.groupby('YEAR_OF_CRASH').size()

print(grouped_df_01)

print("----- OUTPUT BREAK -----")
print(df_01.info())

YEAR_OF_CRASH
2017     79046
2018    241858
2019    240120
2020    126560
dtype: int64
----- OUTPUT BREAK -----
<class 'pandas.core.frame.DataFrame'>
Int64Index: 687584 entries, 1052 to 891042
Data columns (total 75 columns):
CRASH_UNIT_ID               687584 non-null int64
CRASH_RECORD_ID             687584 non-null object
RD_NO                       682947 non-null object
CRASH_DATE                  687584 non-null object
UNIT_NO                     687584 non-null int64
UNIT_TYPE                   686458 non-null object
NUM_PASSENGERS              106318 non-null float64
VEHICLE_ID                  669799 non-null float64
CMRC_VEH_I                  14432 non-null object
MAKE                        669794 non-null object
MODEL                       669665 non-null object
LIC_PLATE_STATE             614338 non-null object
VEHICLE_YEAR                560475 non-null float64
VEHICLE_DEFECT              669799 non-null object
VEHICLE_TYPE                669799 non-null object
VEHICLE_USE                 669799 non-null object
TRAVEL_DIRECTION            669799 non-null object
MANEUVER                    669799 non-null object
TOWED_I                     86007 non-null object
FIRE_I                      509 non-null object
OCCUPANT_CNT                669799 non-null float64
EXCEED_SPEED_LIMIT_I        1744 non-null object
TOWED_BY                    62694 non-null object
TOWED_TO                    38749 non-null object
AREA_00_I                   24706 non-null object
AREA_01_I                   181210 non-null object
AREA_02_I                   120919 non-null object
AREA_03_I                   65122 non-null object
AREA_04_I                   69505 non-null object
AREA_05_I                   101597 non-null object
AREA_06_I                   106054 non-null object
AREA_07_I                   90043 non-null object
AREA_08_I                   118897 non-null object
AREA_09_I                   29372 non-null object
AREA_10_I                   42081 non-null object
AREA_11_I                   84637 non-null object
AREA_12_I                   83324 non-null object
AREA_99_I                   69946 non-null object
FIRST_CONTACT_POINT         664994 non-null object
CMV_ID                      8389 non-null float64
USDOT_NO                    4962 non-null object
CCMC_NO                     1097 non-null object
ILCC_NO                     794 non-null object
COMMERCIAL_SRC              6064 non-null object
GVWR                        4891 non-null object
CARRIER_NAME                8043 non-null object
CARRIER_STATE               7622 non-null object
CARRIER_CITY                7491 non-null object
HAZMAT_PLACARDS_I           168 non-null object
HAZMAT_NAME                 32 non-null object
UN_NO                       317 non-null object
HAZMAT_PRESENT_I            6180 non-null object
HAZMAT_REPORT_I             5984 non-null object
HAZMAT_REPORT_NO            0 non-null float64
MCS_REPORT_I                6031 non-null object
MCS_REPORT_NO               4 non-null object
HAZMAT_VIO_CAUSE_CRASH_I    6081 non-null object
MCS_VIO_CAUSE_CRASH_I       5984 non-null object
IDOT_PERMIT_NO              503 non-null object
WIDE_LOAD_I                 74 non-null object
TRAILER1_WIDTH              1695 non-null object
TRAILER2_WIDTH              189 non-null object
TRAILER1_LENGTH             1423 non-null float64
TRAILER2_LENGTH             38 non-null float64
TOTAL_VEHICLE_LENGTH        1694 non-null float64
AXLE_CNT                    2421 non-null float64
VEHICLE_CONFIG              6994 non-null object
CARGO_BODY_TYPE             6684 non-null object
LOAD_TYPE                   6366 non-null object
HAZMAT_OUT_OF_SERVICE_I     5822 non-null object
MCS_OUT_OF_SERVICE_I        5971 non-null object
HAZMAT_CLASS                584 non-null object
CRASH_DATE_V02              687584 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY        687584 non-null object
YEAR_OF_CRASH               687584 non-null object
dtypes: datetime64[ns](1), float64(10), int64(2), object(62)
memory usage: 398.7+ MB
None

In [18]:
# sort crash_date_v02 - descending order
df_01_sorted = df_01.sort_values(by=['CRASH_DATE_V02', 'CRASH_RECORD_ID'], inplace=False, ascending=True)

#DataFrame.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')[source]

# Now that the data has been sorted, reset the index. We will need to drop the old index in the next step 
df_01_sorted.reset_index(inplace=True)


df_01_sorted.head()

,index,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,...,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS,CRASH_DATE_V02,CRASH_DATE-DATE_ONLY,YEAR_OF_CRASH
0,114673,210124,d0890764b1f1bf6c7962ee48b4c0ffb7bb6d4c26491a6c...,JA416367,09/01/2017 12:01:00 AM,1,DRIVER,NaN,206621.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-01 00:01:00,2017-09-01,2017
1,114674,210125,d0890764b1f1bf6c7962ee48b4c0ffb7bb6d4c26491a6c...,JA416367,09/01/2017 12:01:00 AM,2,PARKED,NaN,206622.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-01 00:01:00,2017-09-01,2017
2,113546,209027,3ad0e3afc351588c7dbc6ab2046c3bf50102b9a5699f3d...,JA414071,09/01/2017 12:09:00 AM,2,DRIVER,NaN,205587.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-01 00:09:00,2017-09-01,2017
3,113547,209028,3ad0e3afc351588c7dbc6ab2046c3bf50102b9a5699f3d...,JA414071,09/01/2017 12:09:00 AM,1,DRIVER,NaN,205590.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-01 00:09:00,2017-09-01,2017
4,113559,209039,9bf2bc02db9f7e836195a5c941fc0cccde0eb587546a8c...,JA414095,09/01/2017 12:15:00 AM,1,DRIVER,NaN,205597.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-01 00:15:00,2017-09-01,2017

<h3>2.2.3 Create draft working analysis set</h3>
<p>
...
</p>

In [19]:
# The vehicles dataframe has been subset to the date range of interest and we've performed a few transformations; 
# it is time to create a new data frame for vehicles and move on to initial pre-precessing of our other data sets

df_vehicles_sorted = df_01_sorted[['CRASH_RECORD_ID', 
                                   'YEAR_OF_CRASH', 
                                   'CRASH_DATE_V02', 
                                   'CRASH_DATE-DATE_ONLY', 
                                   'OCCUPANT_CNT', 
                                   'UNIT_TYPE', 
                                   'NUM_PASSENGERS', 
                                   'VEHICLE_USE', 
                                   'FIRST_CONTACT_POINT'
                                  ]].copy()

df_vehicles_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687584 entries, 0 to 687583
Data columns (total 9 columns):
CRASH_RECORD_ID         687584 non-null object
YEAR_OF_CRASH           687584 non-null object
CRASH_DATE_V02          687584 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    687584 non-null object
OCCUPANT_CNT            669799 non-null float64
UNIT_TYPE               686458 non-null object
NUM_PASSENGERS          106318 non-null float64
VEHICLE_USE             669799 non-null object
FIRST_CONTACT_POINT     664994 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 47.2+ MB

In [20]:
# Time to free up some memory . . . 
# In python automatic garbage collection deallocates the variable (pandas DataFrame are also just another object in terms of python). There are different garbage collection strategies that can be tweaked (requires significant learning).
# You can manually trigger the garbage collection using

del [[df, 
      grouped_df, 
      df_01, 
      grouped_df_01, 
      df_01_sorted
     ]]

<h2>2.3 Slice 'vehicles' dataframe to keep records of interest</h2>
<p>
Our analysis is focused accidents involving the following vehicle use: ambulance, fire, police and personal
</p>

<h3>2.3.1 Ambulance vehicles</h3>
<p>
...
</p>

In [21]:
# Slice the dataframe to keep rows with specific vehicles 
df_2017 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2017"]))]
df_2017_ambulance = df_2017[(df_2017.VEHICLE_USE.isin(["AMBULANCE"]))]
print("** df_2017_ambulance.info() **")
df_2017_ambulance.info()

df_2017_ambulance_v01 = df_2017_ambulance[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2017_ambulance_v01.info() **")
df_2017_ambulance_v01.info()

# Clean up 
del [[df_2017, 
      df_2017_ambulance
     ]]
print(' ')
print(' ')
#####
#####
#####
df_2018 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2018"]))]
df_2018_ambulance = df_2018[(df_2018.VEHICLE_USE.isin(["AMBULANCE"]))]
print("** df_2018_ambulance.info() **")
df_2018_ambulance.info()

df_2018_ambulance_v01 = df_2018_ambulance[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2018_ambulance_v01.info() **")
df_2018_ambulance_v01.info()

# Clean up 
del [[df_2018, 
      df_2018_ambulance
     ]]
print(' ')
print(' ')
#####
#####
#####
df_2019 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2019"]))]
df_2019_ambulance = df_2019[(df_2019.VEHICLE_USE.isin(["AMBULANCE"]))]
print("** df_2019_ambulance.info() **")
df_2019_ambulance.info()

df_2019_ambulance_v01 = df_2019_ambulance[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2019_ambulance_v01.info() **")
df_2019_ambulance_v01.info()

# Clean up 
del [[df_2019, 
      df_2019_ambulance
     ]]
print(' ')
print(' ')
#####
#####
#####
df_2020 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2020"]))]
df_2020_ambulance = df_2020[(df_2020.VEHICLE_USE.isin(["AMBULANCE"]))]
print("** df_2020_ambulance.info() **")
df_2020_ambulance.info()

df_2020_ambulance_v01 = df_2020_ambulance[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2020_ambulance_v01.info() **")
df_2020_ambulance_v01.info()

# Clean up 
del [[df_2020, 
      df_2020_ambulance
     ]]

** df_2017_ambulance.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 3238 to 78572
Data columns (total 9 columns):
CRASH_RECORD_ID         80 non-null object
YEAR_OF_CRASH           80 non-null object
CRASH_DATE_V02          80 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    80 non-null object
OCCUPANT_CNT            80 non-null float64
UNIT_TYPE               80 non-null object
NUM_PASSENGERS          48 non-null float64
VEHICLE_USE             80 non-null object
FIRST_CONTACT_POINT     80 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 6.2+ KB
----- OUTPUT BREAK -----
** df_2017_ambulance_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 3238 to 78572
Data columns (total 2 columns):
CRASH_RECORD_ID    80 non-null object
VEHICLE_USE        80 non-null object
dtypes: object(2)
memory usage: 1.9+ KB


** df_2018_ambulance.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 282 entries, 79516 to 320529
Data columns (total 9 columns):
CRASH_RECORD_ID         282 non-null object
YEAR_OF_CRASH           282 non-null object
CRASH_DATE_V02          282 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    282 non-null object
OCCUPANT_CNT            282 non-null float64
UNIT_TYPE               282 non-null object
NUM_PASSENGERS          144 non-null float64
VEHICLE_USE             282 non-null object
FIRST_CONTACT_POINT     281 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 22.0+ KB
----- OUTPUT BREAK -----
** df_2018_ambulance_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 282 entries, 79516 to 320529
Data columns (total 2 columns):
CRASH_RECORD_ID    282 non-null object
VEHICLE_USE        282 non-null object
dtypes: object(2)
memory usage: 6.6+ KB


** df_2019_ambulance.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 269 entries, 322070 to 560597
Data columns (total 9 columns):
CRASH_RECORD_ID         269 non-null object
YEAR_OF_CRASH           269 non-null object
CRASH_DATE_V02          269 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    269 non-null object
OCCUPANT_CNT            269 non-null float64
UNIT_TYPE               269 non-null object
NUM_PASSENGERS          145 non-null float64
VEHICLE_USE             269 non-null object
FIRST_CONTACT_POINT     263 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 21.0+ KB
----- OUTPUT BREAK -----
** df_2019_ambulance_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 269 entries, 322070 to 560597
Data columns (total 2 columns):
CRASH_RECORD_ID    269 non-null object
VEHICLE_USE        269 non-null object
dtypes: object(2)
memory usage: 6.3+ KB


** df_2020_ambulance.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 186 entries, 561796 to 687487
Data columns (total 9 columns):
CRASH_RECORD_ID         186 non-null object
YEAR_OF_CRASH           186 non-null object
CRASH_DATE_V02          186 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    186 non-null object
OCCUPANT_CNT            186 non-null float64
UNIT_TYPE               186 non-null object
NUM_PASSENGERS          96 non-null float64
VEHICLE_USE             186 non-null object
FIRST_CONTACT_POINT     181 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 14.5+ KB
----- OUTPUT BREAK -----
** df_2020_ambulance_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 186 entries, 561796 to 687487
Data columns (total 2 columns):
CRASH_RECORD_ID    186 non-null object
VEHICLE_USE        186 non-null object
dtypes: object(2)
memory usage: 4.4+ KB

<h3>2.3.2 Fire vehicles</h3>
<p>
...
</p>

In [22]:
# Slice the dataframe to keep rows with specific vehicles 
df_2017 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2017"]))]
df_2017_fire = df_2017[(df_2017.VEHICLE_USE.isin(["FIRE"]))]
print("** df_2017_fire.info() **")
df_2017_fire.info()

df_2017_fire_v01 = df_2017_fire[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2017_fire_v01.info() **")
df_2017_fire_v01.info()

# Clean up 
del [[df_2017, 
      df_2017_fire
     ]]
print(' ')
print(' ')
#####
#####
#####
df_2018 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2018"]))]
df_2018_fire = df_2018[(df_2018.VEHICLE_USE.isin(["FIRE"]))]
print("** df_2018_fire.info() **")
df_2018_fire.info()

df_2018_fire_v01 = df_2018_fire[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2018_fire_v01.info() **")
df_2018_fire_v01.info()

# Clean up 
del [[df_2018, 
      df_2018_fire
     ]]
print(' ')
print(' ')
#####
#####
#####
df_2019 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2019"]))]
df_2019_fire = df_2019[(df_2019.VEHICLE_USE.isin(["FIRE"]))]
print("** df_2019_fire.info() **")
df_2019_fire.info()

df_2019_fire_v01 = df_2019_fire[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2019_fire_v01.info() **")
df_2019_fire_v01.info()

# Clean up 
del [[df_2019, 
      df_2019_fire
     ]]
print(' ')
print(' ')
#####
#####
#####
df_2020 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2020"]))]
df_2020_fire = df_2020[(df_2020.VEHICLE_USE.isin(["FIRE"]))]
print("** df_2020_fire.info() **")
df_2020_fire.info()

df_2020_fire_v01 = df_2020_fire[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2020_fire_v01.info() **")
df_2020_fire_v01.info()

# Clean up 
del [[df_2020, 
      df_2020_fire
     ]]

** df_2017_fire.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 66 entries, 316 to 78798
Data columns (total 9 columns):
CRASH_RECORD_ID         66 non-null object
YEAR_OF_CRASH           66 non-null object
CRASH_DATE_V02          66 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    66 non-null object
OCCUPANT_CNT            66 non-null float64
UNIT_TYPE               66 non-null object
NUM_PASSENGERS          14 non-null float64
VEHICLE_USE             66 non-null object
FIRST_CONTACT_POINT     66 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 5.2+ KB
----- OUTPUT BREAK -----
** df_2017_fire_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 66 entries, 316 to 78798
Data columns (total 2 columns):
CRASH_RECORD_ID    66 non-null object
VEHICLE_USE        66 non-null object
dtypes: object(2)
memory usage: 1.5+ KB


** df_2018_fire.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 216 entries, 79173 to 319383
Data columns (total 9 columns):
CRASH_RECORD_ID         216 non-null object
YEAR_OF_CRASH           216 non-null object
CRASH_DATE_V02          216 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    216 non-null object
OCCUPANT_CNT            216 non-null float64
UNIT_TYPE               216 non-null object
NUM_PASSENGERS          56 non-null float64
VEHICLE_USE             216 non-null object
FIRST_CONTACT_POINT     216 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 16.9+ KB
----- OUTPUT BREAK -----
** df_2018_fire_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 216 entries, 79173 to 319383
Data columns (total 2 columns):
CRASH_RECORD_ID    216 non-null object
VEHICLE_USE        216 non-null object
dtypes: object(2)
memory usage: 5.1+ KB


** df_2019_fire.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 241 entries, 323702 to 560882
Data columns (total 9 columns):
CRASH_RECORD_ID         241 non-null object
YEAR_OF_CRASH           241 non-null object
CRASH_DATE_V02          241 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    241 non-null object
OCCUPANT_CNT            241 non-null float64
UNIT_TYPE               241 non-null object
NUM_PASSENGERS          63 non-null float64
VEHICLE_USE             241 non-null object
FIRST_CONTACT_POINT     227 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 18.8+ KB
----- OUTPUT BREAK -----
** df_2019_fire_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 241 entries, 323702 to 560882
Data columns (total 2 columns):
CRASH_RECORD_ID    241 non-null object
VEHICLE_USE        241 non-null object
dtypes: object(2)
memory usage: 5.6+ KB


** df_2020_fire.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 562189 to 686590
Data columns (total 9 columns):
CRASH_RECORD_ID         125 non-null object
YEAR_OF_CRASH           125 non-null object
CRASH_DATE_V02          125 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    125 non-null object
OCCUPANT_CNT            125 non-null float64
UNIT_TYPE               125 non-null object
NUM_PASSENGERS          41 non-null float64
VEHICLE_USE             125 non-null object
FIRST_CONTACT_POINT     115 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 9.8+ KB
----- OUTPUT BREAK -----
** df_2020_fire_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 562189 to 686590
Data columns (total 2 columns):
CRASH_RECORD_ID    125 non-null object
VEHICLE_USE        125 non-null object
dtypes: object(2)
memory usage: 2.9+ KB

<h3>2.3.3 Police vehicles</h3>
<p>
...
</p>

In [23]:


# Slice the dataframe to keep rows with specific vehicles 
df_2017 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2017"]))]
df_2017_police = df_2017[(df_2017.VEHICLE_USE.isin(["POLICE"]))]
print("** df_2017_police.info() **")
df_2017_police.info()

df_2017_police_v01 = df_2017_police[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2017_police_v01.info() **")
df_2017_police_v01.info()

# Clean up 
del [[df_2017, 
      df_2017_police
     ]]
print(' ')
print(' ')
#####
#####
#####
df_2018 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2018"]))]
df_2018_police = df_2018[(df_2018.VEHICLE_USE.isin(["POLICE"]))]
print("** df_2018_police.info() **")
df_2018_police.info()

df_2018_police_v01 = df_2018_police[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2018_police_v01.info() **")
df_2018_police_v01.info()

# Clean up 
del [[df_2018, 
      df_2018_police
     ]]
print(' ')
print(' ')
#####
#####
#####
df_2019 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2019"]))]
df_2019_police = df_2019[(df_2019.VEHICLE_USE.isin(["POLICE"]))]
print("** df_2019_police.info() **")
df_2019_police.info()

df_2019_police_v01 = df_2019_police[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2019_police_v01.info() **")
df_2019_police_v01.info()

# Clean up 
del [[df_2019, 
      df_2019_police
     ]]
print(' ')
print(' ')
#####
#####
#####
df_2020 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2020"]))]
df_2020_police = df_2020[(df_2020.VEHICLE_USE.isin(["POLICE"]))]
print("** df_2020_police.info() **")
df_2020_police.info()

df_2020_police_v01 = df_2020_police[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2020_police_v01.info() **")
df_2020_police_v01.info()

# Clean up 
del [[df_2020, 
      df_2020_police
     ]]

** df_2017_police.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 151 to 78972
Data columns (total 9 columns):
CRASH_RECORD_ID         510 non-null object
YEAR_OF_CRASH           510 non-null object
CRASH_DATE_V02          510 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    510 non-null object
OCCUPANT_CNT            510 non-null float64
UNIT_TYPE               510 non-null object
NUM_PASSENGERS          238 non-null float64
VEHICLE_USE             510 non-null object
FIRST_CONTACT_POINT     510 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 39.8+ KB
----- OUTPUT BREAK -----
** df_2017_police_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 151 to 78972
Data columns (total 2 columns):
CRASH_RECORD_ID    510 non-null object
VEHICLE_USE        510 non-null object
dtypes: object(2)
memory usage: 12.0+ KB


** df_2018_police.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1554 entries, 79054 to 320857
Data columns (total 9 columns):
CRASH_RECORD_ID         1554 non-null object
YEAR_OF_CRASH           1554 non-null object
CRASH_DATE_V02          1554 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    1554 non-null object
OCCUPANT_CNT            1554 non-null float64
UNIT_TYPE               1554 non-null object
NUM_PASSENGERS          761 non-null float64
VEHICLE_USE             1554 non-null object
FIRST_CONTACT_POINT     1554 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 121.4+ KB
----- OUTPUT BREAK -----
** df_2018_police_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1554 entries, 79054 to 320857
Data columns (total 2 columns):
CRASH_RECORD_ID    1554 non-null object
VEHICLE_USE        1554 non-null object
dtypes: object(2)
memory usage: 36.4+ KB


** df_2019_police.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1738 entries, 321044 to 560931
Data columns (total 9 columns):
CRASH_RECORD_ID         1738 non-null object
YEAR_OF_CRASH           1738 non-null object
CRASH_DATE_V02          1738 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    1738 non-null object
OCCUPANT_CNT            1738 non-null float64
UNIT_TYPE               1738 non-null object
NUM_PASSENGERS          929 non-null float64
VEHICLE_USE             1738 non-null object
FIRST_CONTACT_POINT     1704 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 135.8+ KB
----- OUTPUT BREAK -----
** df_2019_police_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1738 entries, 321044 to 560931
Data columns (total 2 columns):
CRASH_RECORD_ID    1738 non-null object
VEHICLE_USE        1738 non-null object
dtypes: object(2)
memory usage: 40.7+ KB


** df_2020_police.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1109 entries, 561031 to 687567
Data columns (total 9 columns):
CRASH_RECORD_ID         1109 non-null object
YEAR_OF_CRASH           1109 non-null object
CRASH_DATE_V02          1109 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    1109 non-null object
OCCUPANT_CNT            1109 non-null float64
UNIT_TYPE               1109 non-null object
NUM_PASSENGERS          586 non-null float64
VEHICLE_USE             1109 non-null object
FIRST_CONTACT_POINT     1069 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 86.6+ KB
----- OUTPUT BREAK -----
** df_2020_police_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1109 entries, 561031 to 687567
Data columns (total 2 columns):
CRASH_RECORD_ID    1109 non-null object
VEHICLE_USE        1109 non-null object
dtypes: object(2)
memory usage: 26.0+ KB

<h3>2.3.4 Personal vehicles</h3>
<p>
...
</p>

In [24]:
# Slice the dataframe to keep rows with specific vehicles 
df_2017 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2017"]))]
df_2017_personal = df_2017[(df_2017.VEHICLE_USE.isin(["PERSONAL"]))]
print("** df_2017_personal.info() **")
df_2017_personal.info()

df_2017_personal_v01 = df_2017_personal[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2017_personal_v01.info() **")
df_2017_personal_v01.info()

# Clean up 
del [[df_2017, 
      df_2017_personal
     ]]
print(' ')
print(' ')
#####
#####
#####
df_2018 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2018"]))]
df_2018_personal = df_2018[(df_2018.VEHICLE_USE.isin(["PERSONAL"]))]
print("** df_2018_personal.info() **")
df_2018_personal.info()

df_2018_personal_v01 = df_2018_personal[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2018_personal_v01.info() **")
df_2018_personal_v01.info()

# Clean up 
del [[df_2018, 
      df_2018_personal
     ]]
print(' ')
print(' ')
#####
#####
#####
df_2019 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2019"]))]
df_2019_personal = df_2019[(df_2019.VEHICLE_USE.isin(["PERSONAL"]))]
print("** df_2019_personal.info() **")
df_2019_personal.info()

df_2019_personal_v01 = df_2019_personal[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2019_personal_v01.info() **")
df_2019_personal_v01.info()

# Clean up 
del [[df_2019, 
      df_2019_personal
     ]]
print(' ')
print(' ')
#####
#####
#####
df_2020 = df_vehicles_sorted[(df_vehicles_sorted.YEAR_OF_CRASH.isin(["2020"]))]
df_2020_personal = df_2020[(df_2020.VEHICLE_USE.isin(["PERSONAL"]))]
print("** df_2020_personal.info() **")
df_2020_personal.info()

df_2020_personal_v01 = df_2020_personal[['CRASH_RECORD_ID', 
                                 'VEHICLE_USE'
                                ]].copy()

print("----- OUTPUT BREAK -----")
print("** df_2020_personal_v01.info() **")
df_2020_personal_v01.info()

# Clean up 
del [[df_2020, 
      df_2020_personal
     ]]

** df_2017_personal.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 50630 entries, 2 to 79045
Data columns (total 9 columns):
CRASH_RECORD_ID         50630 non-null object
YEAR_OF_CRASH           50630 non-null object
CRASH_DATE_V02          50630 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    50630 non-null object
OCCUPANT_CNT            50630 non-null float64
UNIT_TYPE               50630 non-null object
NUM_PASSENGERS          8758 non-null float64
VEHICLE_USE             50630 non-null object
FIRST_CONTACT_POINT     50614 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 3.9+ MB
----- OUTPUT BREAK -----
** df_2017_personal_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 50630 entries, 2 to 79045
Data columns (total 2 columns):
CRASH_RECORD_ID    50630 non-null object
VEHICLE_USE        50630 non-null object
dtypes: object(2)
memory usage: 1.2+ MB


** df_2018_personal.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 154042 entries, 79049 to 320903
Data columns (total 9 columns):
CRASH_RECORD_ID         154042 non-null object
YEAR_OF_CRASH           154042 non-null object
CRASH_DATE_V02          154042 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    154042 non-null object
OCCUPANT_CNT            154042 non-null float64
UNIT_TYPE               154040 non-null object
NUM_PASSENGERS          27600 non-null float64
VEHICLE_USE             154042 non-null object
FIRST_CONTACT_POINT     154004 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 11.8+ MB
----- OUTPUT BREAK -----
** df_2018_personal_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 154042 entries, 79049 to 320903
Data columns (total 2 columns):
CRASH_RECORD_ID    154042 non-null object
VEHICLE_USE        154042 non-null object
dtypes: object(2)
memory usage: 3.5+ MB


** df_2019_personal.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 151482 entries, 320905 to 561018
Data columns (total 9 columns):
CRASH_RECORD_ID         151482 non-null object
YEAR_OF_CRASH           151482 non-null object
CRASH_DATE_V02          151482 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    151482 non-null object
OCCUPANT_CNT            151482 non-null float64
UNIT_TYPE               151481 non-null object
NUM_PASSENGERS          27827 non-null float64
VEHICLE_USE             151482 non-null object
FIRST_CONTACT_POINT     149856 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 11.6+ MB
----- OUTPUT BREAK -----
** df_2019_personal_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 151482 entries, 320905 to 561018
Data columns (total 2 columns):
CRASH_RECORD_ID    151482 non-null object
VEHICLE_USE        151482 non-null object
dtypes: object(2)
memory usage: 3.5+ MB


** df_2020_personal.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 79696 entries, 561025 to 687583
Data columns (total 9 columns):
CRASH_RECORD_ID         79696 non-null object
YEAR_OF_CRASH           79696 non-null object
CRASH_DATE_V02          79696 non-null datetime64[ns]
CRASH_DATE-DATE_ONLY    79696 non-null object
OCCUPANT_CNT            79696 non-null float64
UNIT_TYPE               79694 non-null object
NUM_PASSENGERS          14619 non-null float64
VEHICLE_USE             79696 non-null object
FIRST_CONTACT_POINT     78573 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 6.1+ MB
----- OUTPUT BREAK -----
** df_2020_personal_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 79696 entries, 561025 to 687583
Data columns (total 2 columns):
CRASH_RECORD_ID    79696 non-null object
VEHICLE_USE        79696 non-null object
dtypes: object(2)
memory usage: 1.8+ MB

<h2>2.4 Merged the sliced 'vehicles' dataframes to the sorted 'crashes' dataframe and append the years to make a single dataframe for each vehicle</h2>
<p>
...
</p>

<h3>2.4.1 Ambulance vehicles</h3>
<p>
...
</p>

In [25]:
print("** df_2017_ambulance_v01.info() **")
df_2017_ambulance_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2017_ambulance_v01 = df_2017_ambulance_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2017_ambulance_v01:", nunique_2017_ambulance_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2017_ambulance_crashes = pd.merge(df_crashes_sorted, df_2017_ambulance_v01, on='CRASH_RECORD_ID')
print("** df_2017_ambulance_crashes.info() **")
df_2017_ambulance_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2017_ambulance_crashes_v01 = df_2017_ambulance_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2017_ambulance_crashes:", nunique_2017_ambulance_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2017_ambulance_crashes_unique = df_2017_ambulance_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2017_ambulance_crashes_unique:", df_2017_ambulance_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

print(" ")
print("----- YEAR SECTION OUTPUT BREAK -----")
print(" ")

print("** df_2018_ambulance_v01.info() **")
df_2018_ambulance_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2018_ambulance_v01 = df_2018_ambulance_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2018_ambulance_v01:", nunique_2018_ambulance_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2018_ambulance_crashes = pd.merge(df_crashes_sorted, df_2018_ambulance_v01, on='CRASH_RECORD_ID')
print("** df_2018_ambulance_crashes.info() **")
df_2018_ambulance_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2018_ambulance_crashes_v01 = df_2018_ambulance_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2018_ambulance_crashes:", nunique_2018_ambulance_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2018_ambulance_crashes_unique = df_2018_ambulance_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2018_ambulance_crashes_unique:", df_2018_ambulance_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

print(" ")
print("----- YEAR SECTION OUTPUT BREAK -----")
print(" ")

print("** df_2019_ambulance_v01.info() **")
df_2019_ambulance_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2019_ambulance_v01 = df_2019_ambulance_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2019_ambulance_v01:", nunique_2019_ambulance_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2019_ambulance_crashes = pd.merge(df_crashes_sorted, df_2019_ambulance_v01, on='CRASH_RECORD_ID')
print("** df_2019_ambulance_crashes.info() **")
df_2019_ambulance_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2019_ambulance_crashes_v01 = df_2019_ambulance_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2019_ambulance_crashes:", nunique_2019_ambulance_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2019_ambulance_crashes_unique = df_2019_ambulance_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2019_ambulance_crashes_unique:", df_2019_ambulance_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

print(" ")
print("----- YEAR SECTION OUTPUT BREAK -----")
print(" ")

print("** df_2020_ambulance_v01.info() **")
df_2020_ambulance_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2020_ambulance_v01 = df_2020_ambulance_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2020_ambulance_v01:", nunique_2020_ambulance_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2020_ambulance_crashes = pd.merge(df_crashes_sorted, df_2020_ambulance_v01, on='CRASH_RECORD_ID')
print("** df_2020_ambulance_crashes.info() **")
df_2020_ambulance_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2020_ambulance_crashes_v01 = df_2020_ambulance_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2020_ambulance_crashes:", nunique_2020_ambulance_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2020_ambulance_crashes_unique = df_2020_ambulance_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2020_ambulance_crashes_unique:", df_2020_ambulance_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

** df_2017_ambulance_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 3238 to 78572
Data columns (total 2 columns):
CRASH_RECORD_ID    80 non-null object
VEHICLE_USE        80 non-null object
dtypes: object(2)
memory usage: 1.9+ KB

Number of unique CRASH_RECORD_ID on df_2017_ambulance_v01: CRASH_RECORD_ID    79
dtype: int64
----- OUTPUT BREAK -----
** df_2017_ambulance_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 0 to 79
Data columns (total 48 columns):
CRASH_RECORD_ID                   80 non-null object
CRASH_DATE-DATE_ONLY              80 non-null object
CRASH_DATE                        80 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    80 non-null object
CRASH_DATE_V02                    80 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          80 non-null datetime64[ns]
YEAR_OF_CRASH                     80 non-null object
CRASH_HOUR                        80 non-null int64
CRASH_DAY_OF_WEEK                 80 non-null int64
CRASH_MONTH                       80 non-null int64
RD_NO                             80 non-null object
POSTED_SPEED_LIMIT                80 non-null int64
TRAFFIC_CONTROL_DEVICE            80 non-null object
DEVICE_CONDITION                  80 non-null object
WEATHER_CONDITION                 80 non-null object
LIGHTING_CONDITION                80 non-null object
FIRST_CRASH_TYPE                  80 non-null object
TRAFFICWAY_TYPE                   80 non-null object
LANE_CNT                          50 non-null float64
ALIGNMENT                         80 non-null object
ROADWAY_SURFACE_COND              80 non-null object
ROAD_DEFECT                       80 non-null object
REPORT_TYPE                       80 non-null object
CRASH_TYPE                        80 non-null object
INTERSECTION_RELATED_I            19 non-null object
NOT_RIGHT_OF_WAY_I                6 non-null object
HIT_AND_RUN_I                     17 non-null object
DAMAGE                            80 non-null object
PRIM_CONTRIBUTORY_CAUSE           80 non-null object
SEC_CONTRIBUTORY_CAUSE            80 non-null object
BEAT_OF_OCCURRENCE                80 non-null float64
DOORING_I                         0 non-null object
WORK_ZONE_I                       3 non-null object
WORK_ZONE_TYPE                    2 non-null object
WORKERS_PRESENT_I                 0 non-null object
NUM_UNITS                         80 non-null int64
MOST_SEVERE_INJURY                80 non-null object
INJURIES_TOTAL                    80 non-null float64
INJURIES_FATAL                    80 non-null float64
INJURIES_INCAPACITATING           80 non-null float64
INJURIES_NON_INCAPACITATING       80 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     80 non-null float64
INJURIES_NO_INDICATION            80 non-null float64
INJURIES_UNKNOWN                  80 non-null float64
LATITUDE                          78 non-null float64
LONGITUDE                         78 non-null float64
LOCATION                          78 non-null object
VEHICLE_USE                       80 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 30.6+ KB

Number of unique CRASH_RECORD_ID on df_2017_ambulance_crashes: CRASH_RECORD_ID    79
dtype: int64

*** Number of records in df_2017_ambulance_crashes_unique: CRASH_RECORD_ID    79
dtype: int64

----- YEAR SECTION OUTPUT BREAK -----

** df_2018_ambulance_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 282 entries, 79516 to 320529
Data columns (total 2 columns):
CRASH_RECORD_ID    282 non-null object
VEHICLE_USE        282 non-null object
dtypes: object(2)
memory usage: 6.6+ KB

Number of unique CRASH_RECORD_ID on df_2018_ambulance_v01: CRASH_RECORD_ID    275
dtype: int64
----- OUTPUT BREAK -----
** df_2018_ambulance_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 282 entries, 0 to 281
Data columns (total 48 columns):
CRASH_RECORD_ID                   282 non-null object
CRASH_DATE-DATE_ONLY              282 non-null object
CRASH_DATE                        282 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    282 non-null object
CRASH_DATE_V02                    282 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          282 non-null datetime64[ns]
YEAR_OF_CRASH                     282 non-null object
CRASH_HOUR                        282 non-null int64
CRASH_DAY_OF_WEEK                 282 non-null int64
CRASH_MONTH                       282 non-null int64
RD_NO                             282 non-null object
POSTED_SPEED_LIMIT                282 non-null int64
TRAFFIC_CONTROL_DEVICE            282 non-null object
DEVICE_CONDITION                  282 non-null object
WEATHER_CONDITION                 282 non-null object
LIGHTING_CONDITION                282 non-null object
FIRST_CRASH_TYPE                  282 non-null object
TRAFFICWAY_TYPE                   282 non-null object
LANE_CNT                          174 non-null float64
ALIGNMENT                         282 non-null object
ROADWAY_SURFACE_COND              282 non-null object
ROAD_DEFECT                       282 non-null object
REPORT_TYPE                       277 non-null object
CRASH_TYPE                        282 non-null object
INTERSECTION_RELATED_I            49 non-null object
NOT_RIGHT_OF_WAY_I                22 non-null object
HIT_AND_RUN_I                     48 non-null object
DAMAGE                            282 non-null object
PRIM_CONTRIBUTORY_CAUSE           282 non-null object
SEC_CONTRIBUTORY_CAUSE            282 non-null object
BEAT_OF_OCCURRENCE                282 non-null float64
DOORING_I                         0 non-null object
WORK_ZONE_I                       4 non-null object
WORK_ZONE_TYPE                    3 non-null object
WORKERS_PRESENT_I                 0 non-null object
NUM_UNITS                         282 non-null int64
MOST_SEVERE_INJURY                281 non-null object
INJURIES_TOTAL                    281 non-null float64
INJURIES_FATAL                    281 non-null float64
INJURIES_INCAPACITATING           281 non-null float64
INJURIES_NON_INCAPACITATING       281 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     281 non-null float64
INJURIES_NO_INDICATION            281 non-null float64
INJURIES_UNKNOWN                  281 non-null float64
LATITUDE                          282 non-null float64
LONGITUDE                         282 non-null float64
LOCATION                          282 non-null object
VEHICLE_USE                       282 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 108.0+ KB

Number of unique CRASH_RECORD_ID on df_2018_ambulance_crashes: CRASH_RECORD_ID    275
dtype: int64

*** Number of records in df_2018_ambulance_crashes_unique: CRASH_RECORD_ID    275
dtype: int64

----- YEAR SECTION OUTPUT BREAK -----

** df_2019_ambulance_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 269 entries, 322070 to 560597
Data columns (total 2 columns):
CRASH_RECORD_ID    269 non-null object
VEHICLE_USE        269 non-null object
dtypes: object(2)
memory usage: 6.3+ KB

Number of unique CRASH_RECORD_ID on df_2019_ambulance_v01: CRASH_RECORD_ID    265
dtype: int64
----- OUTPUT BREAK -----
** df_2019_ambulance_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 269 entries, 0 to 268
Data columns (total 48 columns):
CRASH_RECORD_ID                   269 non-null object
CRASH_DATE-DATE_ONLY              269 non-null object
CRASH_DATE                        269 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    269 non-null object
CRASH_DATE_V02                    269 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          269 non-null datetime64[ns]
YEAR_OF_CRASH                     269 non-null object
CRASH_HOUR                        269 non-null int64
CRASH_DAY_OF_WEEK                 269 non-null int64
CRASH_MONTH                       269 non-null int64
RD_NO                             269 non-null object
POSTED_SPEED_LIMIT                269 non-null int64
TRAFFIC_CONTROL_DEVICE            269 non-null object
DEVICE_CONDITION                  269 non-null object
WEATHER_CONDITION                 269 non-null object
LIGHTING_CONDITION                269 non-null object
FIRST_CRASH_TYPE                  269 non-null object
TRAFFICWAY_TYPE                   269 non-null object
LANE_CNT                          40 non-null float64
ALIGNMENT                         269 non-null object
ROADWAY_SURFACE_COND              269 non-null object
ROAD_DEFECT                       269 non-null object
REPORT_TYPE                       262 non-null object
CRASH_TYPE                        269 non-null object
INTERSECTION_RELATED_I            58 non-null object
NOT_RIGHT_OF_WAY_I                18 non-null object
HIT_AND_RUN_I                     45 non-null object
DAMAGE                            269 non-null object
PRIM_CONTRIBUTORY_CAUSE           269 non-null object
SEC_CONTRIBUTORY_CAUSE            269 non-null object
BEAT_OF_OCCURRENCE                269 non-null float64
DOORING_I                         0 non-null object
WORK_ZONE_I                       2 non-null object
WORK_ZONE_TYPE                    2 non-null object
WORKERS_PRESENT_I                 1 non-null object
NUM_UNITS                         269 non-null int64
MOST_SEVERE_INJURY                268 non-null object
INJURIES_TOTAL                    268 non-null float64
INJURIES_FATAL                    268 non-null float64
INJURIES_INCAPACITATING           268 non-null float64
INJURIES_NON_INCAPACITATING       268 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     268 non-null float64
INJURIES_NO_INDICATION            268 non-null float64
INJURIES_UNKNOWN                  268 non-null float64
LATITUDE                          268 non-null float64
LONGITUDE                         268 non-null float64
LOCATION                          268 non-null object
VEHICLE_USE                       269 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 103.0+ KB

Number of unique CRASH_RECORD_ID on df_2019_ambulance_crashes: CRASH_RECORD_ID    265
dtype: int64

*** Number of records in df_2019_ambulance_crashes_unique: CRASH_RECORD_ID    265
dtype: int64

----- YEAR SECTION OUTPUT BREAK -----

** df_2020_ambulance_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 186 entries, 561796 to 687487
Data columns (total 2 columns):
CRASH_RECORD_ID    186 non-null object
VEHICLE_USE        186 non-null object
dtypes: object(2)
memory usage: 4.4+ KB

Number of unique CRASH_RECORD_ID on df_2020_ambulance_v01: CRASH_RECORD_ID    177
dtype: int64
----- OUTPUT BREAK -----

** df_2020_ambulance_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 186 entries, 0 to 185
Data columns (total 48 columns):
CRASH_RECORD_ID                   186 non-null object
CRASH_DATE-DATE_ONLY              186 non-null object
CRASH_DATE                        186 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    186 non-null object
CRASH_DATE_V02                    186 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          186 non-null datetime64[ns]
YEAR_OF_CRASH                     186 non-null object
CRASH_HOUR                        186 non-null int64
CRASH_DAY_OF_WEEK                 186 non-null int64
CRASH_MONTH                       186 non-null int64
RD_NO                             179 non-null object
POSTED_SPEED_LIMIT                186 non-null int64
TRAFFIC_CONTROL_DEVICE            186 non-null object
DEVICE_CONDITION                  186 non-null object
WEATHER_CONDITION                 186 non-null object
LIGHTING_CONDITION                186 non-null object
FIRST_CRASH_TYPE                  186 non-null object
TRAFFICWAY_TYPE                   186 non-null object
LANE_CNT                          0 non-null float64
ALIGNMENT                         186 non-null object
ROADWAY_SURFACE_COND              186 non-null object
ROAD_DEFECT                       186 non-null object
REPORT_TYPE                       183 non-null object
CRASH_TYPE                        186 non-null object
INTERSECTION_RELATED_I            48 non-null object
NOT_RIGHT_OF_WAY_I                22 non-null object
HIT_AND_RUN_I                     25 non-null object
DAMAGE                            186 non-null object
PRIM_CONTRIBUTORY_CAUSE           186 non-null object
SEC_CONTRIBUTORY_CAUSE            186 non-null object
BEAT_OF_OCCURRENCE                186 non-null float64
DOORING_I                         0 non-null object
WORK_ZONE_I                       0 non-null object
WORK_ZONE_TYPE                    0 non-null object
WORKERS_PRESENT_I                 0 non-null object
NUM_UNITS                         186 non-null int64
MOST_SEVERE_INJURY                185 non-null object
INJURIES_TOTAL                    185 non-null float64
INJURIES_FATAL                    185 non-null float64
INJURIES_INCAPACITATING           185 non-null float64
INJURIES_NON_INCAPACITATING       185 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     185 non-null float64
INJURIES_NO_INDICATION            185 non-null float64
INJURIES_UNKNOWN                  185 non-null float64
LATITUDE                          186 non-null float64
LONGITUDE                         186 non-null float64
LOCATION                          186 non-null object
VEHICLE_USE                       186 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 71.2+ KB

Number of unique CRASH_RECORD_ID on df_2020_ambulance_crashes: CRASH_RECORD_ID    177
dtype: int64

*** Number of records in df_2020_ambulance_crashes_unique: CRASH_RECORD_ID    177
dtype: int64

In [26]:
# Our dataframes don’t have a meaningful index, you may wish to append them and ignore the fact 
# that they may have overlapping indexes. To do this, use the ignore_index argument
df_ambulance_crashes_all_years = pd.concat([df_2017_ambulance_crashes, 
                                            df_2018_ambulance_crashes, 
                                            df_2019_ambulance_crashes, 
                                            df_2020_ambulance_crashes], ignore_index=True, sort=False)

df_ambulance_crashes_all_years.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_df_ambulance_crashes_all_years = df_ambulance_crashes_all_years.agg({"CRASH_RECORD_ID": "nunique"})
print("*** Number of unique CRASH_RECORD_ID on df_ambulance_crashes_all_years:", nunique_df_ambulance_crashes_all_years)
print(' ')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817 entries, 0 to 816
Data columns (total 48 columns):
CRASH_RECORD_ID                   817 non-null object
CRASH_DATE-DATE_ONLY              817 non-null object
CRASH_DATE                        817 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    817 non-null object
CRASH_DATE_V02                    817 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          817 non-null datetime64[ns]
YEAR_OF_CRASH                     817 non-null object
CRASH_HOUR                        817 non-null int64
CRASH_DAY_OF_WEEK                 817 non-null int64
CRASH_MONTH                       817 non-null int64
RD_NO                             810 non-null object
POSTED_SPEED_LIMIT                817 non-null int64
TRAFFIC_CONTROL_DEVICE            817 non-null object
DEVICE_CONDITION                  817 non-null object
WEATHER_CONDITION                 817 non-null object
LIGHTING_CONDITION                817 non-null object
FIRST_CRASH_TYPE                  817 non-null object
TRAFFICWAY_TYPE                   817 non-null object
LANE_CNT                          264 non-null float64
ALIGNMENT                         817 non-null object
ROADWAY_SURFACE_COND              817 non-null object
ROAD_DEFECT                       817 non-null object
REPORT_TYPE                       802 non-null object
CRASH_TYPE                        817 non-null object
INTERSECTION_RELATED_I            174 non-null object
NOT_RIGHT_OF_WAY_I                68 non-null object
HIT_AND_RUN_I                     135 non-null object
DAMAGE                            817 non-null object
PRIM_CONTRIBUTORY_CAUSE           817 non-null object
SEC_CONTRIBUTORY_CAUSE            817 non-null object
BEAT_OF_OCCURRENCE                817 non-null float64
DOORING_I                         0 non-null object
WORK_ZONE_I                       9 non-null object
WORK_ZONE_TYPE                    7 non-null object
WORKERS_PRESENT_I                 1 non-null object
NUM_UNITS                         817 non-null int64
MOST_SEVERE_INJURY                814 non-null object
INJURIES_TOTAL                    814 non-null float64
INJURIES_FATAL                    814 non-null float64
INJURIES_INCAPACITATING           814 non-null float64
INJURIES_NON_INCAPACITATING       814 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     814 non-null float64
INJURIES_NO_INDICATION            814 non-null float64
INJURIES_UNKNOWN                  814 non-null float64
LATITUDE                          814 non-null float64
LONGITUDE                         814 non-null float64
LOCATION                          814 non-null object
VEHICLE_USE                       817 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 306.5+ KB

*** Number of unique CRASH_RECORD_ID on df_ambulance_crashes_all_years: CRASH_RECORD_ID    796
dtype: int64

<h3>2.4.2 Fire vehicles</h3>
<p>
...
</p>

In [27]:
print("** df_2017_fire_v01.info() **")
df_2017_fire_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2017_fire_v01 = df_2017_fire_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2017_fire_v01:", nunique_2017_fire_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2017_fire_crashes = pd.merge(df_crashes_sorted, df_2017_fire_v01, on='CRASH_RECORD_ID')
print("** df_2017_fire_crashes.info() **")
df_2017_fire_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2017_fire_crashes_v01 = df_2017_fire_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2017_fire_crashes:", nunique_2017_fire_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2017_fire_crashes_unique = df_2017_fire_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2017_fire_crashes_unique:", df_2017_fire_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

print(" ")
print("----- YEAR SECTION OUTPUT BREAK -----")
print(" ")

print("** df_2018_fire_v01.info() **")
df_2018_fire_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2018_fire_v01 = df_2018_fire_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2018_fire_v01:", nunique_2018_fire_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2018_fire_crashes = pd.merge(df_crashes_sorted, df_2018_fire_v01, on='CRASH_RECORD_ID')
print("** df_2018_fire_crashes.info() **")
df_2018_fire_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2018_fire_crashes_v01 = df_2018_fire_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2018_fire_crashes:", nunique_2018_fire_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2018_fire_crashes_unique = df_2018_fire_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2018_fire_crashes_unique:", df_2018_fire_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

print(" ")
print("----- YEAR SECTION OUTPUT BREAK -----")
print(" ")

print("** df_2019_fire_v01.info() **")
df_2019_fire_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2019_fire_v01 = df_2019_fire_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2019_fire_v01:", nunique_2019_fire_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2019_fire_crashes = pd.merge(df_crashes_sorted, df_2019_fire_v01, on='CRASH_RECORD_ID')
print("** df_2019_fire_crashes.info() **")
df_2019_fire_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2019_fire_crashes_v01 = df_2019_fire_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2019_fire_crashes:", nunique_2019_fire_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2019_fire_crashes_unique = df_2019_fire_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2019_fire_crashes_unique:", df_2019_fire_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

print(" ")
print("----- YEAR SECTION OUTPUT BREAK -----")
print(" ")

print("** df_2020_fire_v01.info() **")
df_2020_fire_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2020_fire_v01 = df_2020_fire_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2020_fire_v01:", nunique_2020_fire_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2020_fire_crashes = pd.merge(df_crashes_sorted, df_2020_fire_v01, on='CRASH_RECORD_ID')
print("** df_2020_fire_crashes.info() **")
df_2020_fire_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2020_fire_crashes_v01 = df_2020_fire_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2020_fire_crashes:", nunique_2020_fire_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2020_fire_crashes_unique = df_2020_fire_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2020_fire_crashes_unique:", df_2020_fire_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

** df_2017_fire_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 66 entries, 316 to 78798
Data columns (total 2 columns):
CRASH_RECORD_ID    66 non-null object
VEHICLE_USE        66 non-null object
dtypes: object(2)
memory usage: 1.5+ KB

Number of unique CRASH_RECORD_ID on df_2017_fire_v01: CRASH_RECORD_ID    66
dtype: int64
----- OUTPUT BREAK -----
** df_2017_fire_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 66 entries, 0 to 65
Data columns (total 48 columns):
CRASH_RECORD_ID                   66 non-null object
CRASH_DATE-DATE_ONLY              66 non-null object
CRASH_DATE                        66 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    66 non-null object
CRASH_DATE_V02                    66 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          66 non-null datetime64[ns]
YEAR_OF_CRASH                     66 non-null object
CRASH_HOUR                        66 non-null int64
CRASH_DAY_OF_WEEK                 66 non-null int64
CRASH_MONTH                       66 non-null int64
RD_NO                             66 non-null object
POSTED_SPEED_LIMIT                66 non-null int64
TRAFFIC_CONTROL_DEVICE            66 non-null object
DEVICE_CONDITION                  66 non-null object
WEATHER_CONDITION                 66 non-null object
LIGHTING_CONDITION                66 non-null object
FIRST_CRASH_TYPE                  66 non-null object
TRAFFICWAY_TYPE                   66 non-null object
LANE_CNT                          40 non-null float64
ALIGNMENT                         66 non-null object
ROADWAY_SURFACE_COND              66 non-null object
ROAD_DEFECT                       66 non-null object
REPORT_TYPE                       66 non-null object
CRASH_TYPE                        66 non-null object
INTERSECTION_RELATED_I            12 non-null object
NOT_RIGHT_OF_WAY_I                6 non-null object
HIT_AND_RUN_I                     5 non-null object
DAMAGE                            66 non-null object
PRIM_CONTRIBUTORY_CAUSE           66 non-null object
SEC_CONTRIBUTORY_CAUSE            66 non-null object
BEAT_OF_OCCURRENCE                66 non-null float64
DOORING_I                         0 non-null object
WORK_ZONE_I                       1 non-null object
WORK_ZONE_TYPE                    0 non-null object
WORKERS_PRESENT_I                 0 non-null object
NUM_UNITS                         66 non-null int64
MOST_SEVERE_INJURY                66 non-null object
INJURIES_TOTAL                    66 non-null float64
INJURIES_FATAL                    66 non-null float64
INJURIES_INCAPACITATING           66 non-null float64
INJURIES_NON_INCAPACITATING       66 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     66 non-null float64
INJURIES_NO_INDICATION            66 non-null float64
INJURIES_UNKNOWN                  66 non-null float64
LATITUDE                          66 non-null float64
LONGITUDE                         66 non-null float64
LOCATION                          66 non-null object
VEHICLE_USE                       66 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 25.3+ KB

Number of unique CRASH_RECORD_ID on df_2017_fire_crashes: CRASH_RECORD_ID    66
dtype: int64

*** Number of records in df_2017_fire_crashes_unique: CRASH_RECORD_ID    66
dtype: int64

----- YEAR SECTION OUTPUT BREAK -----

** df_2018_fire_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 216 entries, 79173 to 319383
Data columns (total 2 columns):
CRASH_RECORD_ID    216 non-null object
VEHICLE_USE        216 non-null object
dtypes: object(2)
memory usage: 5.1+ KB

Number of unique CRASH_RECORD_ID on df_2018_fire_v01: CRASH_RECORD_ID    212
dtype: int64
----- OUTPUT BREAK -----
** df_2018_fire_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 216 entries, 0 to 215
Data columns (total 48 columns):
CRASH_RECORD_ID                   216 non-null object
CRASH_DATE-DATE_ONLY              216 non-null object
CRASH_DATE                        216 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    216 non-null object
CRASH_DATE_V02                    216 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          216 non-null datetime64[ns]
YEAR_OF_CRASH                     216 non-null object
CRASH_HOUR                        216 non-null int64
CRASH_DAY_OF_WEEK                 216 non-null int64
CRASH_MONTH                       216 non-null int64
RD_NO                             216 non-null object
POSTED_SPEED_LIMIT                216 non-null int64
TRAFFIC_CONTROL_DEVICE            216 non-null object
DEVICE_CONDITION                  216 non-null object
WEATHER_CONDITION                 216 non-null object
LIGHTING_CONDITION                216 non-null object
FIRST_CRASH_TYPE                  216 non-null object
TRAFFICWAY_TYPE                   216 non-null object
LANE_CNT                          131 non-null float64
ALIGNMENT                         216 non-null object
ROADWAY_SURFACE_COND              216 non-null object
ROAD_DEFECT                       216 non-null object
REPORT_TYPE                       213 non-null object
CRASH_TYPE                        216 non-null object
INTERSECTION_RELATED_I            53 non-null object
NOT_RIGHT_OF_WAY_I                19 non-null object
HIT_AND_RUN_I                     15 non-null object
DAMAGE                            216 non-null object
PRIM_CONTRIBUTORY_CAUSE           216 non-null object
SEC_CONTRIBUTORY_CAUSE            216 non-null object
BEAT_OF_OCCURRENCE                216 non-null float64
DOORING_I                         0 non-null object
WORK_ZONE_I                       3 non-null object
WORK_ZONE_TYPE                    2 non-null object
WORKERS_PRESENT_I                 0 non-null object
NUM_UNITS                         216 non-null int64
MOST_SEVERE_INJURY                214 non-null object
INJURIES_TOTAL                    214 non-null float64
INJURIES_FATAL                    214 non-null float64
INJURIES_INCAPACITATING           214 non-null float64
INJURIES_NON_INCAPACITATING       214 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     214 non-null float64
INJURIES_NO_INDICATION            214 non-null float64
INJURIES_UNKNOWN                  214 non-null float64
LATITUDE                          216 non-null float64
LONGITUDE                         216 non-null float64
LOCATION                          216 non-null object
VEHICLE_USE                       216 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 82.7+ KB

Number of unique CRASH_RECORD_ID on df_2018_fire_crashes: CRASH_RECORD_ID    212
dtype: int64

*** Number of records in df_2018_fire_crashes_unique: CRASH_RECORD_ID    212
dtype: int64

----- YEAR SECTION OUTPUT BREAK -----

** df_2019_fire_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 241 entries, 323702 to 560882
Data columns (total 2 columns):
CRASH_RECORD_ID    241 non-null object
VEHICLE_USE        241 non-null object
dtypes: object(2)
memory usage: 5.6+ KB

Number of unique CRASH_RECORD_ID on df_2019_fire_v01: CRASH_RECORD_ID    239
dtype: int64
----- OUTPUT BREAK -----
** df_2019_fire_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 241 entries, 0 to 240
Data columns (total 48 columns):
CRASH_RECORD_ID                   241 non-null object
CRASH_DATE-DATE_ONLY              241 non-null object
CRASH_DATE                        241 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    241 non-null object
CRASH_DATE_V02                    241 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          241 non-null datetime64[ns]
YEAR_OF_CRASH                     241 non-null object
CRASH_HOUR                        241 non-null int64
CRASH_DAY_OF_WEEK                 241 non-null int64
CRASH_MONTH                       241 non-null int64
RD_NO                             241 non-null object
POSTED_SPEED_LIMIT                241 non-null int64
TRAFFIC_CONTROL_DEVICE            241 non-null object
DEVICE_CONDITION                  241 non-null object
WEATHER_CONDITION                 241 non-null object
LIGHTING_CONDITION                241 non-null object
FIRST_CRASH_TYPE                  241 non-null object
TRAFFICWAY_TYPE                   241 non-null object
LANE_CNT                          38 non-null float64
ALIGNMENT                         241 non-null object
ROADWAY_SURFACE_COND              241 non-null object
ROAD_DEFECT                       241 non-null object
REPORT_TYPE                       239 non-null object
CRASH_TYPE                        241 non-null object
INTERSECTION_RELATED_I            62 non-null object
NOT_RIGHT_OF_WAY_I                14 non-null object
HIT_AND_RUN_I                     25 non-null object
DAMAGE                            241 non-null object
PRIM_CONTRIBUTORY_CAUSE           241 non-null object
SEC_CONTRIBUTORY_CAUSE            241 non-null object
BEAT_OF_OCCURRENCE                241 non-null float64
DOORING_I                         0 non-null object
WORK_ZONE_I                       5 non-null object
WORK_ZONE_TYPE                    4 non-null object
WORKERS_PRESENT_I                 1 non-null object
NUM_UNITS                         241 non-null int64
MOST_SEVERE_INJURY                239 non-null object
INJURIES_TOTAL                    239 non-null float64
INJURIES_FATAL                    239 non-null float64
INJURIES_INCAPACITATING           239 non-null float64
INJURIES_NON_INCAPACITATING       239 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     239 non-null float64
INJURIES_NO_INDICATION            239 non-null float64
INJURIES_UNKNOWN                  239 non-null float64
LATITUDE                          240 non-null float64
LONGITUDE                         240 non-null float64
LOCATION                          240 non-null object
VEHICLE_USE                       241 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 92.3+ KB

Number of unique CRASH_RECORD_ID on df_2019_fire_crashes: CRASH_RECORD_ID    239
dtype: int64

*** Number of records in df_2019_fire_crashes_unique: CRASH_RECORD_ID    239
dtype: int64

----- YEAR SECTION OUTPUT BREAK -----

** df_2020_fire_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 562189 to 686590
Data columns (total 2 columns):
CRASH_RECORD_ID    125 non-null object
VEHICLE_USE        125 non-null object
dtypes: object(2)
memory usage: 2.9+ KB

Number of unique CRASH_RECORD_ID on df_2020_fire_v01: CRASH_RECORD_ID    121
dtype: int64
----- OUTPUT BREAK -----

** df_2020_fire_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 0 to 124
Data columns (total 48 columns):
CRASH_RECORD_ID                   125 non-null object
CRASH_DATE-DATE_ONLY              125 non-null object
CRASH_DATE                        125 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    125 non-null object
CRASH_DATE_V02                    125 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          125 non-null datetime64[ns]
YEAR_OF_CRASH                     125 non-null object
CRASH_HOUR                        125 non-null int64
CRASH_DAY_OF_WEEK                 125 non-null int64
CRASH_MONTH                       125 non-null int64
RD_NO                             122 non-null object
POSTED_SPEED_LIMIT                125 non-null int64
TRAFFIC_CONTROL_DEVICE            125 non-null object
DEVICE_CONDITION                  125 non-null object
WEATHER_CONDITION                 125 non-null object
LIGHTING_CONDITION                125 non-null object
FIRST_CRASH_TYPE                  125 non-null object
TRAFFICWAY_TYPE                   125 non-null object
LANE_CNT                          0 non-null float64
ALIGNMENT                         125 non-null object
ROADWAY_SURFACE_COND              125 non-null object
ROAD_DEFECT                       125 non-null object
REPORT_TYPE                       124 non-null object
CRASH_TYPE                        125 non-null object
INTERSECTION_RELATED_I            35 non-null object
NOT_RIGHT_OF_WAY_I                14 non-null object
HIT_AND_RUN_I                     4 non-null object
DAMAGE                            125 non-null object
PRIM_CONTRIBUTORY_CAUSE           125 non-null object
SEC_CONTRIBUTORY_CAUSE            125 non-null object
BEAT_OF_OCCURRENCE                125 non-null float64
DOORING_I                         0 non-null object
WORK_ZONE_I                       1 non-null object
WORK_ZONE_TYPE                    0 non-null object
WORKERS_PRESENT_I                 0 non-null object
NUM_UNITS                         125 non-null int64
MOST_SEVERE_INJURY                124 non-null object
INJURIES_TOTAL                    124 non-null float64
INJURIES_FATAL                    124 non-null float64
INJURIES_INCAPACITATING           124 non-null float64
INJURIES_NON_INCAPACITATING       124 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     124 non-null float64
INJURIES_NO_INDICATION            124 non-null float64
INJURIES_UNKNOWN                  124 non-null float64
LATITUDE                          123 non-null float64
LONGITUDE                         123 non-null float64
LOCATION                          123 non-null object
VEHICLE_USE                       125 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 47.9+ KB

Number of unique CRASH_RECORD_ID on df_2020_fire_crashes: CRASH_RECORD_ID    121
dtype: int64

*** Number of records in df_2020_fire_crashes_unique: CRASH_RECORD_ID    121
dtype: int64

In [28]:
# Our dataframes don’t have a meaningful index, you may wish to append them and ignore the fact 
# that they may have overlapping indexes. To do this, use the ignore_index argument
df_fire_crashes_all_years = pd.concat([df_2017_fire_crashes, 
                                       df_2018_fire_crashes, 
                                       df_2019_fire_crashes, 
                                       df_2020_fire_crashes], ignore_index=True, sort=False)

df_fire_crashes_all_years.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_df_fire_crashes_all_years = df_fire_crashes_all_years.agg({"CRASH_RECORD_ID": "nunique"})
print("*** Number of unique CRASH_RECORD_ID on df_fire_crashes_all_years:", nunique_df_fire_crashes_all_years)
print(' ')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648 entries, 0 to 647
Data columns (total 48 columns):
CRASH_RECORD_ID                   648 non-null object
CRASH_DATE-DATE_ONLY              648 non-null object
CRASH_DATE                        648 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    648 non-null object
CRASH_DATE_V02                    648 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          648 non-null datetime64[ns]
YEAR_OF_CRASH                     648 non-null object
CRASH_HOUR                        648 non-null int64
CRASH_DAY_OF_WEEK                 648 non-null int64
CRASH_MONTH                       648 non-null int64
RD_NO                             645 non-null object
POSTED_SPEED_LIMIT                648 non-null int64
TRAFFIC_CONTROL_DEVICE            648 non-null object
DEVICE_CONDITION                  648 non-null object
WEATHER_CONDITION                 648 non-null object
LIGHTING_CONDITION                648 non-null object
FIRST_CRASH_TYPE                  648 non-null object
TRAFFICWAY_TYPE                   648 non-null object
LANE_CNT                          209 non-null float64
ALIGNMENT                         648 non-null object
ROADWAY_SURFACE_COND              648 non-null object
ROAD_DEFECT                       648 non-null object
REPORT_TYPE                       642 non-null object
CRASH_TYPE                        648 non-null object
INTERSECTION_RELATED_I            162 non-null object
NOT_RIGHT_OF_WAY_I                53 non-null object
HIT_AND_RUN_I                     49 non-null object
DAMAGE                            648 non-null object
PRIM_CONTRIBUTORY_CAUSE           648 non-null object
SEC_CONTRIBUTORY_CAUSE            648 non-null object
BEAT_OF_OCCURRENCE                648 non-null float64
DOORING_I                         0 non-null object
WORK_ZONE_I                       10 non-null object
WORK_ZONE_TYPE                    6 non-null object
WORKERS_PRESENT_I                 1 non-null object
NUM_UNITS                         648 non-null int64
MOST_SEVERE_INJURY                643 non-null object
INJURIES_TOTAL                    643 non-null float64
INJURIES_FATAL                    643 non-null float64
INJURIES_INCAPACITATING           643 non-null float64
INJURIES_NON_INCAPACITATING       643 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     643 non-null float64
INJURIES_NO_INDICATION            643 non-null float64
INJURIES_UNKNOWN                  643 non-null float64
LATITUDE                          645 non-null float64
LONGITUDE                         645 non-null float64
LOCATION                          645 non-null object
VEHICLE_USE                       648 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 243.1+ KB

*** Number of unique CRASH_RECORD_ID on df_fire_crashes_all_years: CRASH_RECORD_ID    638
dtype: int64

<h3>2.4.3 Police vehicles</h3>
<p>
...
</p>

In [29]:
print("** df_2017_police_v01.info() **")
df_2017_police_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2017_police_v01 = df_2017_police_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2017_police_v01:", nunique_2017_police_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2017_police_crashes = pd.merge(df_crashes_sorted, df_2017_police_v01, on='CRASH_RECORD_ID')
print("** df_2017_police_crashes.info() **")
df_2017_police_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2017_police_crashes_v01 = df_2017_police_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2017_police_crashes:", nunique_2017_police_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2017_police_crashes_unique = df_2017_police_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2017_police_crashes_unique:", df_2017_police_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

print(" ")
print("----- YEAR SECTION OUTPUT BREAK -----")
print(" ")

print("** df_2018_police_v01.info() **")
df_2018_police_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2018_police_v01 = df_2018_police_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2018_police_v01:", nunique_2018_police_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2018_police_crashes = pd.merge(df_crashes_sorted, df_2018_police_v01, on='CRASH_RECORD_ID')
print("** df_2018_police_crashes.info() **")
df_2018_police_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2018_police_crashes_v01 = df_2018_police_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2018_police_crashes:", nunique_2018_police_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2018_police_crashes_unique = df_2018_police_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2018_police_crashes_unique:", df_2018_police_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

print(" ")
print("----- YEAR SECTION OUTPUT BREAK -----")
print(" ")

print("** df_2019_police_v01.info() **")
df_2019_police_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2019_police_v01 = df_2019_police_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2019_police_v01:", nunique_2019_police_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2019_police_crashes = pd.merge(df_crashes_sorted, df_2019_police_v01, on='CRASH_RECORD_ID')
print("** df_2019_police_crashes.info() **")
df_2019_police_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2019_police_crashes_v01 = df_2019_police_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2019_police_crashes:", nunique_2019_police_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2019_police_crashes_unique = df_2019_police_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2019_police_crashes_unique:", df_2019_police_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

print(" ")
print("----- YEAR SECTION OUTPUT BREAK -----")
print(" ")

print("** df_2020_police_v01.info() **")
df_2020_police_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2020_police_v01 = df_2020_police_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2020_police_v01:", nunique_2020_police_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2020_police_crashes = pd.merge(df_crashes_sorted, df_2020_police_v01, on='CRASH_RECORD_ID')
print("** df_2020_police_crashes.info() **")
df_2020_police_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2020_police_crashes_v01 = df_2020_police_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2020_police_crashes:", nunique_2020_police_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2020_police_crashes_unique = df_2020_police_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2020_police_crashes_unique:", df_2020_police_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

** df_2017_police_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 151 to 78972
Data columns (total 2 columns):
CRASH_RECORD_ID    510 non-null object
VEHICLE_USE        510 non-null object
dtypes: object(2)
memory usage: 12.0+ KB

Number of unique CRASH_RECORD_ID on df_2017_police_v01: CRASH_RECORD_ID    493
dtype: int64
----- OUTPUT BREAK -----
** df_2017_police_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 0 to 509
Data columns (total 48 columns):
CRASH_RECORD_ID                   510 non-null object
CRASH_DATE-DATE_ONLY              510 non-null object
CRASH_DATE                        510 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    510 non-null object
CRASH_DATE_V02                    510 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          510 non-null datetime64[ns]
YEAR_OF_CRASH                     510 non-null object
CRASH_HOUR                        510 non-null int64
CRASH_DAY_OF_WEEK                 510 non-null int64
CRASH_MONTH                       510 non-null int64
RD_NO                             510 non-null object
POSTED_SPEED_LIMIT                510 non-null int64
TRAFFIC_CONTROL_DEVICE            510 non-null object
DEVICE_CONDITION                  510 non-null object
WEATHER_CONDITION                 510 non-null object
LIGHTING_CONDITION                510 non-null object
FIRST_CRASH_TYPE                  510 non-null object
TRAFFICWAY_TYPE                   510 non-null object
LANE_CNT                          351 non-null float64
ALIGNMENT                         510 non-null object
ROADWAY_SURFACE_COND              510 non-null object
ROAD_DEFECT                       510 non-null object
REPORT_TYPE                       480 non-null object
CRASH_TYPE                        510 non-null object
INTERSECTION_RELATED_I            97 non-null object
NOT_RIGHT_OF_WAY_I                29 non-null object
HIT_AND_RUN_I                     49 non-null object
DAMAGE                            510 non-null object
PRIM_CONTRIBUTORY_CAUSE           510 non-null object
SEC_CONTRIBUTORY_CAUSE            510 non-null object
BEAT_OF_OCCURRENCE                510 non-null float64
DOORING_I                         1 non-null object
WORK_ZONE_I                       6 non-null object
WORK_ZONE_TYPE                    4 non-null object
WORKERS_PRESENT_I                 0 non-null object
NUM_UNITS                         510 non-null int64
MOST_SEVERE_INJURY                510 non-null object
INJURIES_TOTAL                    510 non-null float64
INJURIES_FATAL                    510 non-null float64
INJURIES_INCAPACITATING           510 non-null float64
INJURIES_NON_INCAPACITATING       510 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     510 non-null float64
INJURIES_NO_INDICATION            510 non-null float64
INJURIES_UNKNOWN                  510 non-null float64
LATITUDE                          510 non-null float64
LONGITUDE                         510 non-null float64
LOCATION                          510 non-null object
VEHICLE_USE                       510 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 195.2+ KB

Number of unique CRASH_RECORD_ID on df_2017_police_crashes: CRASH_RECORD_ID    493
dtype: int64

*** Number of records in df_2017_police_crashes_unique: CRASH_RECORD_ID    493
dtype: int64

----- YEAR SECTION OUTPUT BREAK -----

** df_2018_police_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1554 entries, 79054 to 320857
Data columns (total 2 columns):
CRASH_RECORD_ID    1554 non-null object
VEHICLE_USE        1554 non-null object
dtypes: object(2)
memory usage: 36.4+ KB

Number of unique CRASH_RECORD_ID on df_2018_police_v01: CRASH_RECORD_ID    1503
dtype: int64
----- OUTPUT BREAK -----
** df_2018_police_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1554 entries, 0 to 1553
Data columns (total 48 columns):
CRASH_RECORD_ID                   1554 non-null object
CRASH_DATE-DATE_ONLY              1554 non-null object
CRASH_DATE                        1554 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    1554 non-null object
CRASH_DATE_V02                    1554 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          1554 non-null datetime64[ns]
YEAR_OF_CRASH                     1554 non-null object
CRASH_HOUR                        1554 non-null int64
CRASH_DAY_OF_WEEK                 1554 non-null int64
CRASH_MONTH                       1554 non-null int64
RD_NO                             1554 non-null object
POSTED_SPEED_LIMIT                1554 non-null int64
TRAFFIC_CONTROL_DEVICE            1554 non-null object
DEVICE_CONDITION                  1554 non-null object
WEATHER_CONDITION                 1554 non-null object
LIGHTING_CONDITION                1554 non-null object
FIRST_CRASH_TYPE                  1554 non-null object
TRAFFICWAY_TYPE                   1554 non-null object
LANE_CNT                          1020 non-null float64
ALIGNMENT                         1554 non-null object
ROADWAY_SURFACE_COND              1554 non-null object
ROAD_DEFECT                       1554 non-null object
REPORT_TYPE                       1481 non-null object
CRASH_TYPE                        1554 non-null object
INTERSECTION_RELATED_I            377 non-null object
NOT_RIGHT_OF_WAY_I                79 non-null object
HIT_AND_RUN_I                     144 non-null object
DAMAGE                            1554 non-null object
PRIM_CONTRIBUTORY_CAUSE           1554 non-null object
SEC_CONTRIBUTORY_CAUSE            1554 non-null object
BEAT_OF_OCCURRENCE                1554 non-null float64
DOORING_I                         5 non-null object
WORK_ZONE_I                       12 non-null object
WORK_ZONE_TYPE                    7 non-null object
WORKERS_PRESENT_I                 1 non-null object
NUM_UNITS                         1554 non-null int64
MOST_SEVERE_INJURY                1550 non-null object
INJURIES_TOTAL                    1550 non-null float64
INJURIES_FATAL                    1550 non-null float64
INJURIES_INCAPACITATING           1550 non-null float64
INJURIES_NON_INCAPACITATING       1550 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     1550 non-null float64
INJURIES_NO_INDICATION            1550 non-null float64
INJURIES_UNKNOWN                  1550 non-null float64
LATITUDE                          1551 non-null float64
LONGITUDE                         1551 non-null float64
LOCATION                          1551 non-null object
VEHICLE_USE                       1554 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 594.9+ KB

Number of unique CRASH_RECORD_ID on df_2018_police_crashes: CRASH_RECORD_ID    1503
dtype: int64

*** Number of records in df_2018_police_crashes_unique: CRASH_RECORD_ID    1503
dtype: int64

----- YEAR SECTION OUTPUT BREAK -----

** df_2019_police_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1738 entries, 321044 to 560931
Data columns (total 2 columns):
CRASH_RECORD_ID    1738 non-null object
VEHICLE_USE        1738 non-null object
dtypes: object(2)
memory usage: 40.7+ KB

Number of unique CRASH_RECORD_ID on df_2019_police_v01: CRASH_RECORD_ID    1668
dtype: int64
----- OUTPUT BREAK -----
** df_2019_police_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1738 entries, 0 to 1737
Data columns (total 48 columns):
CRASH_RECORD_ID                   1738 non-null object
CRASH_DATE-DATE_ONLY              1738 non-null object
CRASH_DATE                        1738 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    1738 non-null object
CRASH_DATE_V02                    1738 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          1738 non-null datetime64[ns]
YEAR_OF_CRASH                     1738 non-null object
CRASH_HOUR                        1738 non-null int64
CRASH_DAY_OF_WEEK                 1738 non-null int64
CRASH_MONTH                       1738 non-null int64
RD_NO                             1738 non-null object
POSTED_SPEED_LIMIT                1738 non-null int64
TRAFFIC_CONTROL_DEVICE            1738 non-null object
DEVICE_CONDITION                  1738 non-null object
WEATHER_CONDITION                 1738 non-null object
LIGHTING_CONDITION                1738 non-null object
FIRST_CRASH_TYPE                  1738 non-null object
TRAFFICWAY_TYPE                   1738 non-null object
LANE_CNT                          300 non-null float64
ALIGNMENT                         1738 non-null object
ROADWAY_SURFACE_COND              1738 non-null object
ROAD_DEFECT                       1738 non-null object
REPORT_TYPE                       1636 non-null object
CRASH_TYPE                        1738 non-null object
INTERSECTION_RELATED_I            442 non-null object
NOT_RIGHT_OF_WAY_I                98 non-null object
HIT_AND_RUN_I                     163 non-null object
DAMAGE                            1738 non-null object
PRIM_CONTRIBUTORY_CAUSE           1738 non-null object
SEC_CONTRIBUTORY_CAUSE            1738 non-null object
BEAT_OF_OCCURRENCE                1738 non-null float64
DOORING_I                         3 non-null object
WORK_ZONE_I                       13 non-null object
WORK_ZONE_TYPE                    7 non-null object
WORKERS_PRESENT_I                 1 non-null object
NUM_UNITS                         1738 non-null int64
MOST_SEVERE_INJURY                1737 non-null object
INJURIES_TOTAL                    1737 non-null float64
INJURIES_FATAL                    1737 non-null float64
INJURIES_INCAPACITATING           1737 non-null float64
INJURIES_NON_INCAPACITATING       1737 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     1737 non-null float64
INJURIES_NO_INDICATION            1737 non-null float64
INJURIES_UNKNOWN                  1737 non-null float64
LATITUDE                          1721 non-null float64
LONGITUDE                         1721 non-null float64
LOCATION                          1721 non-null object
VEHICLE_USE                       1738 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 665.3+ KB

Number of unique CRASH_RECORD_ID on df_2019_police_crashes: CRASH_RECORD_ID    1668
dtype: int64

*** Number of records in df_2019_police_crashes_unique: CRASH_RECORD_ID    1668
dtype: int64

----- YEAR SECTION OUTPUT BREAK -----

** df_2020_police_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1109 entries, 561031 to 687567
Data columns (total 2 columns):
CRASH_RECORD_ID    1109 non-null object
VEHICLE_USE        1109 non-null object
dtypes: object(2)
memory usage: 26.0+ KB

Number of unique CRASH_RECORD_ID on df_2020_police_v01: CRASH_RECORD_ID    1029
dtype: int64
----- OUTPUT BREAK -----

** df_2020_police_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1109 entries, 0 to 1108
Data columns (total 48 columns):
CRASH_RECORD_ID                   1109 non-null object
CRASH_DATE-DATE_ONLY              1109 non-null object
CRASH_DATE                        1109 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    1109 non-null object
CRASH_DATE_V02                    1109 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          1109 non-null datetime64[ns]
YEAR_OF_CRASH                     1109 non-null object
CRASH_HOUR                        1109 non-null int64
CRASH_DAY_OF_WEEK                 1109 non-null int64
CRASH_MONTH                       1109 non-null int64
RD_NO                             1076 non-null object
POSTED_SPEED_LIMIT                1109 non-null int64
TRAFFIC_CONTROL_DEVICE            1109 non-null object
DEVICE_CONDITION                  1109 non-null object
WEATHER_CONDITION                 1109 non-null object
LIGHTING_CONDITION                1109 non-null object
FIRST_CRASH_TYPE                  1109 non-null object
TRAFFICWAY_TYPE                   1109 non-null object
LANE_CNT                          0 non-null float64
ALIGNMENT                         1109 non-null object
ROADWAY_SURFACE_COND              1109 non-null object
ROAD_DEFECT                       1109 non-null object
REPORT_TYPE                       1019 non-null object
CRASH_TYPE                        1109 non-null object
INTERSECTION_RELATED_I            250 non-null object
NOT_RIGHT_OF_WAY_I                78 non-null object
HIT_AND_RUN_I                     161 non-null object
DAMAGE                            1109 non-null object
PRIM_CONTRIBUTORY_CAUSE           1109 non-null object
SEC_CONTRIBUTORY_CAUSE            1109 non-null object
BEAT_OF_OCCURRENCE                1109 non-null float64
DOORING_I                         5 non-null object
WORK_ZONE_I                       6 non-null object
WORK_ZONE_TYPE                    1 non-null object
WORKERS_PRESENT_I                 0 non-null object
NUM_UNITS                         1109 non-null int64
MOST_SEVERE_INJURY                1104 non-null object
INJURIES_TOTAL                    1104 non-null float64
INJURIES_FATAL                    1104 non-null float64
INJURIES_INCAPACITATING           1104 non-null float64
INJURIES_NON_INCAPACITATING       1104 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     1104 non-null float64
INJURIES_NO_INDICATION            1104 non-null float64
INJURIES_UNKNOWN                  1104 non-null float64
LATITUDE                          1100 non-null float64
LONGITUDE                         1100 non-null float64
LOCATION                          1100 non-null object
VEHICLE_USE                       1109 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 424.5+ KB

Number of unique CRASH_RECORD_ID on df_2020_police_crashes: CRASH_RECORD_ID    1029
dtype: int64

*** Number of records in df_2020_police_crashes_unique: CRASH_RECORD_ID    1029
dtype: int64

In [30]:
# Our dataframes don’t have a meaningful index, you may wish to append them and ignore the fact 
# that they may have overlapping indexes. To do this, use the ignore_index argument
df_police_crashes_all_years = pd.concat([df_2017_police_crashes, 
                                         df_2018_police_crashes, 
                                         df_2019_police_crashes, 
                                         df_2020_police_crashes], ignore_index=True, sort=False)

df_police_crashes_all_years.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_df_police_crashes_all_years = df_police_crashes_all_years.agg({"CRASH_RECORD_ID": "nunique"})
print("*** Number of unique CRASH_RECORD_ID on df_police_crashes_all_years:", nunique_df_police_crashes_all_years)
print(' ')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4911 entries, 0 to 4910
Data columns (total 48 columns):
CRASH_RECORD_ID                   4911 non-null object
CRASH_DATE-DATE_ONLY              4911 non-null object
CRASH_DATE                        4911 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    4911 non-null object
CRASH_DATE_V02                    4911 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          4911 non-null datetime64[ns]
YEAR_OF_CRASH                     4911 non-null object
CRASH_HOUR                        4911 non-null int64
CRASH_DAY_OF_WEEK                 4911 non-null int64
CRASH_MONTH                       4911 non-null int64
RD_NO                             4878 non-null object
POSTED_SPEED_LIMIT                4911 non-null int64
TRAFFIC_CONTROL_DEVICE            4911 non-null object
DEVICE_CONDITION                  4911 non-null object
WEATHER_CONDITION                 4911 non-null object
LIGHTING_CONDITION                4911 non-null object
FIRST_CRASH_TYPE                  4911 non-null object
TRAFFICWAY_TYPE                   4911 non-null object
LANE_CNT                          1671 non-null float64
ALIGNMENT                         4911 non-null object
ROADWAY_SURFACE_COND              4911 non-null object
ROAD_DEFECT                       4911 non-null object
REPORT_TYPE                       4616 non-null object
CRASH_TYPE                        4911 non-null object
INTERSECTION_RELATED_I            1166 non-null object
NOT_RIGHT_OF_WAY_I                284 non-null object
HIT_AND_RUN_I                     517 non-null object
DAMAGE                            4911 non-null object
PRIM_CONTRIBUTORY_CAUSE           4911 non-null object
SEC_CONTRIBUTORY_CAUSE            4911 non-null object
BEAT_OF_OCCURRENCE                4911 non-null float64
DOORING_I                         14 non-null object
WORK_ZONE_I                       37 non-null object
WORK_ZONE_TYPE                    19 non-null object
WORKERS_PRESENT_I                 2 non-null object
NUM_UNITS                         4911 non-null int64
MOST_SEVERE_INJURY                4901 non-null object
INJURIES_TOTAL                    4901 non-null float64
INJURIES_FATAL                    4901 non-null float64
INJURIES_INCAPACITATING           4901 non-null float64
INJURIES_NON_INCAPACITATING       4901 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     4901 non-null float64
INJURIES_NO_INDICATION            4901 non-null float64
INJURIES_UNKNOWN                  4901 non-null float64
LATITUDE                          4882 non-null float64
LONGITUDE                         4882 non-null float64
LOCATION                          4882 non-null object
VEHICLE_USE                       4911 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 1.8+ MB

*** Number of unique CRASH_RECORD_ID on df_police_crashes_all_years: CRASH_RECORD_ID    4693
dtype: int64

<h3>2.4.4 Personal vehicles</h3>
<p>
...
</p>

In [31]:
print("** df_2017_personal_v01.info() **")
df_2017_personal_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2017_personal_v01 = df_2017_personal_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2017_personal_v01:", nunique_2017_personal_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2017_personal_crashes = pd.merge(df_crashes_sorted, df_2017_personal_v01, on='CRASH_RECORD_ID')
print("** df_2017_personal_crashes.info() **")
df_2017_personal_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2017_personal_crashes_v01 = df_2017_personal_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2017_personal_crashes:", nunique_2017_personal_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2017_personal_crashes_unique = df_2017_personal_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2017_personal_crashes_unique:", df_2017_personal_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

print(" ")
print("----- YEAR SECTION OUTPUT BREAK -----")
print(" ")

print("** df_2018_personal_v01.info() **")
df_2018_personal_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2018_personal_v01 = df_2018_personal_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2018_personal_v01:", nunique_2018_personal_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2018_personal_crashes = pd.merge(df_crashes_sorted, df_2018_personal_v01, on='CRASH_RECORD_ID')
print("** df_2018_personal_crashes.info() **")
df_2018_personal_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2018_personal_crashes_v01 = df_2018_personal_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2018_personal_crashes:", nunique_2018_personal_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2018_personal_crashes_unique = df_2018_personal_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2018_personal_crashes_unique:", df_2018_personal_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

print(" ")
print("----- YEAR SECTION OUTPUT BREAK -----")
print(" ")

print("** df_2019_personal_v01.info() **")
df_2019_personal_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2019_personal_v01 = df_2019_personal_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2019_personal_v01:", nunique_2019_personal_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2019_personal_crashes = pd.merge(df_crashes_sorted, df_2019_personal_v01, on='CRASH_RECORD_ID')
print("** df_2019_personal_crashes.info() **")
df_2019_personal_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2019_personal_crashes_v01 = df_2019_personal_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2019_personal_crashes:", nunique_2019_personal_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2019_personal_crashes_unique = df_2019_personal_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2019_personal_crashes_unique:", df_2019_personal_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

print(" ")
print("----- YEAR SECTION OUTPUT BREAK -----")
print(" ")

print("** df_2020_personal_v01.info() **")
df_2020_personal_v01.info()
# How many unique CRASH_RECORD_ID do we have 
nunique_2020_personal_v01 = df_2020_personal_v01.agg({"CRASH_RECORD_ID": "nunique"})
print(' ')
print("Number of unique CRASH_RECORD_ID on df_2020_personal_v01:", nunique_2020_personal_v01)
print("----- OUTPUT BREAK -----")
# Merge 
df_2020_personal_crashes = pd.merge(df_crashes_sorted, df_2020_personal_v01, on='CRASH_RECORD_ID')
print("** df_2020_personal_crashes.info() **")
df_2020_personal_crashes.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_2020_personal_crashes_v01 = df_2020_personal_crashes.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_2020_personal_crashes:", nunique_2020_personal_crashes_v01)
print(' ')
# To remove duplicates and keep last occurences, use keep.
df_2020_personal_crashes_unique = df_2020_personal_crashes.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in df_2020_personal_crashes_unique:", df_2020_personal_crashes_unique.agg({"CRASH_RECORD_ID": "nunique"}))

** df_2017_personal_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 50630 entries, 2 to 79045
Data columns (total 2 columns):
CRASH_RECORD_ID    50630 non-null object
VEHICLE_USE        50630 non-null object
dtypes: object(2)
memory usage: 1.2+ MB

Number of unique CRASH_RECORD_ID on df_2017_personal_v01: CRASH_RECORD_ID    32644
dtype: int64
----- OUTPUT BREAK -----
** df_2017_personal_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 50630 entries, 0 to 50629
Data columns (total 48 columns):
CRASH_RECORD_ID                   50630 non-null object
CRASH_DATE-DATE_ONLY              50630 non-null object
CRASH_DATE                        50630 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    50630 non-null object
CRASH_DATE_V02                    50630 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          50630 non-null datetime64[ns]
YEAR_OF_CRASH                     50630 non-null object
CRASH_HOUR                        50630 non-null int64
CRASH_DAY_OF_WEEK                 50630 non-null int64
CRASH_MONTH                       50630 non-null int64
RD_NO                             50630 non-null object
POSTED_SPEED_LIMIT                50630 non-null int64
TRAFFIC_CONTROL_DEVICE            50630 non-null object
DEVICE_CONDITION                  50630 non-null object
WEATHER_CONDITION                 50630 non-null object
LIGHTING_CONDITION                50630 non-null object
FIRST_CRASH_TYPE                  50630 non-null object
TRAFFICWAY_TYPE                   50630 non-null object
LANE_CNT                          32858 non-null float64
ALIGNMENT                         50630 non-null object
ROADWAY_SURFACE_COND              50630 non-null object
ROAD_DEFECT                       50630 non-null object
REPORT_TYPE                       49490 non-null object
CRASH_TYPE                        50630 non-null object
INTERSECTION_RELATED_I            12990 non-null object
NOT_RIGHT_OF_WAY_I                1720 non-null object
HIT_AND_RUN_I                     9574 non-null object
DAMAGE                            50630 non-null object
PRIM_CONTRIBUTORY_CAUSE           50630 non-null object
SEC_CONTRIBUTORY_CAUSE            50630 non-null object
BEAT_OF_OCCURRENCE                50630 non-null float64
DOORING_I                         112 non-null object
WORK_ZONE_I                       435 non-null object
WORK_ZONE_TYPE                    307 non-null object
WORKERS_PRESENT_I                 84 non-null object
NUM_UNITS                         50630 non-null int64
MOST_SEVERE_INJURY                50558 non-null object
INJURIES_TOTAL                    50559 non-null float64
INJURIES_FATAL                    50559 non-null float64
INJURIES_INCAPACITATING           50559 non-null float64
INJURIES_NON_INCAPACITATING       50559 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     50559 non-null float64
INJURIES_NO_INDICATION            50559 non-null float64
INJURIES_UNKNOWN                  50559 non-null float64
LATITUDE                          50453 non-null float64
LONGITUDE                         50453 non-null float64
LOCATION                          50453 non-null object
VEHICLE_USE                       50630 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 18.9+ MB

Number of unique CRASH_RECORD_ID on df_2017_personal_crashes: CRASH_RECORD_ID    32644
dtype: int64

*** Number of records in df_2017_personal_crashes_unique: CRASH_RECORD_ID    32644
dtype: int64

----- YEAR SECTION OUTPUT BREAK -----

** df_2018_personal_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 154042 entries, 79049 to 320903
Data columns (total 2 columns):
CRASH_RECORD_ID    154042 non-null object
VEHICLE_USE        154042 non-null object
dtypes: object(2)
memory usage: 3.5+ MB

Number of unique CRASH_RECORD_ID on df_2018_personal_v01: CRASH_RECORD_ID    99506
dtype: int64
----- OUTPUT BREAK -----
** df_2018_personal_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 154042 entries, 0 to 154041
Data columns (total 48 columns):
CRASH_RECORD_ID                   154042 non-null object
CRASH_DATE-DATE_ONLY              154042 non-null object
CRASH_DATE                        154042 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    154042 non-null object
CRASH_DATE_V02                    154042 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          154042 non-null datetime64[ns]
YEAR_OF_CRASH                     154042 non-null object
CRASH_HOUR                        154042 non-null int64
CRASH_DAY_OF_WEEK                 154042 non-null int64
CRASH_MONTH                       154042 non-null int64
RD_NO                             154042 non-null object
POSTED_SPEED_LIMIT                154042 non-null int64
TRAFFIC_CONTROL_DEVICE            154042 non-null object
DEVICE_CONDITION                  154042 non-null object
WEATHER_CONDITION                 154042 non-null object
LIGHTING_CONDITION                154042 non-null object
FIRST_CRASH_TYPE                  154042 non-null object
TRAFFICWAY_TYPE                   154042 non-null object
LANE_CNT                          93862 non-null float64
ALIGNMENT                         154042 non-null object
ROADWAY_SURFACE_COND              154042 non-null object
ROAD_DEFECT                       154042 non-null object
REPORT_TYPE                       149483 non-null object
CRASH_TYPE                        154042 non-null object
INTERSECTION_RELATED_I            40050 non-null object
NOT_RIGHT_OF_WAY_I                5575 non-null object
HIT_AND_RUN_I                     30345 non-null object
DAMAGE                            154042 non-null object
PRIM_CONTRIBUTORY_CAUSE           154042 non-null object
SEC_CONTRIBUTORY_CAUSE            154042 non-null object
BEAT_OF_OCCURRENCE                154042 non-null float64
DOORING_I                         303 non-null object
WORK_ZONE_I                       957 non-null object
WORK_ZONE_TYPE                    778 non-null object
WORKERS_PRESENT_I                 184 non-null object
NUM_UNITS                         154042 non-null int64
MOST_SEVERE_INJURY                153865 non-null object
INJURIES_TOTAL                    153865 non-null float64
INJURIES_FATAL                    153865 non-null float64
INJURIES_INCAPACITATING           153865 non-null float64
INJURIES_NON_INCAPACITATING       153865 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     153865 non-null float64
INJURIES_NO_INDICATION            153865 non-null float64
INJURIES_UNKNOWN                  153865 non-null float64
LATITUDE                          153436 non-null float64
LONGITUDE                         153436 non-null float64
LOCATION                          153436 non-null object
VEHICLE_USE                       154042 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 57.6+ MB

Number of unique CRASH_RECORD_ID on df_2018_personal_crashes: CRASH_RECORD_ID    99506
dtype: int64

*** Number of records in df_2018_personal_crashes_unique: CRASH_RECORD_ID    99506
dtype: int64

----- YEAR SECTION OUTPUT BREAK -----

** df_2019_personal_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 151482 entries, 320905 to 561018
Data columns (total 2 columns):
CRASH_RECORD_ID    151482 non-null object
VEHICLE_USE        151482 non-null object
dtypes: object(2)
memory usage: 3.5+ MB

Number of unique CRASH_RECORD_ID on df_2019_personal_v01: CRASH_RECORD_ID    97459
dtype: int64
----- OUTPUT BREAK -----
** df_2019_personal_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 151482 entries, 0 to 151481
Data columns (total 48 columns):
CRASH_RECORD_ID                   151482 non-null object
CRASH_DATE-DATE_ONLY              151482 non-null object
CRASH_DATE                        151482 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    151482 non-null object
CRASH_DATE_V02                    151482 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          151482 non-null datetime64[ns]
YEAR_OF_CRASH                     151482 non-null object
CRASH_HOUR                        151482 non-null int64
CRASH_DAY_OF_WEEK                 151482 non-null int64
CRASH_MONTH                       151482 non-null int64
RD_NO                             151482 non-null object
POSTED_SPEED_LIMIT                151482 non-null int64
TRAFFIC_CONTROL_DEVICE            151482 non-null object
DEVICE_CONDITION                  151482 non-null object
WEATHER_CONDITION                 151482 non-null object
LIGHTING_CONDITION                151482 non-null object
FIRST_CRASH_TYPE                  151482 non-null object
TRAFFICWAY_TYPE                   151482 non-null object
LANE_CNT                          24609 non-null float64
ALIGNMENT                         151482 non-null object
ROADWAY_SURFACE_COND              151482 non-null object
ROAD_DEFECT                       151482 non-null object
REPORT_TYPE                       145885 non-null object
CRASH_TYPE                        151482 non-null object
INTERSECTION_RELATED_I            40952 non-null object
NOT_RIGHT_OF_WAY_I                5997 non-null object
HIT_AND_RUN_I                     30440 non-null object
DAMAGE                            151482 non-null object
PRIM_CONTRIBUTORY_CAUSE           151482 non-null object
SEC_CONTRIBUTORY_CAUSE            151482 non-null object
BEAT_OF_OCCURRENCE                151482 non-null float64
DOORING_I                         258 non-null object
WORK_ZONE_I                       677 non-null object
WORK_ZONE_TYPE                    523 non-null object
WORKERS_PRESENT_I                 190 non-null object
NUM_UNITS                         151482 non-null int64
MOST_SEVERE_INJURY                151293 non-null object
INJURIES_TOTAL                    151293 non-null float64
INJURIES_FATAL                    151293 non-null float64
INJURIES_INCAPACITATING           151293 non-null float64
INJURIES_NON_INCAPACITATING       151293 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     151293 non-null float64
INJURIES_NO_INDICATION            151293 non-null float64
INJURIES_UNKNOWN                  151293 non-null float64
LATITUDE                          150556 non-null float64
LONGITUDE                         150556 non-null float64
LOCATION                          150556 non-null object
VEHICLE_USE                       151482 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 56.6+ MB

Number of unique CRASH_RECORD_ID on df_2019_personal_crashes: CRASH_RECORD_ID    97459
dtype: int64

*** Number of records in df_2019_personal_crashes_unique: CRASH_RECORD_ID    97459
dtype: int64

----- YEAR SECTION OUTPUT BREAK -----

** df_2020_personal_v01.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 79696 entries, 561025 to 687583
Data columns (total 2 columns):
CRASH_RECORD_ID    79696 non-null object
VEHICLE_USE        79696 non-null object
dtypes: object(2)
memory usage: 1.8+ MB

Number of unique CRASH_RECORD_ID on df_2020_personal_v01: CRASH_RECORD_ID    50402
dtype: int64
----- OUTPUT BREAK -----
** df_2020_personal_crashes.info() **
<class 'pandas.core.frame.DataFrame'>
Int64Index: 79696 entries, 0 to 79695
Data columns (total 48 columns):
CRASH_RECORD_ID                   79696 non-null object
CRASH_DATE-DATE_ONLY              79696 non-null object
CRASH_DATE                        79696 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    79696 non-null object
CRASH_DATE_V02                    79696 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          79696 non-null datetime64[ns]
YEAR_OF_CRASH                     79696 non-null object
CRASH_HOUR                        79696 non-null int64
CRASH_DAY_OF_WEEK                 79696 non-null int64
CRASH_MONTH                       79696 non-null int64
RD_NO                             76755 non-null object
POSTED_SPEED_LIMIT                79696 non-null int64
TRAFFIC_CONTROL_DEVICE            79696 non-null object
DEVICE_CONDITION                  79696 non-null object
WEATHER_CONDITION                 79696 non-null object
LIGHTING_CONDITION                79696 non-null object
FIRST_CRASH_TYPE                  79696 non-null object
TRAFFICWAY_TYPE                   79696 non-null object
LANE_CNT                          12 non-null float64
ALIGNMENT                         79696 non-null object
ROADWAY_SURFACE_COND              79696 non-null object
ROAD_DEFECT                       79696 non-null object
REPORT_TYPE                       76500 non-null object
CRASH_TYPE                        79696 non-null object
INTERSECTION_RELATED_I            22686 non-null object
NOT_RIGHT_OF_WAY_I                3201 non-null object
HIT_AND_RUN_I                     19871 non-null object
DAMAGE                            79696 non-null object
PRIM_CONTRIBUTORY_CAUSE           79696 non-null object
SEC_CONTRIBUTORY_CAUSE            79696 non-null object
BEAT_OF_OCCURRENCE                79696 non-null float64
DOORING_I                         123 non-null object
WORK_ZONE_I                       307 non-null object
WORK_ZONE_TYPE                    241 non-null object
WORKERS_PRESENT_I                 81 non-null object
NUM_UNITS                         79696 non-null int64
MOST_SEVERE_INJURY                79585 non-null object
INJURIES_TOTAL                    79585 non-null float64
INJURIES_FATAL                    79585 non-null float64
INJURIES_INCAPACITATING           79585 non-null float64
INJURIES_NON_INCAPACITATING       79585 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     79585 non-null float64
INJURIES_NO_INDICATION            79585 non-null float64
INJURIES_UNKNOWN                  79585 non-null float64
LATITUDE                          79291 non-null float64
LONGITUDE                         79291 non-null float64
LOCATION                          79291 non-null object
VEHICLE_USE                       79696 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 29.8+ MB

Number of unique CRASH_RECORD_ID on df_2020_personal_crashes: CRASH_RECORD_ID    50402
dtype: int64

*** Number of records in df_2020_personal_crashes_unique: CRASH_RECORD_ID    50402
dtype: int64

In [33]:
# Our dataframes don’t have a meaningful index, you may wish to append them and ignore the fact 
# that they may have overlapping indexes. To do this, use the ignore_index argument
df_personal_crashes_all_years = pd.concat([df_2017_personal_crashes, 
                                           df_2018_personal_crashes, 
                                           df_2019_personal_crashes, 
                                           df_2020_personal_crashes], ignore_index=True, sort=False)

df_personal_crashes_all_years.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_df_personal_crashes_all_years = df_personal_crashes_all_years.agg({"CRASH_RECORD_ID": "nunique"})
print("*** Number of unique CRASH_RECORD_ID on df_personal_crashes_all_years:", nunique_df_personal_crashes_all_years)
print(' ')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435850 entries, 0 to 435849
Data columns (total 48 columns):
CRASH_RECORD_ID                   435850 non-null object
CRASH_DATE-DATE_ONLY              435850 non-null object
CRASH_DATE                        435850 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    435850 non-null object
CRASH_DATE_V02                    435850 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          435850 non-null datetime64[ns]
YEAR_OF_CRASH                     435850 non-null object
CRASH_HOUR                        435850 non-null int64
CRASH_DAY_OF_WEEK                 435850 non-null int64
CRASH_MONTH                       435850 non-null int64
RD_NO                             432909 non-null object
POSTED_SPEED_LIMIT                435850 non-null int64
TRAFFIC_CONTROL_DEVICE            435850 non-null object
DEVICE_CONDITION                  435850 non-null object
WEATHER_CONDITION                 435850 non-null object
LIGHTING_CONDITION                435850 non-null object
FIRST_CRASH_TYPE                  435850 non-null object
TRAFFICWAY_TYPE                   435850 non-null object
LANE_CNT                          151341 non-null float64
ALIGNMENT                         435850 non-null object
ROADWAY_SURFACE_COND              435850 non-null object
ROAD_DEFECT                       435850 non-null object
REPORT_TYPE                       421358 non-null object
CRASH_TYPE                        435850 non-null object
INTERSECTION_RELATED_I            116678 non-null object
NOT_RIGHT_OF_WAY_I                16493 non-null object
HIT_AND_RUN_I                     90230 non-null object
DAMAGE                            435850 non-null object
PRIM_CONTRIBUTORY_CAUSE           435850 non-null object
SEC_CONTRIBUTORY_CAUSE            435850 non-null object
BEAT_OF_OCCURRENCE                435850 non-null float64
DOORING_I                         796 non-null object
WORK_ZONE_I                       2376 non-null object
WORK_ZONE_TYPE                    1849 non-null object
WORKERS_PRESENT_I                 539 non-null object
NUM_UNITS                         435850 non-null int64
MOST_SEVERE_INJURY                435301 non-null object
INJURIES_TOTAL                    435302 non-null float64
INJURIES_FATAL                    435302 non-null float64
INJURIES_INCAPACITATING           435302 non-null float64
INJURIES_NON_INCAPACITATING       435302 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     435302 non-null float64
INJURIES_NO_INDICATION            435302 non-null float64
INJURIES_UNKNOWN                  435302 non-null float64
LATITUDE                          433736 non-null float64
LONGITUDE                         433736 non-null float64
LOCATION                          433736 non-null object
VEHICLE_USE                       435850 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 159.6+ MB

*** Number of unique CRASH_RECORD_ID on df_personal_crashes_all_years: CRASH_RECORD_ID    280010
dtype: int64

<h2>2.5 Append the 'vehicles'/'crashes' dataframes to create a single analysis dataframe</h2>
<p>
...
</p>

In [34]:
# Our dataframes don’t have a meaningful index, you may wish to append them and ignore the fact 
# that they may have overlapping indexes. To do this, use the ignore_index argument
df_vehicles_crashes_all_years = pd.concat([df_ambulance_crashes_all_years, 
                                           df_fire_crashes_all_years, 
                                           df_police_crashes_all_years, 
                                           df_personal_crashes_all_years], ignore_index=True, sort=False)

df_vehicles_crashes_all_years.info()
print(' ')
# How many unique CRASH_RECORD_ID do we have 
nunique_df_vehicles_crashes_all_years = df_vehicles_crashes_all_years.agg({"CRASH_RECORD_ID": "nunique"})
print("*** Number of unique CRASH_RECORD_ID on df_vehicles_crashes_all_years:", nunique_df_vehicles_crashes_all_years)
print(' ')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442226 entries, 0 to 442225
Data columns (total 48 columns):
CRASH_RECORD_ID                   442226 non-null object
CRASH_DATE-DATE_ONLY              442226 non-null object
CRASH_DATE                        442226 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    442226 non-null object
CRASH_DATE_V02                    442226 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          442226 non-null datetime64[ns]
YEAR_OF_CRASH                     442226 non-null object
CRASH_HOUR                        442226 non-null int64
CRASH_DAY_OF_WEEK                 442226 non-null int64
CRASH_MONTH                       442226 non-null int64
RD_NO                             439242 non-null object
POSTED_SPEED_LIMIT                442226 non-null int64
TRAFFIC_CONTROL_DEVICE            442226 non-null object
DEVICE_CONDITION                  442226 non-null object
WEATHER_CONDITION                 442226 non-null object
LIGHTING_CONDITION                442226 non-null object
FIRST_CRASH_TYPE                  442226 non-null object
TRAFFICWAY_TYPE                   442226 non-null object
LANE_CNT                          153485 non-null float64
ALIGNMENT                         442226 non-null object
ROADWAY_SURFACE_COND              442226 non-null object
ROAD_DEFECT                       442226 non-null object
REPORT_TYPE                       427418 non-null object
CRASH_TYPE                        442226 non-null object
INTERSECTION_RELATED_I            118180 non-null object
NOT_RIGHT_OF_WAY_I                16898 non-null object
HIT_AND_RUN_I                     90931 non-null object
DAMAGE                            442226 non-null object
PRIM_CONTRIBUTORY_CAUSE           442226 non-null object
SEC_CONTRIBUTORY_CAUSE            442226 non-null object
BEAT_OF_OCCURRENCE                442226 non-null float64
DOORING_I                         810 non-null object
WORK_ZONE_I                       2432 non-null object
WORK_ZONE_TYPE                    1881 non-null object
WORKERS_PRESENT_I                 543 non-null object
NUM_UNITS                         442226 non-null int64
MOST_SEVERE_INJURY                441659 non-null object
INJURIES_TOTAL                    441660 non-null float64
INJURIES_FATAL                    441660 non-null float64
INJURIES_INCAPACITATING           441660 non-null float64
INJURIES_NON_INCAPACITATING       441660 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     441660 non-null float64
INJURIES_NO_INDICATION            441660 non-null float64
INJURIES_UNKNOWN                  441660 non-null float64
LATITUDE                          440077 non-null float64
LONGITUDE                         440077 non-null float64
LOCATION                          440077 non-null object
VEHICLE_USE                       442226 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 161.9+ MB

*** Number of unique CRASH_RECORD_ID on df_vehicles_crashes_all_years: CRASH_RECORD_ID    282813
dtype: int64

In [35]:
# How many unique CRASH_RECORD_ID do we have 
grouped_df = df_vehicles_crashes_all_years.agg({"CRASH_RECORD_ID": "nunique"})
grouped_df

CRASH_RECORD_ID    282813
dtype: int64

In [36]:
# sort crash_date_v02 - descending order
df_01_sorted = df_vehicles_crashes_all_years.sort_values(by=['CRASH_DATE_V02', 'CRASH_RECORD_ID'], inplace=False, ascending=True)

# Now that the data has been sorted, reset the index. We will need to drop the old index in the next step 
df_01_sorted.reset_index(inplace=True)

df_01_sorted.head()

,index,CRASH_RECORD_ID,CRASH_DATE-DATE_ONLY,CRASH_DATE,DATE_POLICE_NOTIFIED-DATE_ONLY,CRASH_DATE_V02,DATE_POLICE_NOTIFIED_V02,YEAR_OF_CRASH,CRASH_HOUR,CRASH_DAY_OF_WEEK,...,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,LATITUDE,LONGITUDE,LOCATION,VEHICLE_USE
0,6376,3ad0e3afc351588c7dbc6ab2046c3bf50102b9a5699f3d...,2017-09-01,09/01/2017 12:09:00 AM,2017-09-01,2017-09-01 00:09:00,2017-09-01 00:22:00,2017,0,6,...,0.0,0.0,0.0,0.0,2.0,0.0,41.908094,-87.651737,POINT (-87.651737058543 41.908093682441),PERSONAL
1,6377,3ad0e3afc351588c7dbc6ab2046c3bf50102b9a5699f3d...,2017-09-01,09/01/2017 12:09:00 AM,2017-09-01,2017-09-01 00:09:00,2017-09-01 00:22:00,2017,0,6,...,0.0,0.0,0.0,0.0,2.0,0.0,41.908094,-87.651737,POINT (-87.651737058543 41.908093682441),PERSONAL
2,6378,9bf2bc02db9f7e836195a5c941fc0cccde0eb587546a8c...,2017-09-01,09/01/2017 12:15:00 AM,2017-09-01,2017-09-01 00:15:00,2017-09-01 00:18:00,2017,0,6,...,0.0,0.0,0.0,0.0,3.0,0.0,41.937644,-87.835916,POINT (-87.83591581189 41.937644324106),PERSONAL
3,6379,9bf2bc02db9f7e836195a5c941fc0cccde0eb587546a8c...,2017-09-01,09/01/2017 12:15:00 AM,2017-09-01,2017-09-01 00:15:00,2017-09-01 00:18:00,2017,0,6,...,0.0,0.0,0.0,0.0,3.0,0.0,41.937644,-87.835916,POINT (-87.83591581189 41.937644324106),PERSONAL
4,6380,0a9c7528ec842abf0da9f232197fa20ff4bc4e3550bdb8...,2017-09-01,09/01/2017 12:30:00 AM,2017-09-01,2017-09-01 00:30:00,2017-09-01 00:33:00,2017,0,6,...,0.0,0.0,0.0,0.0,4.0,0.0,41.891208,-87.655734,POINT (-87.655734342734 41.891208139797),PERSONAL

In [37]:
# Create a new dataframe . . . even though our dataframes don’t have a meaningful index, create a new dataframe
# so the RangeIndex output on info() is correct / easier to read

df_vehicles_crashes_all_years = df_01_sorted[['CRASH_RECORD_ID',
                                              'CRASH_DATE-DATE_ONLY',
                                              'CRASH_DATE',
                                              'DATE_POLICE_NOTIFIED-DATE_ONLY',
                                              'CRASH_DATE_V02',
                                              'DATE_POLICE_NOTIFIED_V02',
                                              'YEAR_OF_CRASH',
                                              'CRASH_HOUR',
                                              'CRASH_DAY_OF_WEEK',
                                              'CRASH_MONTH',
                                              'RD_NO',
                                              'POSTED_SPEED_LIMIT',
                                              'TRAFFIC_CONTROL_DEVICE',
                                              'DEVICE_CONDITION',
                                              'WEATHER_CONDITION',
                                              'LIGHTING_CONDITION',
                                              'FIRST_CRASH_TYPE',
                                              'TRAFFICWAY_TYPE',
                                              'LANE_CNT',
                                              'ALIGNMENT',
                                              'ROADWAY_SURFACE_COND',
                                              'ROAD_DEFECT',
                                              'REPORT_TYPE',
                                              'CRASH_TYPE',
                                              'INTERSECTION_RELATED_I',
                                              'NOT_RIGHT_OF_WAY_I',
                                              'HIT_AND_RUN_I',
                                              'DAMAGE',
                                              'PRIM_CONTRIBUTORY_CAUSE',
                                              'SEC_CONTRIBUTORY_CAUSE',
                                              'BEAT_OF_OCCURRENCE',
                                              'DOORING_I',
                                              'WORK_ZONE_I',
                                              'WORK_ZONE_TYPE',
                                              'WORKERS_PRESENT_I',
                                              'NUM_UNITS',
                                              'MOST_SEVERE_INJURY',
                                              'INJURIES_TOTAL',
                                              'INJURIES_FATAL',
                                              'INJURIES_INCAPACITATING',
                                              'INJURIES_NON_INCAPACITATING',
                                              'INJURIES_REPORTED_NOT_EVIDENT',
                                              'INJURIES_NO_INDICATION',
                                              'INJURIES_UNKNOWN',
                                              'LATITUDE',
                                              'LONGITUDE',
                                              'LOCATION',
                                              'VEHICLE_USE'
                                  ]].copy()

df_vehicles_crashes_all_years.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442226 entries, 0 to 442225
Data columns (total 48 columns):
CRASH_RECORD_ID                   442226 non-null object
CRASH_DATE-DATE_ONLY              442226 non-null object
CRASH_DATE                        442226 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    442226 non-null object
CRASH_DATE_V02                    442226 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          442226 non-null datetime64[ns]
YEAR_OF_CRASH                     442226 non-null object
CRASH_HOUR                        442226 non-null int64
CRASH_DAY_OF_WEEK                 442226 non-null int64
CRASH_MONTH                       442226 non-null int64
RD_NO                             439242 non-null object
POSTED_SPEED_LIMIT                442226 non-null int64
TRAFFIC_CONTROL_DEVICE            442226 non-null object
DEVICE_CONDITION                  442226 non-null object
WEATHER_CONDITION                 442226 non-null object
LIGHTING_CONDITION                442226 non-null object
FIRST_CRASH_TYPE                  442226 non-null object
TRAFFICWAY_TYPE                   442226 non-null object
LANE_CNT                          153485 non-null float64
ALIGNMENT                         442226 non-null object
ROADWAY_SURFACE_COND              442226 non-null object
ROAD_DEFECT                       442226 non-null object
REPORT_TYPE                       427418 non-null object
CRASH_TYPE                        442226 non-null object
INTERSECTION_RELATED_I            118180 non-null object
NOT_RIGHT_OF_WAY_I                16898 non-null object
HIT_AND_RUN_I                     90931 non-null object
DAMAGE                            442226 non-null object
PRIM_CONTRIBUTORY_CAUSE           442226 non-null object
SEC_CONTRIBUTORY_CAUSE            442226 non-null object
BEAT_OF_OCCURRENCE                442226 non-null float64
DOORING_I                         810 non-null object
WORK_ZONE_I                       2432 non-null object
WORK_ZONE_TYPE                    1881 non-null object
WORKERS_PRESENT_I                 543 non-null object
NUM_UNITS                         442226 non-null int64
MOST_SEVERE_INJURY                441659 non-null object
INJURIES_TOTAL                    441660 non-null float64
INJURIES_FATAL                    441660 non-null float64
INJURIES_INCAPACITATING           441660 non-null float64
INJURIES_NON_INCAPACITATING       441660 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     441660 non-null float64
INJURIES_NO_INDICATION            441660 non-null float64
INJURIES_UNKNOWN                  441660 non-null float64
LATITUDE                          440077 non-null float64
LONGITUDE                         440077 non-null float64
LOCATION                          440077 non-null object
VEHICLE_USE                       442226 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 161.9+ MB

In [38]:
df_vehicles_crashes_all_years.tail()

,CRASH_RECORD_ID,CRASH_DATE-DATE_ONLY,CRASH_DATE,DATE_POLICE_NOTIFIED-DATE_ONLY,CRASH_DATE_V02,DATE_POLICE_NOTIFIED_V02,YEAR_OF_CRASH,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,...,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,LATITUDE,LONGITUDE,LOCATION,VEHICLE_USE
442221,5fed360fbb9a7e074cb22a5db7eb09383155eb945dab8a...,2020-08-31,08/31/2020 11:03:00 PM,2020-08-31,2020-08-31 23:03:00,2020-08-31 23:03:00,2020,23,2,8,...,0.0,0.0,0.0,0.0,1.0,0.0,41.909597,-87.756899,POINT (-87.756899292254 41.90959735249),PERSONAL
442222,5fed360fbb9a7e074cb22a5db7eb09383155eb945dab8a...,2020-08-31,08/31/2020 11:03:00 PM,2020-08-31,2020-08-31 23:03:00,2020-08-31 23:03:00,2020,23,2,8,...,0.0,0.0,0.0,0.0,1.0,0.0,41.909597,-87.756899,POINT (-87.756899292254 41.90959735249),PERSONAL
442223,2404bf6e288d08fe7938bca8fedc101ceb27278ba59ca5...,2020-08-31,08/31/2020 11:15:00 PM,2020-09-01,2020-08-31 23:15:00,2020-09-01 00:00:00,2020,23,2,8,...,0.0,0.0,2.0,0.0,1.0,0.0,41.811007,-87.623029,POINT (-87.623029109238 41.811007046873),PERSONAL
442224,af7b15466225b90a4bce77ce3524d9bf862f2db43e6146...,2020-08-31,08/31/2020 11:30:00 PM,2020-09-01,2020-08-31 23:30:00,2020-09-01 00:00:00,2020,23,2,8,...,0.0,0.0,0.0,0.0,2.0,0.0,41.766228,-87.566344,POINT (-87.566343755637 41.766228266038),PERSONAL
442225,af7b15466225b90a4bce77ce3524d9bf862f2db43e6146...,2020-08-31,08/31/2020 11:30:00 PM,2020-09-01,2020-08-31 23:30:00,2020-09-01 00:00:00,2020,23,2,8,...,0.0,0.0,0.0,0.0,2.0,0.0,41.766228,-87.566344,POINT (-87.566343755637 41.766228266038),PERSONAL

In [39]:
# How many unique CRASH_RECORD_ID do we have 
nunique = df_vehicles_crashes_all_years.agg({"CRASH_RECORD_ID": "nunique"})
print("Number of unique CRASH_RECORD_ID on df_vehicles_crashes_all_years:", nunique)
print(' ')
# To remove duplicates and keep last occurences, use keep.
foo_unique = df_vehicles_crashes_all_years.drop_duplicates(subset=['CRASH_RECORD_ID', 'CRASH_DATE_V02'], keep='last')
print("*** Number of records in foo_unique:", foo_unique.agg({"CRASH_RECORD_ID": "nunique"}))


# Now that the data has been sorted, reset the index. We will need to drop the old index in the next step 
foo_unique.reset_index(inplace=True)

foo_unique.head()

Number of unique CRASH_RECORD_ID on df_vehicles_crashes_all_years: CRASH_RECORD_ID    282813
dtype: int64

*** Number of records in foo_unique: CRASH_RECORD_ID    282813
dtype: int64

,index,CRASH_RECORD_ID,CRASH_DATE-DATE_ONLY,CRASH_DATE,DATE_POLICE_NOTIFIED-DATE_ONLY,CRASH_DATE_V02,DATE_POLICE_NOTIFIED_V02,YEAR_OF_CRASH,CRASH_HOUR,CRASH_DAY_OF_WEEK,...,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,LATITUDE,LONGITUDE,LOCATION,VEHICLE_USE
0,1,3ad0e3afc351588c7dbc6ab2046c3bf50102b9a5699f3d...,2017-09-01,09/01/2017 12:09:00 AM,2017-09-01,2017-09-01 00:09:00,2017-09-01 00:22:00,2017,0,6,...,0.0,0.0,0.0,0.0,2.0,0.0,41.908094,-87.651737,POINT (-87.651737058543 41.908093682441),PERSONAL
1,3,9bf2bc02db9f7e836195a5c941fc0cccde0eb587546a8c...,2017-09-01,09/01/2017 12:15:00 AM,2017-09-01,2017-09-01 00:15:00,2017-09-01 00:18:00,2017,0,6,...,0.0,0.0,0.0,0.0,3.0,0.0,41.937644,-87.835916,POINT (-87.83591581189 41.937644324106),PERSONAL
2,4,0a9c7528ec842abf0da9f232197fa20ff4bc4e3550bdb8...,2017-09-01,09/01/2017 12:30:00 AM,2017-09-01,2017-09-01 00:30:00,2017-09-01 00:33:00,2017,0,6,...,0.0,0.0,0.0,0.0,4.0,0.0,41.891208,-87.655734,POINT (-87.655734342734 41.891208139797),PERSONAL
3,5,98ce5356ccc2d876ca243b72d33e2dfe5c7ca11ffec84c...,2017-09-01,09/01/2017 01:15:00 AM,2017-09-01,2017-09-01 01:15:00,2017-09-01 01:21:00,2017,1,6,...,0.0,0.0,0.0,0.0,2.0,0.0,41.764713,-87.673678,POINT (-87.673678489303 41.764713187398),PERSONAL
4,6,ef8c180f45f8918292d088ae9852468b855ad477ed6801...,2017-09-01,09/01/2017 01:30:00 AM,2017-09-01,2017-09-01 01:30:00,2017-09-01 18:56:00,2017,1,6,...,0.0,0.0,0.0,0.0,2.0,0.0,41.806062,-87.730818,POINT (-87.730817709202 41.806062283086),PERSONAL

In [61]:
# Create a new dataframe . . . even though our dataframes don’t have a meaningful index, create a new dataframe
# so the RangeIndex output on info() is correct / easier to read

df_vehicles_crashes_all_years_unique = foo_unique[['CRASH_RECORD_ID', 
                                                   'CRASH_DATE-DATE_ONLY',
                                                   'CRASH_DATE',
                                                   'DATE_POLICE_NOTIFIED-DATE_ONLY',
                                                   'CRASH_DATE_V02',
                                                   'DATE_POLICE_NOTIFIED_V02',
                                                   'YEAR_OF_CRASH',
                                                   'CRASH_HOUR',
                                                   'CRASH_DAY_OF_WEEK',
                                                   'CRASH_MONTH',
                                                   'RD_NO',
                                                   'POSTED_SPEED_LIMIT',
                                                   'TRAFFIC_CONTROL_DEVICE',
                                                   'DEVICE_CONDITION',
                                                   'WEATHER_CONDITION',
                                                   'LIGHTING_CONDITION',
                                                   'FIRST_CRASH_TYPE',
                                                   'TRAFFICWAY_TYPE',
                                                   'LANE_CNT',
                                                   'ALIGNMENT',
                                                   'ROADWAY_SURFACE_COND',
                                                   'ROAD_DEFECT',
                                                   'REPORT_TYPE',
                                                   'CRASH_TYPE',
                                                   'INTERSECTION_RELATED_I',
                                                   'NOT_RIGHT_OF_WAY_I',
                                                   'HIT_AND_RUN_I',
                                                   'DAMAGE',
                                                   'PRIM_CONTRIBUTORY_CAUSE',
                                                   'SEC_CONTRIBUTORY_CAUSE',
                                                   'BEAT_OF_OCCURRENCE',
                                                   'DOORING_I',
                                                   'WORK_ZONE_I',
                                                   'WORK_ZONE_TYPE',
                                                   'WORKERS_PRESENT_I',
                                                   'NUM_UNITS',
                                                   'MOST_SEVERE_INJURY',
                                                   'INJURIES_TOTAL',
                                                   'INJURIES_FATAL',
                                                   'INJURIES_INCAPACITATING',
                                                   'INJURIES_NON_INCAPACITATING',
                                                   'INJURIES_REPORTED_NOT_EVIDENT',
                                                   'INJURIES_NO_INDICATION',
                                                   'INJURIES_UNKNOWN',
                                                   'LATITUDE',
                                                   'LONGITUDE',
                                                   'LOCATION',
                                                   'VEHICLE_USE' 
                                                  ]].copy()

df_vehicles_crashes_all_years_unique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282813 entries, 0 to 282812
Data columns (total 48 columns):
CRASH_RECORD_ID                   282813 non-null object
CRASH_DATE-DATE_ONLY              282813 non-null object
CRASH_DATE                        282813 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    282813 non-null object
CRASH_DATE_V02                    282813 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          282813 non-null datetime64[ns]
YEAR_OF_CRASH                     282813 non-null object
CRASH_HOUR                        282813 non-null int64
CRASH_DAY_OF_WEEK                 282813 non-null int64
CRASH_MONTH                       282813 non-null int64
RD_NO                             280927 non-null object
POSTED_SPEED_LIMIT                282813 non-null int64
TRAFFIC_CONTROL_DEVICE            282813 non-null object
DEVICE_CONDITION                  282813 non-null object
WEATHER_CONDITION                 282813 non-null object
LIGHTING_CONDITION                282813 non-null object
FIRST_CRASH_TYPE                  282813 non-null object
TRAFFICWAY_TYPE                   282813 non-null object
LANE_CNT                          98284 non-null float64
ALIGNMENT                         282813 non-null object
ROADWAY_SURFACE_COND              282813 non-null object
ROAD_DEFECT                       282813 non-null object
REPORT_TYPE                       274837 non-null object
CRASH_TYPE                        282813 non-null object
INTERSECTION_RELATED_I            71132 non-null object
NOT_RIGHT_OF_WAY_I                11683 non-null object
HIT_AND_RUN_I                     69931 non-null object
DAMAGE                            282813 non-null object
PRIM_CONTRIBUTORY_CAUSE           282813 non-null object
SEC_CONTRIBUTORY_CAUSE            282813 non-null object
BEAT_OF_OCCURRENCE                282813 non-null float64
DOORING_I                         716 non-null object
WORK_ZONE_I                       1727 non-null object
WORK_ZONE_TYPE                    1360 non-null object
WORKERS_PRESENT_I                 410 non-null object
NUM_UNITS                         282813 non-null int64
MOST_SEVERE_INJURY                282420 non-null object
INJURIES_TOTAL                    282421 non-null float64
INJURIES_FATAL                    282421 non-null float64
INJURIES_INCAPACITATING           282421 non-null float64
INJURIES_NON_INCAPACITATING       282421 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     282421 non-null float64
INJURIES_NO_INDICATION            282421 non-null float64
INJURIES_UNKNOWN                  282421 non-null float64
LATITUDE                          281356 non-null float64
LONGITUDE                         281356 non-null float64
LOCATION                          281356 non-null object
VEHICLE_USE                       282813 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 103.6+ MB

In [62]:
# Third position would be at index 2, because of zero-indexing.
df_vehicles_crashes_all_years_unique.insert(48, 'X_FOR_COUNTING', 1)

In [63]:
df_vehicles_crashes_all_years_unique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282813 entries, 0 to 282812
Data columns (total 49 columns):
CRASH_RECORD_ID                   282813 non-null object
CRASH_DATE-DATE_ONLY              282813 non-null object
CRASH_DATE                        282813 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    282813 non-null object
CRASH_DATE_V02                    282813 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          282813 non-null datetime64[ns]
YEAR_OF_CRASH                     282813 non-null object
CRASH_HOUR                        282813 non-null int64
CRASH_DAY_OF_WEEK                 282813 non-null int64
CRASH_MONTH                       282813 non-null int64
RD_NO                             280927 non-null object
POSTED_SPEED_LIMIT                282813 non-null int64
TRAFFIC_CONTROL_DEVICE            282813 non-null object
DEVICE_CONDITION                  282813 non-null object
WEATHER_CONDITION                 282813 non-null object
LIGHTING_CONDITION                282813 non-null object
FIRST_CRASH_TYPE                  282813 non-null object
TRAFFICWAY_TYPE                   282813 non-null object
LANE_CNT                          98284 non-null float64
ALIGNMENT                         282813 non-null object
ROADWAY_SURFACE_COND              282813 non-null object
ROAD_DEFECT                       282813 non-null object
REPORT_TYPE                       274837 non-null object
CRASH_TYPE                        282813 non-null object
INTERSECTION_RELATED_I            71132 non-null object
NOT_RIGHT_OF_WAY_I                11683 non-null object
HIT_AND_RUN_I                     69931 non-null object
DAMAGE                            282813 non-null object
PRIM_CONTRIBUTORY_CAUSE           282813 non-null object
SEC_CONTRIBUTORY_CAUSE            282813 non-null object
BEAT_OF_OCCURRENCE                282813 non-null float64
DOORING_I                         716 non-null object
WORK_ZONE_I                       1727 non-null object
WORK_ZONE_TYPE                    1360 non-null object
WORKERS_PRESENT_I                 410 non-null object
NUM_UNITS                         282813 non-null int64
MOST_SEVERE_INJURY                282420 non-null object
INJURIES_TOTAL                    282421 non-null float64
INJURIES_FATAL                    282421 non-null float64
INJURIES_INCAPACITATING           282421 non-null float64
INJURIES_NON_INCAPACITATING       282421 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     282421 non-null float64
INJURIES_NO_INDICATION            282421 non-null float64
INJURIES_UNKNOWN                  282421 non-null float64
LATITUDE                          281356 non-null float64
LONGITUDE                         281356 non-null float64
LOCATION                          281356 non-null object
VEHICLE_USE                       282813 non-null object
X_FOR_COUNTING                    282813 non-null int64
dtypes: datetime64[ns](2), float64(11), int64(6), object(30)
memory usage: 105.7+ MB

In [64]:
df_vehicles_crashes_all_years_unique.head()

,CRASH_RECORD_ID,CRASH_DATE-DATE_ONLY,CRASH_DATE,DATE_POLICE_NOTIFIED-DATE_ONLY,CRASH_DATE_V02,DATE_POLICE_NOTIFIED_V02,YEAR_OF_CRASH,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,...,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,LATITUDE,LONGITUDE,LOCATION,VEHICLE_USE,X_FOR_COUNTING
0,3ad0e3afc351588c7dbc6ab2046c3bf50102b9a5699f3d...,2017-09-01,09/01/2017 12:09:00 AM,2017-09-01,2017-09-01 00:09:00,2017-09-01 00:22:00,2017,0,6,9,...,0.0,0.0,0.0,2.0,0.0,41.908094,-87.651737,POINT (-87.651737058543 41.908093682441),PERSONAL,1
1,9bf2bc02db9f7e836195a5c941fc0cccde0eb587546a8c...,2017-09-01,09/01/2017 12:15:00 AM,2017-09-01,2017-09-01 00:15:00,2017-09-01 00:18:00,2017,0,6,9,...,0.0,0.0,0.0,3.0,0.0,41.937644,-87.835916,POINT (-87.83591581189 41.937644324106),PERSONAL,1
2,0a9c7528ec842abf0da9f232197fa20ff4bc4e3550bdb8...,2017-09-01,09/01/2017 12:30:00 AM,2017-09-01,2017-09-01 00:30:00,2017-09-01 00:33:00,2017,0,6,9,...,0.0,0.0,0.0,4.0,0.0,41.891208,-87.655734,POINT (-87.655734342734 41.891208139797),PERSONAL,1
3,98ce5356ccc2d876ca243b72d33e2dfe5c7ca11ffec84c...,2017-09-01,09/01/2017 01:15:00 AM,2017-09-01,2017-09-01 01:15:00,2017-09-01 01:21:00,2017,1,6,9,...,0.0,0.0,0.0,2.0,0.0,41.764713,-87.673678,POINT (-87.673678489303 41.764713187398),PERSONAL,1
4,ef8c180f45f8918292d088ae9852468b855ad477ed6801...,2017-09-01,09/01/2017 01:30:00 AM,2017-09-01,2017-09-01 01:30:00,2017-09-01 18:56:00,2017,1,6,9,...,0.0,0.0,0.0,2.0,0.0,41.806062,-87.730818,POINT (-87.730817709202 41.806062283086),PERSONAL,1

In [41]:
df_vehicles_crashes_all_years_unique.groupby(['YEAR_OF_CRASH'])['VEHICLE_USE'].value_counts()
#df_vehicles_sorted_sub.groupby(['year_of_crash'])['VEHICLE_USE'].value_counts(normalize=True)

YEAR_OF_CRASH  VEHICLE_USE
2017           PERSONAL       32644
               POLICE           214
               AMBULANCE         41
               FIRE              32
2018           PERSONAL       99507
               POLICE           672
               AMBULANCE        131
               FIRE             118
2019           PERSONAL       97457
               POLICE           744
               AMBULANCE        123
               FIRE             119
2020           PERSONAL       50402
               POLICE           451
               AMBULANCE         86
               FIRE              72
Name: VEHICLE_USE, dtype: int64

In [42]:
df_group_one = df_vehicles_crashes_all_years_unique[['YEAR_OF_CRASH','VEHICLE_USE','INJURIES_TOTAL']]

<h2>x.x Summary statistics for number of traffic accidents</h2>
<p>
...
</p>

In [53]:
# grouping results
df_gptest = df_vehicles_crashes_all_years_unique[['YEAR_OF_CRASH','VEHICLE_USE','CRASH_RECORD_ID']]
grouped_test1 = df_gptest.groupby(['YEAR_OF_CRASH','VEHICLE_USE'],as_index=False).count()
grouped_test1

   YEAR_OF_CRASH VEHICLE_USE  CRASH_RECORD_ID
0           2017   AMBULANCE               41
1           2017        FIRE               32
2           2017    PERSONAL            32644
3           2017      POLICE              214
4           2018   AMBULANCE              131
5           2018        FIRE              118
6           2018    PERSONAL            99507
7           2018      POLICE              672
8           2019   AMBULANCE              123
9           2019        FIRE              119
10          2019    PERSONAL            97457
11          2019      POLICE              744
12          2020   AMBULANCE               86
13          2020        FIRE               72
14          2020    PERSONAL            50402
15          2020      POLICE              451

In [54]:
grouped_pivot = grouped_test1.pivot(index='YEAR_OF_CRASH',columns='VEHICLE_USE')
grouped_pivot

              CRASH_RECORD_ID
VEHICLE_USE         AMBULANCE FIRE PERSONAL POLICE
YEAR_OF_CRASH
2017                       41   32    32644    214
2018                      131  118    99507    672
2019                      123  119    97457    744
2020                       86   72    50402    451

In [65]:
# Get the summary statistics from describe()
df_gptest2 = df_vehicles_crashes_all_years_unique[['VEHICLE_USE','X_FOR_COUNTING']]
grouped_describe = df_gptest2.groupby(['VEHICLE_USE'],as_index= False).describe()
grouped_describe

  X_FOR_COUNTING
           count mean  std  min  25%  50%  75%  max
0          381.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
1          341.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
2       280010.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
3         2081.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0

In [56]:
# Count the number of records with a CRASH_RECORD_ID 
df_gptest2 = df_vehicles_crashes_all_years_unique[['VEHICLE_USE','CRASH_RECORD_ID']]
grouped_count = df_gptest2.groupby(['VEHICLE_USE'],as_index= False).count()
grouped_count

  VEHICLE_USE  CRASH_RECORD_ID
0   AMBULANCE              381
1        FIRE              341
2    PERSONAL           280010
3      POLICE             2081

<h2>x.x Summary statistics for total injuries</h2>
<p>
...
</p>

In [43]:
# grouping results
df_gptest = df_vehicles_crashes_all_years_unique[['YEAR_OF_CRASH','VEHICLE_USE','INJURIES_TOTAL']]
grouped_test1 = df_gptest.groupby(['YEAR_OF_CRASH','VEHICLE_USE'],as_index=False).sum()
grouped_test1

   YEAR_OF_CRASH VEHICLE_USE  INJURIES_TOTAL
0           2017   AMBULANCE             0.0
1           2017        FIRE             0.0
2           2017    PERSONAL          6661.0
3           2017      POLICE            27.0
4           2018   AMBULANCE            12.0
5           2018        FIRE             3.0
6           2018    PERSONAL         19535.0
7           2018      POLICE           116.0
8           2019   AMBULANCE             5.0
9           2019        FIRE             9.0
10          2019    PERSONAL         19215.0
11          2019      POLICE           138.0
12          2020   AMBULANCE             8.0
13          2020        FIRE             2.0
14          2020    PERSONAL         11402.0
15          2020      POLICE            94.0

In [44]:
grouped_pivot = grouped_test1.pivot(index='YEAR_OF_CRASH',columns='VEHICLE_USE')
grouped_pivot

              INJURIES_TOTAL
VEHICLE_USE        AMBULANCE FIRE PERSONAL POLICE
YEAR_OF_CRASH
2017                     0.0  0.0   6661.0   27.0
2018                    12.0  3.0  19535.0  116.0
2019                     5.0  9.0  19215.0  138.0
2020                     8.0  2.0  11402.0   94.0

In [46]:
# Get the mean number of injuries
df_gptest2 = df_vehicles_crashes_all_years_unique[['VEHICLE_USE','INJURIES_TOTAL']]
grouped_mean = df_gptest2.groupby(['VEHICLE_USE'],as_index= False).mean()
grouped_mean

  VEHICLE_USE  INJURIES_TOTAL
0   AMBULANCE        0.065963
1        FIRE        0.041298
2    PERSONAL        0.203172
3      POLICE        0.180897

In [51]:
# Get the variance number of injuries
df_gptest2 = df_vehicles_crashes_all_years_unique[['VEHICLE_USE','INJURIES_TOTAL']]
grouped_var = df_gptest2.groupby(['VEHICLE_USE'],as_index= False).var()
grouped_var

  VEHICLE_USE  INJURIES_TOTAL
0   AMBULANCE        0.130558
1        FIRE        0.075213
2    PERSONAL        0.348112
3      POLICE        0.350948

In [52]:
# Get the variance number of injuries
df_gptest2 = df_vehicles_crashes_all_years_unique[['VEHICLE_USE','INJURIES_TOTAL']]
grouped_var = df_gptest2.groupby(['VEHICLE_USE'],as_index= False).describe()
grouped_var

  INJURIES_TOTAL
           count      mean       std  min  25%  50%  75%   max
0          379.0  0.065963  0.361328  0.0  0.0  0.0  0.0   5.0
1          339.0  0.041298  0.274249  0.0  0.0  0.0  0.0   3.0
2       279630.0  0.203172  0.590010  0.0  0.0  0.0  0.0  19.0
3         2073.0  0.180897  0.592408  0.0  0.0  0.0  0.0   6.0

In [48]:
# Get the minimum number of injuries
df_gptest2 = df_vehicles_crashes_all_years_unique[['VEHICLE_USE','INJURIES_TOTAL']]
grouped_min = df_gptest2.groupby(['VEHICLE_USE'],as_index= False).min()
grouped_min

  VEHICLE_USE  INJURIES_TOTAL
0   AMBULANCE             0.0
1        FIRE             0.0
2    PERSONAL             0.0
3      POLICE             0.0

In [49]:
# Get the maximum number of injuries
df_gptest2 = df_vehicles_crashes_all_years_unique[['VEHICLE_USE','INJURIES_TOTAL']]
grouped_max = df_gptest2.groupby(['VEHICLE_USE'],as_index= False).max()
grouped_max

  VEHICLE_USE  INJURIES_TOTAL
0   AMBULANCE             5.0
1        FIRE             3.0
2    PERSONAL            19.0
3      POLICE             6.0

In [ ]:
MOST_SEVERE_INJURY                282420 non-null object
INJURIES_TOTAL                    282421 non-null float64
INJURIES_FATAL                    282421 non-null float64

In [68]:
df_gptest2 = df_vehicles_crashes_all_years_unique[['VEHICLE_USE','MOST_SEVERE_INJURY']]
grouped_count = df_gptest2.groupby(['MOST_SEVERE_INJURY'],as_index= False).count()
grouped_count

         MOST_SEVERE_INJURY  VEHICLE_USE
0                     FATAL          231
1     INCAPACITATING INJURY         5094
2   NO INDICATION OF INJURY       241715
3  NONINCAPACITATING INJURY        22614
4     REPORTED, NOT EVIDENT        12766

In [69]:
# grouping results
df_gptest = df_vehicles_crashes_all_years_unique[['VEHICLE_USE','MOST_SEVERE_INJURY','X_FOR_COUNTING']]
grouped_test1 = df_gptest.groupby(['VEHICLE_USE','MOST_SEVERE_INJURY'],as_index=False).sum()
grouped_test1

   VEHICLE_USE        MOST_SEVERE_INJURY  X_FOR_COUNTING
0    AMBULANCE     INCAPACITATING INJURY               3
1    AMBULANCE   NO INDICATION OF INJURY             361
2    AMBULANCE  NONINCAPACITATING INJURY              10
3    AMBULANCE     REPORTED, NOT EVIDENT               5
4         FIRE     INCAPACITATING INJURY               1
5         FIRE   NO INDICATION OF INJURY             329
6         FIRE  NONINCAPACITATING INJURY               5
7         FIRE     REPORTED, NOT EVIDENT               4
8     PERSONAL                     FATAL             230
9     PERSONAL     INCAPACITATING INJURY            5052
10    PERSONAL   NO INDICATION OF INJURY          239193
11    PERSONAL  NONINCAPACITATING INJURY           22452
12    PERSONAL     REPORTED, NOT EVIDENT           12702
13      POLICE                     FATAL               1
14      POLICE     INCAPACITATING INJURY              38
15      POLICE   NO INDICATION OF INJURY            1832
16      POLICE  NONINCAPACITATING INJURY             147
17      POLICE     REPORTED, NOT EVIDENT              55

In [70]:
grouped_pivot = grouped_test1.pivot(index='VEHICLE_USE',columns='MOST_SEVERE_INJURY')
grouped_pivot

                   X_FOR_COUNTING                        \
MOST_SEVERE_INJURY          FATAL INCAPACITATING INJURY
VEHICLE_USE
AMBULANCE                     NaN                   3.0
FIRE                          NaN                   1.0
PERSONAL                    230.0                5052.0
POLICE                        1.0                  38.0

                                                                     \
MOST_SEVERE_INJURY NO INDICATION OF INJURY NONINCAPACITATING INJURY
VEHICLE_USE
AMBULANCE                            361.0                     10.0
FIRE                                 329.0                      5.0
PERSONAL                          239193.0                  22452.0
POLICE                              1832.0                    147.0


MOST_SEVERE_INJURY REPORTED, NOT EVIDENT
VEHICLE_USE
AMBULANCE                            5.0
FIRE                                 4.0
PERSONAL                         12702.0
POLICE                              55.0

In [141]:
foo = pd.merge(df_crashes_sorted, df_2020_fire_v01, on='CRASH_RECORD_ID')
foo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 0 to 124
Data columns (total 48 columns):
CRASH_RECORD_ID                   125 non-null object
CRASH_DATE-DATE_ONLY              125 non-null object
CRASH_DATE                        125 non-null object
DATE_POLICE_NOTIFIED-DATE_ONLY    125 non-null object
CRASH_DATE_V02                    125 non-null datetime64[ns]
DATE_POLICE_NOTIFIED_V02          125 non-null datetime64[ns]
YEAR_OF_CRASH                     125 non-null object
CRASH_HOUR                        125 non-null int64
CRASH_DAY_OF_WEEK                 125 non-null int64
CRASH_MONTH                       125 non-null int64
RD_NO                             122 non-null object
POSTED_SPEED_LIMIT                125 non-null int64
TRAFFIC_CONTROL_DEVICE            125 non-null object
DEVICE_CONDITION                  125 non-null object
WEATHER_CONDITION                 125 non-null object
LIGHTING_CONDITION                125 non-null object
FIRST_CRASH_TYPE                  125 non-null object
TRAFFICWAY_TYPE                   125 non-null object
LANE_CNT                          0 non-null float64
ALIGNMENT                         125 non-null object
ROADWAY_SURFACE_COND              125 non-null object
ROAD_DEFECT                       125 non-null object
REPORT_TYPE                       124 non-null object
CRASH_TYPE                        125 non-null object
INTERSECTION_RELATED_I            35 non-null object
NOT_RIGHT_OF_WAY_I                14 non-null object
HIT_AND_RUN_I                     4 non-null object
DAMAGE                            125 non-null object
PRIM_CONTRIBUTORY_CAUSE           125 non-null object
SEC_CONTRIBUTORY_CAUSE            125 non-null object
BEAT_OF_OCCURRENCE                125 non-null float64
DOORING_I                         0 non-null object
WORK_ZONE_I                       1 non-null object
WORK_ZONE_TYPE                    0 non-null object
WORKERS_PRESENT_I                 0 non-null object
NUM_UNITS                         125 non-null int64
MOST_SEVERE_INJURY                124 non-null object
INJURIES_TOTAL                    124 non-null float64
INJURIES_FATAL                    124 non-null float64
INJURIES_INCAPACITATING           124 non-null float64
INJURIES_NON_INCAPACITATING       124 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     124 non-null float64
INJURIES_NO_INDICATION            124 non-null float64
INJURIES_UNKNOWN                  124 non-null float64
LATITUDE                          123 non-null float64
LONGITUDE                         123 non-null float64
LOCATION                          123 non-null object
VEHICLE_USE                       125 non-null object
dtypes: datetime64[ns](2), float64(11), int64(5), object(30)
memory usage: 47.9+ KB

In [129]:
foo

,CRASH_RECORD_ID,CRASH_DATE-DATE_ONLY,CRASH_DATE,DATE_POLICE_NOTIFIED-DATE_ONLY,CRASH_DATE_V02,DATE_POLICE_NOTIFIED_V02,YEAR_OF_CRASH,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,...,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,LATITUDE,LONGITUDE,LOCATION,VEHICLE_USE
0,f88b07c088b86bc7daf69809a04542b5f04c340549af7a...,2017-09-01,09/01/2017 01:48:00 PM,2017-09-01,2017-09-01 13:48:00,2017-09-01 14:08:00,2017,13,6,9,...,0.0,0.0,0.0,0.0,2.0,0.0,41.804468,-87.723633,POINT (-87.72363270043 41.804468259258),FIRE
1,a2fda4067d0d6ca26bb87c715453dfc58ad5437907c033...,2017-09-06,09/06/2017 03:21:00 AM,2017-09-06,2017-09-06 03:21:00,2017-09-06 03:23:00,2017,3,4,9,...,0.0,0.0,0.0,0.0,1.0,0.0,41.888689,-87.706497,POINT (-87.706496836577 41.888688539216),FIRE
2,1c6b112cc136a43c537fbf71c091e40f29e3bf7b4bd703...,2017-09-06,09/06/2017 03:42:00 PM,2017-09-06,2017-09-06 15:42:00,2017-09-06 15:43:00,2017,15,4,9,...,0.0,0.0,0.0,0.0,4.0,0.0,41.896474,-87.647895,POINT (-87.647894992663 41.896474017804),FIRE
3,d5e9ac0c0ec3849d64b47536a2a66de92ea99512fba945...,2017-09-09,09/09/2017 02:58:00 PM,2017-09-09,2017-09-09 14:58:00,2017-09-09 14:58:00,2017,14,7,9,...,0.0,0.0,0.0,0.0,6.0,0.0,41.772825,-87.625590,POINT (-87.62559008828 41.772824737276),FIRE
4,d6ab53bb766f92b191a98ce98786d468fcb89e13e87c7e...,2017-09-11,09/11/2017 12:00:00 PM,2017-09-11,2017-09-11 12:00:00,2017-09-11 12:04:00,2017,12,2,9,...,0.0,0.0,0.0,0.0,2.0,0.0,41.735112,-87.663195,POINT (-87.663194556898 41.735112313393),FIRE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,406fbed780f1bab56e3d3cceb34b8670090d57e3cc71ef...,2017-12-22,12/22/2017 09:58:00 AM,2017-12-22,2017-12-22 09:58:00,2017-12-22 09:58:00,2017,9,6,12,...,0.0,0.0,0.0,0.0,2.0,0.0,41.853688,-87.695652,POINT (-87.695651748828 41.85368770724),FIRE
62,283e34a8e9834f35761b7fd6c0ec593545193d77301337...,2017-12-29,12/29/2017 04:30:00 PM,2017-12-29,2017-12-29 16:30:00,2017-12-29 16:44:00,2017,16,6,12,...,0.0,0.0,0.0,0.0,1.0,0.0,41.896869,-87.622494,POINT (-87.622494191221 41.896869040157),FIRE
63,330dc7793cb43bfbc058a2635758a1925f9555a8b235cb...,2017-12-31,12/31/2017 12:20:00 AM,2017-12-31,2017-12-31 00:20:00,2017-12-31 00:30:00,2017,0,1,12,...,0.0,0.0,0.0,0.0,1.0,0.0,41.873049,-87.755465,POINT (-87.755465090596 41.873049274263),FIRE
64,bf5fabdd9e7b82ab7adba901a7ee60a8730359adfc3710...,2017-12-31,12/31/2017 04:30:00 PM,2017-12-31,2017-12-31 16:30:00,2017-12-31 20:20:00,2017,16,1,12,...,0.0,0.0,0.0,0.0,1.0,0.0,41.947525,-87.786473,POINT (-87.786472672278 41.947525079425),FIRE
65,ec0c5db6da9d75152f041e2831bb90714c763b3dccc1ce...,2017-12-31,12/31/2017 05:07:00 PM,2017-12-31,2017-12-31 17:07:00,2017-12-31 17:09:00,2017,17,1,12,...,0.0,0.0,0.0,0.0,2.0,0.0,41.765445,-87.622890,POINT (-87.622890317286 41.765445271116),FIRE

In [133]:
foo.groupby('INJURIES_TOTAL').size()

INJURIES_TOTAL
0.0    61
1.0     4
2.0     1
dtype: int64

In [59]:
# Slice the dataframe to keep rows with specific vehicles 
df = df_vehicles_sorted[(df_vehicles_sorted.VEHICLE_USE.isin(["PERSONAL","POLICE","AMBULANCE","FIRE"]))]

In [60]:
# sort crash_date_v02 - descending order
df_sorted = df.sort_values(by=['crash_date_v02', 'CRASH_RECORD_ID'], inplace=False, ascending=True)

#DataFrame.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')[source]

# Now that the data has been sorted, reset the index. We will need to drop the old index in the next step 
df_sorted.reset_index(inplace=True)


df_sorted.head()

,index,CRASH_RECORD_ID,year_of_crash,crash_date_v02,crash_date-date_only,OCCUPANT_CNT,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_USE
0,2,3ad0e3afc351588c7dbc6ab2046c3bf50102b9a5699f3d...,2017,2017-09-01 00:09:00,2017-09-01,1.0,DRIVER,NaN,PERSONAL
1,3,3ad0e3afc351588c7dbc6ab2046c3bf50102b9a5699f3d...,2017,2017-09-01 00:09:00,2017-09-01,1.0,DRIVER,NaN,PERSONAL
2,4,9bf2bc02db9f7e836195a5c941fc0cccde0eb587546a8c...,2017,2017-09-01 00:15:00,2017-09-01,1.0,DRIVER,NaN,PERSONAL
3,5,9bf2bc02db9f7e836195a5c941fc0cccde0eb587546a8c...,2017,2017-09-01 00:15:00,2017-09-01,2.0,DRIVER,1.0,PERSONAL
4,9,0a9c7528ec842abf0da9f232197fa20ff4bc4e3550bdb8...,2017,2017-09-01 00:30:00,2017-09-01,2.0,DRIVER,1.0,PERSONAL

In [61]:
# The people dataframe has been subset to the date range of interest and we've performed a few transformations; 
# it is time to create a new data frame for people and move on to initial pre-precessing of our other data sets

df_vehicles_sorted_sub = df_sorted[['CRASH_RECORD_ID', 
                                   'year_of_crash', 
                                   'crash_date_v02', 
                                   'crash_date-date_only', 
                                   'OCCUPANT_CNT', 
                                   'UNIT_TYPE', 
                                   'NUM_PASSENGERS', 
                                   'VEHICLE_USE' 
                                  ]].copy()

df_vehicles_sorted_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442226 entries, 0 to 442225
Data columns (total 8 columns):
CRASH_RECORD_ID         442226 non-null object
year_of_crash           442226 non-null object
crash_date_v02          442226 non-null datetime64[ns]
crash_date-date_only    442226 non-null object
OCCUPANT_CNT            442226 non-null float64
UNIT_TYPE               442221 non-null object
NUM_PASSENGERS          81925 non-null float64
VEHICLE_USE             442226 non-null object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 27.0+ MB

In [62]:
# Time to free up some memory . . . 
# In python automatic garbage collection deallocates the variable (pandas DataFrame are also just another object in terms of python). There are different garbage collection strategies that can be tweaked (requires significant learning).
# You can manually trigger the garbage collection using

del [[df, 
      df_sorted
     ]]

In [67]:
# How many unique CRASH_RECORD_ID do we have 
#df_vehicles_sorted_sub.nunique(['CRASH_RECORD_ID'])

grouped_df = df_vehicles_sorted_sub.agg({"CRASH_RECORD_ID": "nunique"})

In [68]:
grouped_df

CRASH_RECORD_ID    282813
dtype: int64

In [69]:
df = df_vehicles_sorted_sub.groupby('year_of_crash')['CRASH_RECORD_ID'].nunique()

In [70]:
df

year_of_crash
2017     32931
2018    100427
2019     98445
2020     51011
Name: CRASH_RECORD_ID, dtype: int64

In [75]:
# Slice the dataframe to keep rows with specific vehicles 
df_2017 = df_vehicles_sorted[(df_vehicles_sorted.year_of_crash.isin(["2017"]))]

df_2017_fire = df_2017[(df_2017.VEHICLE_USE.isin(["FIRE"]))]

In [76]:
df_2017_fire

,CRASH_RECORD_ID,year_of_crash,crash_date_v02,crash_date-date_only,OCCUPANT_CNT,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_USE
316,f88b07c088b86bc7daf69809a04542b5f04c340549af7a...,2017,2017-09-01 13:48:00,2017-09-01,1.0,DRIVER,NaN,FIRE
2839,a2fda4067d0d6ca26bb87c715453dfc58ad5437907c033...,2017,2017-09-06 03:21:00,2017-09-06,1.0,DRIVER,NaN,FIRE
3231,1c6b112cc136a43c537fbf71c091e40f29e3bf7b4bd703...,2017,2017-09-06 15:42:00,2017-09-06,1.0,DRIVER,NaN,FIRE
5061,d5e9ac0c0ec3849d64b47536a2a66de92ea99512fba945...,2017,2017-09-09 14:58:00,2017-09-09,5.0,DRIVER,4.0,FIRE
6135,d6ab53bb766f92b191a98ce98786d468fcb89e13e87c7e...,2017,2017-09-11 12:00:00,2017-09-11,1.0,PARKED,1.0,FIRE
...,...,...,...,...,...,...,...,...
72695,406fbed780f1bab56e3d3cceb34b8670090d57e3cc71ef...,2017,2017-12-22 09:58:00,2017-12-22,1.0,DRIVER,NaN,FIRE
77354,283e34a8e9834f35761b7fd6c0ec593545193d77301337...,2017,2017-12-29 16:30:00,2017-12-29,1.0,DRIVER,NaN,FIRE
78360,330dc7793cb43bfbc058a2635758a1925f9555a8b235cb...,2017,2017-12-31 00:20:00,2017-12-31,1.0,DRIVER,NaN,FIRE
78770,bf5fabdd9e7b82ab7adba901a7ee60a8730359adfc3710...,2017,2017-12-31 16:30:00,2017-12-31,1.0,DRIVER,NaN,FIRE
78798,ec0c5db6da9d75152f041e2831bb90714c763b3dccc1ce...,2017,2017-12-31 17:07:00,2017-12-31,1.0,DRIVER,NaN,FIRE

In [80]:
df_2017_fire_crashes = pd.merge(df_crashes_sorted, df_2017_fire, on='CRASH_RECORD_ID')

In [78]:
df_2017_fire_crashes

,CRASH_RECORD_ID,year_of_crash_x,crash_date_v02_x,crash_date-date_only_x,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,date_police_notified-date_only,MOST_SEVERE_INJURY,INJURIES_TOTAL,...,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,year_of_crash_y,crash_date_v02_y,crash_date-date_only_y,OCCUPANT_CNT,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_USE
0,f88b07c088b86bc7daf69809a04542b5f04c340549af7a...,2017,2017-09-01 13:48:00,2017-09-01,13,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,0.0,2.0,0.0,2017,2017-09-01 13:48:00,2017-09-01,1.0,DRIVER,NaN,FIRE
1,a2fda4067d0d6ca26bb87c715453dfc58ad5437907c033...,2017,2017-09-06 03:21:00,2017-09-06,3,4,9,2017-09-06,NO INDICATION OF INJURY,0.0,...,0.0,1.0,0.0,2017,2017-09-06 03:21:00,2017-09-06,1.0,DRIVER,NaN,FIRE
2,1c6b112cc136a43c537fbf71c091e40f29e3bf7b4bd703...,2017,2017-09-06 15:42:00,2017-09-06,15,4,9,2017-09-06,NO INDICATION OF INJURY,0.0,...,0.0,4.0,0.0,2017,2017-09-06 15:42:00,2017-09-06,1.0,DRIVER,NaN,FIRE
3,d5e9ac0c0ec3849d64b47536a2a66de92ea99512fba945...,2017,2017-09-09 14:58:00,2017-09-09,14,7,9,2017-09-09,NO INDICATION OF INJURY,0.0,...,0.0,6.0,0.0,2017,2017-09-09 14:58:00,2017-09-09,5.0,DRIVER,4.0,FIRE
4,d6ab53bb766f92b191a98ce98786d468fcb89e13e87c7e...,2017,2017-09-11 12:00:00,2017-09-11,12,2,9,2017-09-11,NO INDICATION OF INJURY,0.0,...,0.0,2.0,0.0,2017,2017-09-11 12:00:00,2017-09-11,1.0,PARKED,1.0,FIRE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,406fbed780f1bab56e3d3cceb34b8670090d57e3cc71ef...,2017,2017-12-22 09:58:00,2017-12-22,9,6,12,2017-12-22,NO INDICATION OF INJURY,0.0,...,0.0,2.0,0.0,2017,2017-12-22 09:58:00,2017-12-22,1.0,DRIVER,NaN,FIRE
62,283e34a8e9834f35761b7fd6c0ec593545193d77301337...,2017,2017-12-29 16:30:00,2017-12-29,16,6,12,2017-12-29,NO INDICATION OF INJURY,0.0,...,0.0,1.0,0.0,2017,2017-12-29 16:30:00,2017-12-29,1.0,DRIVER,NaN,FIRE
63,330dc7793cb43bfbc058a2635758a1925f9555a8b235cb...,2017,2017-12-31 00:20:00,2017-12-31,0,1,12,2017-12-31,NO INDICATION OF INJURY,0.0,...,0.0,1.0,0.0,2017,2017-12-31 00:20:00,2017-12-31,1.0,DRIVER,NaN,FIRE
64,bf5fabdd9e7b82ab7adba901a7ee60a8730359adfc3710...,2017,2017-12-31 16:30:00,2017-12-31,16,1,12,2017-12-31,NO INDICATION OF INJURY,0.0,...,0.0,1.0,0.0,2017,2017-12-31 16:30:00,2017-12-31,1.0,DRIVER,NaN,FIRE
65,ec0c5db6da9d75152f041e2831bb90714c763b3dccc1ce...,2017,2017-12-31 17:07:00,2017-12-31,17,1,12,2017-12-31,NO INDICATION OF INJURY,0.0,...,0.0,2.0,0.0,2017,2017-12-31 17:07:00,2017-12-31,1.0,DRIVER,NaN,FIRE

In [81]:
df_2017_fire_crashes_people = pd.merge(df_2017_fire_crashes, df_people_sorted, on='CRASH_RECORD_ID')

In [82]:
df_2017_fire_crashes_people

,CRASH_RECORD_ID,year_of_crash_x,crash_date_v02_x,crash_date-date_only_x,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,date_police_notified-date_only,MOST_SEVERE_INJURY,INJURIES_TOTAL,...,AGE,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,f88b07c088b86bc7daf69809a04542b5f04c340549af7a...,2017,2017-09-01 13:48:00,2017-09-01,13,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,22.0,FOLLOWED TOO CLOSELY,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,f88b07c088b86bc7daf69809a04542b5f04c340549af7a...,2017,2017-09-01 13:48:00,2017-09-01,13,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,57.0,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,a2fda4067d0d6ca26bb87c715453dfc58ad5437907c033...,2017,2017-09-06 03:21:00,2017-09-06,3,4,9,2017-09-06,NO INDICATION OF INJURY,0.0,...,53.0,FOLLOWED TOO CLOSELY,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
3,1c6b112cc136a43c537fbf71c091e40f29e3bf7b4bd703...,2017,2017-09-06 15:42:00,2017-09-06,15,4,9,2017-09-06,NO INDICATION OF INJURY,0.0,...,NaN,EMERGENCY VEHICLE ON CALL,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
4,1c6b112cc136a43c537fbf71c091e40f29e3bf7b4bd703...,2017,2017-09-06 15:42:00,2017-09-06,15,4,9,2017-09-06,NO INDICATION OF INJURY,0.0,...,25.0,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,283e34a8e9834f35761b7fd6c0ec593545193d77301337...,2017,2017-12-29 16:30:00,2017-12-29,16,6,12,2017-12-29,NO INDICATION OF INJURY,0.0,...,56.0,OTHER,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
144,330dc7793cb43bfbc058a2635758a1925f9555a8b235cb...,2017,2017-12-31 00:20:00,2017-12-31,0,1,12,2017-12-31,NO INDICATION OF INJURY,0.0,...,59.0,UNKNOWN,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
145,bf5fabdd9e7b82ab7adba901a7ee60a8730359adfc3710...,2017,2017-12-31 16:30:00,2017-12-31,16,1,12,2017-12-31,NO INDICATION OF INJURY,0.0,...,40.0,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
146,ec0c5db6da9d75152f041e2831bb90714c763b3dccc1ce...,2017,2017-12-31 17:07:00,2017-12-31,17,1,12,2017-12-31,NO INDICATION OF INJURY,0.0,...,51.0,FOLLOWED TOO CLOSELY,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
147,ec0c5db6da9d75152f041e2831bb90714c763b3dccc1ce...,2017,2017-12-31 17:07:00,2017-12-31,17,1,12,2017-12-31,NO INDICATION OF INJURY,0.0,...,NaN,OTHER,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN

In [73]:
df_vehicles_sorted_sub.groupby(['year_of_crash'])['VEHICLE_USE'].value_counts()
#df_vehicles_sorted_sub.groupby(['year_of_crash'])['VEHICLE_USE'].value_counts(normalize=True)

year_of_crash  VEHICLE_USE
2017           PERSONAL        50630
               POLICE            510
               AMBULANCE          80
               FIRE               66
2018           PERSONAL       154042
               POLICE           1554
               AMBULANCE         282
               FIRE              216
2019           PERSONAL       151482
               POLICE           1738
               AMBULANCE         269
               FIRE              241
2020           PERSONAL        79696
               POLICE           1109
               AMBULANCE         186
               FIRE              125
Name: VEHICLE_USE, dtype: int64

In [89]:
df_crashes_sorted.describe()

,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,INJURIES_TOTAL,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN
count,335732.000000,335732.000000,335732.000000,335732.000000,335732.000000,335732.000000,335732.000000,335732.000000,335732.000000,335732.0
mean,13.154918,4.120826,6.660911,0.195805,0.001096,0.021532,0.110031,0.063146,2.028967,0.0
std,5.537191,1.978286,3.440546,0.574604,0.035854,0.171281,0.429222,0.322164,1.199839,0.0
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,9.000000,2.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0
50%,14.000000,4.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.0
75%,17.000000,6.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.0
max,23.000000,7.000000,12.000000,21.000000,3.000000,7.000000,21.000000,15.000000,61.000000,0.0

In [90]:
df_crashes_sorted['INJURIES_TOTAL'].value_counts()

0.0     287832
1.0      36284
2.0       7826
3.0       2397
4.0        851
5.0        316
6.0        132
7.0         48
9.0         14
8.0         10
10.0         6
15.0         5
11.0         4
12.0         2
21.0         2
13.0         1
16.0         1
19.0         1
Name: INJURIES_TOTAL, dtype: int64

In [91]:
df_crashes_sorted['INJURIES_TOTAL'].value_counts(normalize=True)

0.0     0.857327
1.0     0.108074
2.0     0.023310
3.0     0.007140
4.0     0.002535
5.0     0.000941
6.0     0.000393
7.0     0.000143
9.0     0.000042
8.0     0.000030
10.0    0.000018
15.0    0.000015
11.0    0.000012
12.0    0.000006
21.0    0.000006
13.0    0.000003
16.0    0.000003
19.0    0.000003
Name: INJURIES_TOTAL, dtype: float64

dentify_missing_values

<h4>Evaluating for Missing Data</h4>

The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:
<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [73]:
missing_data_crashes_sorted = df_crashes_sorted.isnull()
missing_data_crashes_sorted.head(5)

,CRASH_RECORD_ID,year_of_crash,crash_date_v02,crash_date-date_only,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,date_police_notified-date_only,MOST_SEVERE_INJURY,INJURIES_TOTAL,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [74]:
for column in missing_data_crashes_sorted.columns.values.tolist():
    print(column)
    print (missing_data_crashes_sorted[column].value_counts())
    print("")

CRASH_RECORD_ID
False    336456
Name: CRASH_RECORD_ID, dtype: int64

year_of_crash
False    336456
Name: year_of_crash, dtype: int64

crash_date_v02
False    336456
Name: crash_date_v02, dtype: int64

crash_date-date_only
False    336456
Name: crash_date-date_only, dtype: int64

CRASH_HOUR
False    336456
Name: CRASH_HOUR, dtype: int64

CRASH_DAY_OF_WEEK
False    336456
Name: CRASH_DAY_OF_WEEK, dtype: int64

CRASH_MONTH
False    336456
Name: CRASH_MONTH, dtype: int64

date_police_notified-date_only
False    336456
Name: date_police_notified-date_only, dtype: int64

MOST_SEVERE_INJURY
False    335732
True        724
Name: MOST_SEVERE_INJURY, dtype: int64

INJURIES_TOTAL
False    335738
True        718
Name: INJURIES_TOTAL, dtype: int64

INJURIES_FATAL
False    335738
True        718
Name: INJURIES_FATAL, dtype: int64

INJURIES_INCAPACITATING
False    335738
True        718
Name: INJURIES_INCAPACITATING, dtype: int64

INJURIES_NON_INCAPACITATING
False    335738
True        718
Name: INJURIES_NON_INCAPACITATING, dtype: int64

INJURIES_REPORTED_NOT_EVIDENT
False    335738
True        718
Name: INJURIES_REPORTED_NOT_EVIDENT, dtype: int64

INJURIES_NO_INDICATION
False    335738
True        718
Name: INJURIES_NO_INDICATION, dtype: int64

INJURIES_UNKNOWN
False    335738
True        718
Name: INJURIES_UNKNOWN, dtype: int64

We have a number of missing records in the "injury" attributes. Our goal is to predict predict the severity of an accident. We will drop these rows because any data entry without injury data cannot be used for prediction; therefore any row now without injury data is not useful to us

In [75]:
# simply drop whole row with NaN in "injury" columns
df_vehicles_sorted.dropna(subset=["MOST_SEVERE_INJURY", 
                                  "INJURIES_TOTAL", 
                                  "INJURIES_FATAL", 
                                  "INJURIES_INCAPACITATING", 
                                  "INJURIES_NON_INCAPACITATING", 
                                  "INJURIES_REPORTED_NOT_EVIDENT",
                                  "INJURIES_NO_INDICATION", 
                                  "INJURIES_UNKNOWN" 
                                 ], axis=0, inplace=True)

# reset index, because we droped two rows
df_crashes_sorted.reset_index(drop=True, inplace=True)

In [76]:
df_crashes_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335732 entries, 0 to 335731
Data columns (total 16 columns):
CRASH_RECORD_ID                   335732 non-null object
year_of_crash                     335732 non-null object
crash_date_v02                    335732 non-null datetime64[ns]
crash_date-date_only              335732 non-null object
CRASH_HOUR                        335732 non-null int64
CRASH_DAY_OF_WEEK                 335732 non-null int64
CRASH_MONTH                       335732 non-null int64
date_police_notified-date_only    335732 non-null object
MOST_SEVERE_INJURY                335732 non-null object
INJURIES_TOTAL                    335732 non-null float64
INJURIES_FATAL                    335732 non-null float64
INJURIES_INCAPACITATING           335732 non-null float64
INJURIES_NON_INCAPACITATING       335732 non-null float64
INJURIES_REPORTED_NOT_EVIDENT     335732 non-null float64
INJURIES_NO_INDICATION            335732 non-null float64
INJURIES_UNKNOWN                  335732 non-null float64
dtypes: datetime64[ns](1), float64(7), int64(3), object(5)
memory usage: 41.0+ MB

In [77]:
missing_data_vehicles_sorted = df_vehicles_sorted.isnull()
missing_data_vehicles_sorted.head(5)

,CRASH_RECORD_ID,year_of_crash,crash_date_v02,crash_date-date_only,OCCUPANT_CNT,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,LIC_PLATE_STATE,VEHICLE_USE,VEHICLE_TYPE
0,False,False,False,False,False,False,True,False,True,False,False
1,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False

In [78]:
for column in missing_data_vehicles_sorted.columns.values.tolist():
    print(column)
    print (missing_data_vehicles_sorted[column].value_counts())
    print("")

CRASH_RECORD_ID
False    687584
Name: CRASH_RECORD_ID, dtype: int64

year_of_crash
False    687584
Name: year_of_crash, dtype: int64

crash_date_v02
False    687584
Name: crash_date_v02, dtype: int64

crash_date-date_only
False    687584
Name: crash_date-date_only, dtype: int64

OCCUPANT_CNT
False    669799
True      17785
Name: OCCUPANT_CNT, dtype: int64

UNIT_TYPE
False    686458
True       1126
Name: UNIT_TYPE, dtype: int64

NUM_PASSENGERS
True     581266
False    106318
Name: NUM_PASSENGERS, dtype: int64

VEHICLE_ID
False    669799
True      17785
Name: VEHICLE_ID, dtype: int64

LIC_PLATE_STATE
False    614338
True      73246
Name: LIC_PLATE_STATE, dtype: int64

VEHICLE_USE
False    669799
True      17785
Name: VEHICLE_USE, dtype: int64

VEHICLE_TYPE
False    669799
True      17785
Name: VEHICLE_TYPE, dtype: int64

In [79]:
# simply drop whole row with NaN in columns
df_vehicles_sorted.dropna(subset=["OCCUPANT_CNT", 
                                  "UNIT_TYPE", 
                                  "NUM_PASSENGERS", 
                                  "VEHICLE_ID", 
                                  "LIC_PLATE_STATE", 
                                  "VEHICLE_USE",
                                  "VEHICLE_TYPE" 
                                 ], axis=0, inplace=True)

# reset index, because we droped two rows
df_vehicles_sorted.reset_index(drop=True, inplace=True)

In [80]:
df_vehicles_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103745 entries, 0 to 103744
Data columns (total 11 columns):
CRASH_RECORD_ID         103745 non-null object
year_of_crash           103745 non-null object
crash_date_v02          103745 non-null datetime64[ns]
crash_date-date_only    103745 non-null object
OCCUPANT_CNT            103745 non-null float64
UNIT_TYPE               103745 non-null object
NUM_PASSENGERS          103745 non-null float64
VEHICLE_ID              103745 non-null float64
LIC_PLATE_STATE         103745 non-null object
VEHICLE_USE             103745 non-null object
VEHICLE_TYPE            103745 non-null object
dtypes: datetime64[ns](1), float64(3), object(7)
memory usage: 8.7+ MB

In [118]:
df_people_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750369 entries, 0 to 750368
Data columns (total 18 columns):
CRASH_RECORD_ID          750369 non-null object
year_of_crash            750369 non-null object
crash_date_v02           750369 non-null datetime64[ns]
crash_date-date_only     750369 non-null object
PERSON_TYPE              750369 non-null object
PHYSICAL_CONDITION       590992 non-null object
INJURY_CLASSIFICATION    749998 non-null object
DRIVERS_LICENSE_STATE    444842 non-null object
AGE                      544081 non-null float64
DRIVER_ACTION            590456 non-null object
DRIVER_VISION            590254 non-null object
PHYSICAL_CONDITION       590992 non-null object
PEDPEDAL_ACTION          15740 non-null object
PEDPEDAL_VISIBILITY      15710 non-null object
PEDPEDAL_LOCATION        15742 non-null object
BAC_RESULT               591314 non-null object
BAC_RESULT VALUE         1076 non-null float64
CELL_PHONE_USE           792 non-null object
dtypes: datetime64[ns](1), float64(2), object(15)
memory usage: 103.0+ MB

In [117]:
missing_data_people_sorted = df_people_sorted.isnull()
missing_data_people_sorted.head(5)

,CRASH_RECORD_ID,year_of_crash,crash_date_v02,crash_date-date_only,PERSON_TYPE,PHYSICAL_CONDITION,INJURY_CLASSIFICATION,DRIVERS_LICENSE_STATE,AGE,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,False,False,False,False,False,False,False,True,True,False,False,False,True,True,True,False,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,True,True
2,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,True,True
3,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,True,True
4,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,True,True

In [112]:
for column in missing_data_people_sorted.columns.values.tolist():
    print(column)
    print (missing_data_people_sorted[column].value_counts())
    print("")

CRASH_RECORD_ID
False    750369
Name: CRASH_RECORD_ID, dtype: int64

year_of_crash
False    750369
Name: year_of_crash, dtype: int64

crash_date_v02
False    750369
Name: crash_date_v02, dtype: int64

crash_date-date_only
False    750369
Name: crash_date-date_only, dtype: int64

PERSON_TYPE
False    750369
Name: PERSON_TYPE, dtype: int64

PHYSICAL_CONDITION

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [119]:
df_people_sorted['PHYSICAL_CONDITION'].value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [ ]:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103745 entries, 0 to 103744
Data columns (total 11 columns):
CRASH_RECORD_ID         103745 non-null object
year_of_crash           103745 non-null object
crash_date_v02          103745 non-null datetime64[ns]
crash_date-date_only    103745 non-null object
OCCUPANT_CNT            103745 non-null float64
UNIT_TYPE               103745 non-null object
NUM_PASSENGERS          103745 non-null float64

LIC_PLATE_STATE         103745 non-null object
VEHICLE_USE             103745 non-null object
VEHICLE_TYPE            103745 non-null object

<h2>2.X MERGE DATA FRAMES</h2>

In [58]:
foo = pd.merge(df_crashes_sorted, df_vehicles_sorted, on='CRASH_RECORD_ID')

In [59]:
foo.head(25)

,CRASH_RECORD_ID,year_of_crash_x,crash_date_v02_x,crash_date-date_only_x,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,date_police_notified-date_only,MOST_SEVERE_INJURY,INJURIES_TOTAL,...,year_of_crash_y,crash_date_v02_y,crash_date-date_only_y,OCCUPANT_CNT,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,LIC_PLATE_STATE,VEHICLE_USE,VEHICLE_TYPE
0,d0890764b1f1bf6c7962ee48b4c0ffb7bb6d4c26491a6c...,2017,2017-09-01 00:01:00,2017-09-01,0,6,9,2017-09-02,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 00:01:00,2017-09-01,1.0,DRIVER,NaN,206621.0,NaN,UNKNOWN/NA,UNKNOWN/NA
1,d0890764b1f1bf6c7962ee48b4c0ffb7bb6d4c26491a6c...,2017,2017-09-01 00:01:00,2017-09-01,0,6,9,2017-09-02,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 00:01:00,2017-09-01,0.0,PARKED,NaN,206622.0,IL,NOT IN USE,SPORT UTILITY VEHICLE (SUV)
2,3ad0e3afc351588c7dbc6ab2046c3bf50102b9a5699f3d...,2017,2017-09-01 00:09:00,2017-09-01,0,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 00:09:00,2017-09-01,1.0,DRIVER,NaN,205587.0,IL,PERSONAL,PASSENGER
3,3ad0e3afc351588c7dbc6ab2046c3bf50102b9a5699f3d...,2017,2017-09-01 00:09:00,2017-09-01,0,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 00:09:00,2017-09-01,1.0,DRIVER,NaN,205590.0,IL,PERSONAL,PASSENGER
4,9bf2bc02db9f7e836195a5c941fc0cccde0eb587546a8c...,2017,2017-09-01 00:15:00,2017-09-01,0,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 00:15:00,2017-09-01,1.0,DRIVER,NaN,205597.0,IL,PERSONAL,SPORT UTILITY VEHICLE (SUV)
5,9bf2bc02db9f7e836195a5c941fc0cccde0eb587546a8c...,2017,2017-09-01 00:15:00,2017-09-01,0,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 00:15:00,2017-09-01,2.0,DRIVER,1.0,205598.0,IL,PERSONAL,PICKUP
6,e8c53c9377ddc0d375f1760ce74087105834d7a7927399...,2017,2017-09-01 00:16:00,2017-09-01,0,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 00:16:00,2017-09-01,1.0,DRIVER,NaN,205589.0,IL,UNKNOWN/NA,PASSENGER
7,e8c53c9377ddc0d375f1760ce74087105834d7a7927399...,2017,2017-09-01 00:16:00,2017-09-01,0,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 00:16:00,2017-09-01,1.0,DRIVER,NaN,205591.0,IL,TAXI/FOR HIRE,SPORT UTILITY VEHICLE (SUV)
8,0a9c7528ec842abf0da9f232197fa20ff4bc4e3550bdb8...,2017,2017-09-01 00:30:00,2017-09-01,0,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 00:30:00,2017-09-01,2.0,DRIVER,1.0,205592.0,IL,RIDESHARE SERVICE,PASSENGER
9,0a9c7528ec842abf0da9f232197fa20ff4bc4e3550bdb8...,2017,2017-09-01 00:30:00,2017-09-01,0,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 00:30:00,2017-09-01,2.0,DRIVER,1.0,205593.0,IL,PERSONAL,SPORT UTILITY VEHICLE (SUV)
10,6e92e168c207f9e0e352bc65d6b40b0ef01af658fff507...,2017,2017-09-01 00:30:00,2017-09-01,0,6,9,2017-09-02,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 00:30:00,2017-09-01,1.0,DRIVER,NaN,206232.0,NaN,UNKNOWN/NA,UNKNOWN/NA
11,6e92e168c207f9e0e352bc65d6b40b0ef01af658fff507...,2017,2017-09-01 00:30:00,2017-09-01,0,6,9,2017-09-02,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 00:30:00,2017-09-01,0.0,PARKED,NaN,206233.0,IL,NOT IN USE,PASSENGER
12,98ce5356ccc2d876ca243b72d33e2dfe5c7ca11ffec84c...,2017,2017-09-01 01:15:00,2017-09-01,1,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 01:15:00,2017-09-01,1.0,DRIVER,NaN,205595.0,IL,UNKNOWN/NA,PASSENGER
13,98ce5356ccc2d876ca243b72d33e2dfe5c7ca11ffec84c...,2017,2017-09-01 01:15:00,2017-09-01,1,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 01:15:00,2017-09-01,1.0,DRIVER,NaN,205596.0,IL,PERSONAL,PASSENGER
14,ef8c180f45f8918292d088ae9852468b855ad477ed6801...,2017,2017-09-01 01:30:00,2017-09-01,1,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 01:30:00,2017-09-01,1.0,DRIVER,NaN,206051.0,NaN,UNKNOWN/NA,PASSENGER
15,ef8c180f45f8918292d088ae9852468b855ad477ed6801...,2017,2017-09-01 01:30:00,2017-09-01,1,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 01:30:00,2017-09-01,1.0,DRIVER,NaN,206060.0,IL,PERSONAL,PASSENGER
16,ff66c00801d88056b15c33630a607e7ca7b9fc1b4d29ac...,2017,2017-09-01 01:30:00,2017-09-01,1,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 01:30:00,2017-09-01,1.0,DRIVER,NaN,205599.0,NaN,PERSONAL,PASSENGER
17,ff66c00801d88056b15c33630a607e7ca7b9fc1b4d29ac...,2017,2017-09-01 01:30:00,2017-09-01,1,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 01:30:00,2017-09-01,2.0,DRIVER,1.0,205600.0,IL,PERSONAL,PASSENGER
18,69b330ba61d35d007e6e7ba5033320e222808d8b032dbb...,2017,2017-09-01 01:45:00,2017-09-01,1,6,9,2017-09-01,NONINCAPACITATING INJURY,2.0,...,2017,2017-09-01 01:45:00,2017-09-01,3.0,DRIVER,2.0,205601.0,IL,PERSONAL,PASSENGER
19,69b330ba61d35d007e6e7ba5033320e222808d8b032dbb...,2017,2017-09-01 01:45:00,2017-09-01,1,6,9,2017-09-01,NONINCAPACITATING INJURY,2.0,...,2017,2017-09-01 01:45:00,2017-09-01,1.0,DRIVER,NaN,205605.0,IL,UNKNOWN/NA,SPORT UTILITY VEHICLE (SUV)
20,3cf80117506b1016af327484824fb703707ca025a9fd3f...,2017,2017-09-01 02:00:00,2017-09-01,2,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 02:00:00,2017-09-01,1.0,DRIVER,NaN,206024.0,IL,PERSONAL,PASSENGER
21,3cf80117506b1016af327484824fb703707ca025a9fd3f...,2017,2017-09-01 02:00:00,2017-09-01,2,6,9,2017-09-01,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 02:00:00,2017-09-01,0.0,PARKED,NaN,206025.0,IL,PERSONAL,PASSENGER
22,6a11d615304edb01b8eb70ccfc5f1a5e9f2c474893a6a8...,2017,2017-09-01 02:00:00,2017-09-01,2,6,9,2017-09-05,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 02:00:00,2017-09-01,1.0,DRIVER,NaN,207831.0,NaN,UNKNOWN/NA,UNKNOWN/NA
23,6a11d615304edb01b8eb70ccfc5f1a5e9f2c474893a6a8...,2017,2017-09-01 02:00:00,2017-09-01,2,6,9,2017-09-05,NO INDICATION OF INJURY,0.0,...,2017,2017-09-01 02:00:00,2017-09-01,0.0,PARKED,NaN,207835.0,IL,PERSONAL,PASSENGER
24,76ed3f893c28b0022c45d0c4031eabf3945455fdc2e2fc...,2017,2017-09-01 02:06:00,2017-09-01,2,6,9,2017-09-01,"REPORTED, NOT EVIDENT",1.0,...,2017,2017-09-01 02:06:00,2017-09-01,2.0,DRIVER,1.0,205613.0,IL,PERSONAL,SPORT UTILITY VEHICLE (SUV)

<h3> <font color='red'><i>Version history</i></font> </h3>

---

| Date (YYYY-MM-DD) | Version | Changed By  | Change Description            |
| :---              | :---:   | :---        | :---                          |
| 2020-09-10        | 0.1     | Sean Moffat | 1) Renamed the file (dropped "--v0.0" from file name; 2) added Table of contents; 3) added the Introduction and Data sections; |
| 2020-09-08        | 0.0     | Sean Moffat | Initial file upload to GitHub |